// REF: https://revealjs.com/installation/
// <link rel="stylesheet" href="/node_modules/reveal.js/dist/reveal.css" />
// <link rel="stylesheet" href="/node_modules/reveal.js/dist/theme/black.css" />

@use "../../../../vendor/reveal.js/dist/reveal.css";
//@import "reveal.js/dist/theme/fonts/source-sans-pro/source-sans-pro.css";
//@import "reveal.js/dist/reveal.css";
// import 'reveal.js/dist/theme/black.css';
// import 'reveal.js/dist/theme/white.css';

.reveal {
  //--t-color-primary-dark: #A6F750;
  
  .jk-md-sheet-section-view {
    > div {
      background: none;
    }
  }
  
  .controls {
    color: var(--t-color-text-highlight) !important;
  }
}
