@use "../../mixins";

.laser-pointer {
  animation: pulse 0.8s infinite ease-in-out;
  background: red;
  border-radius: 50%;
  box-shadow: 0 0 12px 6px rgba(255, 0, 0, 0.6);
  height: 16px;
  opacity: 0.6;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 16px;
  z-index: 99999;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 8px 4px rgba(255, 0, 0, 0.4);
  }
  50% {
    box-shadow: 0 0 10px 6px rgba(255, 0, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 8px 4px rgba(255, 0, 0, 0.4);
  }
}

.excalidraw.excalidraw-container {
  .layer-ui__wrapper__top-right.zen-mode-transition {
    display: none !important;
  }
  
  .mobile-misc-tools-container > label[title="Library"] {
    display: none !important;
  }
  
  .Stack.Stack_vertical.App-menu_top__left {
    .selected-shape-actions {
      transform: scale(0.7);
      transform-origin: top left;
    }
  }
}

.huge-text {
  font-size: min(40vh, 15vw);
  line-height: 1;
}

.presentation-tool-buttons {
  position: fixed;
  z-index: var(--zi-tool-buttons);
  right: calc(var(--pad-sm) / 2) !important;
  top: calc(var(--pad-sm) / 2) !important;
  padding: 4px;
  border-radius: var(--border-radius-inline);
  
  &:not(:hover) > *:not(:first-child):not(.is-active) {
    display: none;
    opacity: 0;
  }
  
  &:hover {
    background: var(--cr-we-lt);
    @include mixins.elevation(1);
  }
  
  .jk-button.tiny {
    font-size: 12px;
    --line-height: 18px;
    line-height: 14px;
    --tx-h-m: calc(16px * 1.5);
    
    > .jk-icon {
      height: 14px;
      min-height: 14px;
      min-width: 14px;
      width: 14px;
    }
  }
}
