@use "../../mixins";

.user-logged-head {
  
  .selected.vertical {
    width: 4px;
    height: calc(var(--pad-m) + var(--pad-xt) * 4);
    background: var(--navbar-at-cr);
    position: absolute;
    right: 0;
    border-bottom-left-radius: var(--pad-xt);
    border-top-left-radius: var(--pad-xt);
  }
  
  .selected.horizontal {
    content: "";
    height: 4px;
    width: calc(var(--pad-m) + var(--pad-xt) * 4);
    background: var(--cr-at);
    position: absolute;
    bottom: 0;
    border-top-left-radius: var(--pad-xt);
    border-top-right-radius: var(--pad-xt);
  }
  
  &:hover {
    background: var(--cr-ht-lt);
  }
  
  .nickname {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    
    display: block;
    @include mixins.sm { display: none; }
  }
  
  > img.jk-user-profile-img {
    border-color: var(--cr-tx-ht-it) !important;
  }
}
