.jk-breadcrumb {
  padding-top: 6px;
  padding-bottom: 6px;
  box-sizing: border-box;
  
  .separator {
    padding: 0 4px;
    color: var(--t-color-gray-5);
    
    &:first-child {
      padding-left: 0;
    }
  }
  
  .link:hover {
    > span {
      text-decoration: underline;
    }
  }
  
  > div:last-child {
    font-weight: var(--weight-bold);
  }
}
