@use "../../mixins";

:not(*.jk-button).clickable {
  cursor: initial;
  
  &:not(.disabled):not(.loading) {
    cursor: pointer;
    
    &:hover {
      @include mixins.elevation(1);
    }
  }
}

button.jk-button, input.jk-button, div.jk-button, span.jk-button {
  //--button-border-color: transparent;
  --button-padding: var(--pad-xs); // 16px
  --button-border-padding: var(--button-padding);
  --icon-margin-right: 0;
  --line-height: var(--size-regular-icon); // 24px
  height: auto;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  //outline: var(--button-border-width, 0) solid var(--button-border-color);
  outline: var(--button-border-width, 0) solid transparent;
  outline-offset: -1px;
  //cursor: initial;
  cursor: pointer;
  overflow: hidden;
  //padding: calc(var(--gap) - 2px) var(--button-border-padding);
  //padding: calc(var(--pad-sm) / 2) var(--button-border-padding);
  padding: calc(var(--pad-sm) / 2) var(--pad-sm);
  opacity: 1;
  line-height: calc(var(--line-height) - 4px);
  --size-button-loader-icon: var(--line-height);
  @include mixins.transition(opacity, padding, outline-color);
  
  .jk-icon {
    --size-icon: calc(var(--line-height) - 4px);
  }
  
  &:not(.void):not([class*=" bc-"]):not([class^="bc-"]) {
    //text-transform: uppercase;
    //font-weight: var(--weight-bold);
    background-color: var(--button-background-color, var(--t-color-primary));
  }
  
  &:not(.disabled) {
    //cursor: pointer;
    
    //&:hover {
    //  --button-border-color: var(--button-background-color);
    //  --button-border-width: 3px;
    //}
  }
  
  &.tiny {
    --line-height: var(--size-tiny-icon); // 12px;
    font-size: var(--text-tiny-size); // 12px
    --button-padding: var(--pad-xt); // 8px
  }
  
  &.small {
    --line-height: var(--size-small-icon); // 18px
    font-size: var(--text-small-size); // 14px
    --button-padding: var(--pad-t); // 12px
  }
  
  &.regular {
    --line-height: var(--size-regular-icon); // 24px
    font-size: var(--text-medium-size);
    --button-padding: var(--pad-xs); // 16px
  }
  
  &.large {
    --line-height: var(--size-large-icon); // 36px
    font-size: var(--text-large-size);
    --button-padding: var(--pad-s); // 20px
  }
  
  &.huge {
    --line-height: var(--size-huge-icon); // 48px
    font-size: var(--text-huge-size);
    --button-padding: var(--pad-m); // 24px
  }
  
  &.jk-button-loader {
    
    //.button-loader-icon {
    //  overflow: hidden;
    //  @include mixins.transition(width, min-width, height, min-height, margin-left);
    //
    //  .jk-icon {
    //    width: inherit;
    //    min-width: inherit;
    //    height: inherit;
    //    min-height: inherit;
    //  }
    //}
    
    &.with-loader-icon:not(.only-icon) .button-loader-icon {
      margin-left: var(--gap);
    }
  }
  
  &:not(.jk-button-loader) {
    --size-button-loader-icon: 0px;
  }
  
  &.only-icon {
    border-radius: 50%;
    padding: calc(var(--button-padding) / 4);
    
    .jk-icon {
      margin: auto;
    }
  }
  
  &.disabled:not(.with-loader-icon) {
    opacity: 0.8;
    //cursor: not-allowed;
  }
  
  &.expand { width: 100%; }
  
  &.error {
    --button-background-color: var(--t-color-error);
  }
  
  &.success {
    --button-background-color: var(--t-color-success);
  }
  
  &.with-loader-icon {
    pointer-events: none;
  }
  
  &.icon:not(.only-icon) {
    > :first-child {
      --icon-margin-right: var(--gap);
      margin-right: var(--icon-margin-right);
    }
  }
}

.jk-button.primary {
  --button-background-color: var(--t-color-primary);
  color: var(--t-color-primary-text);
}

.jk-button.secondary {
  --button-background-color: var(--t-color-accent);
  color: var(--t-color-accent-text);
}

.jk-button.text, .jk-button.void { // background color by system default
  --button-background-color: transparent;
  color: inherit;
  
  * {
    color: inherit;
  }
}

.jk-button.outline {
  --button-background-color: transparent;
  outline: 1px solid var(--t-color-primary) !important;
  color: var(--t-color-primary);
  font-weight: var(--weight-bolder) !important;
}

.jk-button.light {
  --button-background-color: var(--t-color-highlight-light);
  --button-border-width: 2px !important;
  outline-offset: 0 !important;
  color: inherit;
}

*.jk-row:not(.block), *.jk-col:not(.block), *.jk-row-col:not(.block), *:not(.jk-row):not(.jk-col):not(.jk-row-col) {
  > button.jk-button, > input.jk-button, > div.jk-button, > span.jk-button {
    &:not(.with-loader-icon):not(.only-icon) {
      //--button-border-padding: calc((var(--size-button-loader-icon) / 2) + var(--button-padding) + var(--gap) / 2);
      
      .button-loader-icon {
        //width: 0;
        //min-width: 0;
        //height: 0;
        //min-height: 0;
      }
    }
  }
}
