@import "../../abstracts/index";

.jk-drawer-filters {
  width: 380px;
  height: 100%;
  
  @include sm {
    width: 100%;
  }
  
  .title {
    text-transform: capitalize;
    font-weight: var(--weight-bold);
    border-bottom: 1px solid var(--t-color-highlight);
  }
  
  .filter-drawer-columns {
    overflow-x: auto;
    
    .tool {
      height: initial;
    }
  }
  
  .filter-drawer-buttons {
    border-top: 1px solid var(--t-color-highlight);
  }
}

.jk-data-viewer-layout {
  height: 100%;
  --pagination-height: 64px;
  
  .jk-data-viewer-content {
    height: 100%;
    // background: var(--t-color-white);
    box-sizing: border-box;
    
    --jk-table-toolbar-height: 50px; // 48 + 2 (border)
    
    .jk-data-viewer-toolbar {
      height: var(--jk-table-toolbar-height);
      position: relative;
      // border-bottom: 1px solid var(--t-color-highlight-light);
      box-sizing: border-box;
      
      &.cards {
        z-index: 1;
      }
      
      .jk-table-view-tools {
        
        background: var(--t-color-highlight-light);
        padding: 4px;
        border-radius: var(--border-radius-inline);
        
        .jk-divider {
          margin: 0;
        }
        
        @include sm {
          flex: 1;
          margin: 0;
        }
        
        .jk-data-viewer-pagination {
          height: auto;
          
          .page-item {
            //color: var(--t-color-gray-1);
            box-sizing: border-box;
            //background-color: var(--t-color-white);
            cursor: pointer;
            
            &.disabled {
              color: var(--t-color-gray-4);
              border-color: var(--t-color-gray-4);
              cursor: not-allowed;
            }
            
            + .page-item {
              //margin-left: var(--pad-xt);
              //@include sm { margin-left: 0; }
            }
          }
          
          .page-items {
            background: none;
            margin: 0;
          }
          
          .jk-select-layout {
            .jk-select {
              --input-border-color: transparent;
              border-color: transparent;
              box-shadow: none;
            }
          }
        }
        
        .jk-select-layout .jk-select, .jk-data-viewer-pagination-toolbar-content {
          background: var(--t-color-white);
        }
        
        .jk-data-viewer-tools-filter {
          min-height: var(--size-regular-icon);
          min-width: var(--size-regular-icon);
          
          .jk-icon {
            padding: 0 4px;
          }
        }
        
        .jk-table-view-tools-view-mode {
          > div.rows {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
          }
          
          > div.cards {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
          }
        }
      }
    }
    
    .jk-view-container {
      position: relative;
      height: calc(100% - var(--jk-table-toolbar-height));
      width: 100%;
      overflow: hidden;
      
      .jk-table-row, .jk-table-head-sticky, .jk-table-head-no-sticky {
        > div:first-child {
          border-bottom-left-radius: var(--border-radius);
          border-top-left-radius: var(--border-radius);
        }
        
        > div:last-child {
          border-bottom-right-radius: var(--border-radius);
          border-top-right-radius: var(--border-radius);
        }
      }
      
      &.rows {
        .layout-line-loader {
          position: relative;
        }
      }
      
      &.cards {
        border-radius: 0;
      }
      
      .jk-table-head-container {
        position: relative;
        box-sizing: border-box;
        
        .jk-table-head {
          z-index: 3;
          position: relative;
          display: flex;
          box-sizing: border-box;
          width: 100%;
          overflow: hidden;
          
          .jk-table-head-sticky {
            display: flex;
            box-sizing: border-box;
            //background: var(--t-color-white-darkest);
            z-index: 2;
          }
          
          .jk-table-head-no-sticky {
            display: flex;
          }
          
          .jk-table-head-field {
            flex: 1;
            height: 100%;
          }
          
          .jk-table-head-cell {
            box-sizing: border-box;
            height: 100%;
            position: relative;
            //padding: 0 var(--pad-xt);
            //background: var(--t-color-highlight-light);
            background: var(--t-color-white-darkest);
            
            .jk-table-head-drag {
              box-sizing: border-box;
              cursor: col-resize;
              position: absolute;
              top: 0;
              right: -5px;
              width: 10px;
              padding: 8px 4px;
              height: 100%;
              z-index: 1;
              display: flex;
              
              //&:hover {
              > div {
                //margin: 0 10px;
                background: var(--t-color-gray-6);
              }
              
              //}
              
              > div {
                width: 100%;
                height: 100%;
              }
            }
            
            .text-head-field {
              height: 100%;
              word-break: break-all;
              line-height: 1;
            }
          }
        }
        
        //&.withVerticalScroll::before {
        //  content: "";
        //  position: absolute;
        //  width: 100%;
        //  left: 0;
        //  height: calc(var(--jk-table-toolbar-height) + 4px);
        //  bottom: 4px;
        //  z-index: 3;
        //  box-shadow: 0 0px 4px 0 var(--t-color-highlight), 0 0px 4px 1px var(--t-color-highlight);
        //}
      }
      
      .jk-data-viewer-body {
        
        &.rows {
          height: calc(100% - var(--jk-data-viewer-header-table-height));
          //background: var(--t-color-white);
        }
        
        &.cards {
          height: 100%;
        }
      }
      
      .jk-list-card-rows-container, .jk-table-rows-container {
        
        .text-field-container {
          padding: 2px 0;
        }
        
        .field, .text-field, .date-field {
          text-align: center;
        }
        
        .text-field {
          white-space: break-spaces;
          word-break: break-word;
          flex-wrap: nowrap;
        }
      }
      
      .jk-table-rows-container {
        .field, .text-field, .date-field {
          height: 100%;
        }
      }
      
      .jk-list-card-rows-container {
        height: 100%;
        width: 100%;
        overflow: auto;
        box-sizing: border-box;
        
        &:before {
          content: "";
          width: calc(100% - var(--size-scrollbar));
          height: 100%;
          pointer-events: none;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          border-bottom-left-radius: var(--border-radius-inline);
        }
        
        &:not(.scroll-on-top).scroll-on-bottom:before {
          box-shadow: 0 10px 10px -14px var(--t-color-highlight-dark) inset;
        }
        
        &.scroll-on-top:not(.scroll-on-bottom):before {
          box-shadow: 0 -10px 10px -14px var(--t-color-highlight-dark) inset;
        }
        
        &:not(.scroll-on-top):not(.scroll-on-bottom):before {
          box-shadow: 0 -10px 10px -14px var(--t-color-highlight-dark) inset, 0 10px 10px -14px var(--t-color-highlight-dark) inset;
        }
        
        .jk-list-card-rows-box {
          width: 100%;
          position: relative;
          
          .jk-list-card-row {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            box-sizing: border-box;
            padding: var(--pad-sm) 3px;
            justify-content: space-between;
            @include sm { justify-content: center; }
          }
          
          .jk-list-card {
            box-sizing: border-box;
            padding: var(--pad-t);
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: var(--t-color-white);
            border: 1px solid var(--t-color-highlight-light);
            
            &:hover {
              @include elevation(1);
            }
            
            .top-container, .upper-container, .center-container, .lower-container, .bottom-container {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              position: relative;
              
              > .top, > .upper, > .center, > .lower, > .bottom {
                position: absolute;
                top: 0;
                width: 100%;
              }
              
              > .top-right, > .upper-right, > .center-right, > .lower-right, > .bottom-right {
                align-items: flex-end;
              }
              
              > .top-left, > .upper-left, > .top-left, > .lower-left, > .bottom-left {
                align-items: flex-start;
              }
              
              &.no-middle {
                > .top-right, > .upper-right, > .center-right, > .lower-right, > .bottom-right, > .top-left, > .upper-left, > .top-left, > .lower-left, > .bottom-left {
                  flex: 1;
                  align-items: center;
                }
              }
            }
            
            .text-field {
              text-align: center;
            }
            
            .text-field-label, .date-field-label {
              line-height: 1;
            }
          }
        }
      }
      
      .jk-table-rows-container {
        box-sizing: border-box;
        display: flex;
        
        .jk-table-rows-box {
          position: relative;
          width: 100%;
          
          .jk-table-row {
            //border-top: 1px solid var(--t-color-highlight-light);
            width: 100%;
            display: flex;
            box-sizing: border-box;
            
            .sticky {
              position: sticky;
              left: 0;
              z-index: 1;
            }
            
            &:hover {
              .jk-table-row-field {
                background-color: var(--t-color-white-darkest);
              }
            }
            
            .field {
              padding: 0 var(--pad-xt);
              overflow: auto;
              box-sizing: border-box;
              
              .text-field-label, .date-field-label {
                display: none;
              }
            }
          }
          
          .jk-table-row:first-child {
            border-color: transparent;
          }
        }
      }
    }
  }
  
  .jk-data-viewer-pagination {
    height: var(--pagination-height);
    
    &.loading {
      // pointer-events: none;
      // opacity: 0.4;
    }
    
    > div:first-child {
      .page-items {
        padding: 2px;
        background-color: var(--t-color-white);
        margin: 0 var(--pad-t);
        @include sm { margin: 0; }
        
        > div {
          cursor: pointer;
          
          &.selected {
            color: var(--t-color-white);
            background-color: var(--t-color-primary-light);
          }
        }
      }
    }
    
    .jk-select {
      background-color: var(--t-color-white);
    }
  }
}

.jk-table-head, .jk-drawer-filters {
  .text-head-field {
    text-transform: capitalize;
    text-align: center;
  }
  
  .tool {
    margin-left: 2px;
    outline: none;
    height: 22px;
    width: 22px;
    cursor: pointer;
  }
}

.jk-table-head-cell-filter-text {
  min-width: 200px;
}

.jk-table-head-cell-filter-select {
  min-width: 200px;
  
  .checkbox-list {
    max-height: 300px;
    overflow-x: auto;
  }
}

.jk-clarification-text {
  white-space: nowrap;
  
  &:first-letter {
    text-transform: uppercase;
  }
}

.jk-table-head-cell-filter-date, .jk-table-head-cell-filter-date-range {
  .buttons {
    width: 100%;
  }
}

.jk-table-head-cell-filter-date-range {
  .date-range {
    flex-wrap: nowrap;
  }
}
