@use "../../mixins";

.google-button {
  span {
    width: 100%;
  }
}

.jk-divider {
  width: 100%;
  position: relative;
  height: var(--pad-m);
  //background-color: var(--t-color-white);
  background-color: transparent;
  text-align: center;
  display: flex;
  text-transform: uppercase;
  color: var(--t-color-gray-5);
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  @include mixins.hg {
    margin: 16px 0;
  }
  @include mixins.lg {
    margin: 12px 0;
  }
  @include mixins.md {
    margin: 8px 0;
  }
  @include mixins.sm {
    margin: 4px 0;
  }
  
  &.small {
    margin: 6px 0;
  }
  
  &.tiny {
    margin: 0;
  }
  
  //--divider-background-color: var(--t-color-gray-6);
  --divider-background-color: var(--t-color-highlight-light);
  
  &:before, &:after {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--divider-background-color);
  }
  
  &:not(:empty) {
    &:before {
      margin-right: var(--pad-xs);
    }
    
    &:after {
      margin-left: var(--pad-xs);
    }
  }
  
  &.horizontal {
    display: initial;
    width: initial;
    //height: auto; // TODO: fix height of horizontal divider
    border-right: 1px solid var(--divider-background-color);
    border-left: 1px solid var(--divider-background-color);
    background-color: var(--divider-background-color);
    
    &:before, &:after {
      content: none;
    }
  }
}

div[class*=" jk-grid"], div[class^="jk-grid"] {
  display: grid;
}

.jk-form-item {
  position: relative;
  
  > p:first-child { // clarification
    height: var(--pad-m);
    line-height: var(--pad-m);
    color: var(--t-color-gray-4);
    font-size: var(--text-small-size);
    position: absolute;
    right: 0;
    
    &::first-letter {
      text-transform: uppercase;
    }
  }
  
  > label > .jk-select-layout {
    line-height: var(--text-medium-height);
    font-weight: var(--weight-regular);
  }
  
  > p:last-child {
    color: var(--t-color-error);
    font-size: var(--text-small-size);
    height: calc(var(--pad-xs) + var(--pad-xs));
    line-height: var(--pad-xs);
    
    &::first-letter {
      text-transform: uppercase;
    }
  }
  
  input, > .jk-input-select-wrapper > .jk-select-layout, .jk-input-password-wrapper {
    width: 100% !important;
  }
}

@mixin disabled-input {
  --input-border-color: var(--t-color-highlight-light);
  background-color: var(--t-color-highlight-light);
  box-shadow: inset 0 0 0 1px var(--input-border-color);
}

.activated {
  box-shadow: inset 0 0 0 1px var(--input-border-color);
  //box-shadow: inset 0 0 0 2px var(--t-color-gray-4);
}

// input textarea
.jk-input-text,
.jk-input-email,
.jk-input-number,
.jk-input-password,
.jk-input-textarea,
.jk-input-file,
.jk-input-files,
.jk-select-layout .jk-select,
.jk-multi-select-layout .jk-select,
.jk-input-date-layout .date-literal-label {
  color: inherit;
  border: none;
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  --input-border-color: var(--t-color-highlight-light);
  //box-shadow: inset 0 0 0 1px var(--input-border-color);
  --input-background-color: transparent;
  background-color: var(--input-background-color);
  outline: 1px solid var(--input-border-color);
  outline-color: var(--input-border-color);
  @include mixins.transition-fast(border-color, box-shadow, outline-color);
  
  &:not(.disabled) {
    &:hover, &:focus, &:active, &.open {
      outline-width: 2px;
      --input-border-color: var(--t-color-highlight-dark);
    }
    
    &:active, &:focus {
      --input-background-color: var(--t-color-highlight-light);
    }
    
    &.error {
      &:hover, &:focus, &:active {
        --input-border-color: var(--t-color-error-dark);
      }
      
      &:active, &:focus {
        --input-background-color: var(--t-color-error-light);
      }
    }
    
    &.success {
      &:hover, &:focus, &:active {
        --input-border-color: var(--t-color-success-dark);
      }
      
      &:active, &:focus {
        --input-background-color: var(--t-color-success-light);
      }
    }
  }
  
  &::-webkit-file-upload-button {
    //visibility: hidden;
  }
  
  &.disabled {
    @include disabled-input;
  }
  
  &.error {
    --input-border-color: var(--t-color-error-light);
  }
  
  &.success {
    --input-border-color: var(--t-color-success-light);
  }
}

.jk-select-layout, .jk-multi-select-layout {
  &:not(:hover):not(:focus):not(:active):not(.focused):not(.open) {
    > .jk-select > .input-icon,
    > .jk-multi-select-selected-icons > .input-icon {
      color: var(--t-color-highlight-dark);
    }
  }
  
  &:not(.disabled) {
    > .jk-select > .jk-multi-select-selected-searchable-icons > .input-icon,
    > .jk-multi-select-selected-icons > .input-icon {
      cursor: pointer;
    }
  }
  
  > .jk-select {
    > .jk-multi-select-selected-searchable-icons > .input-icon, > .jk-multi-select-selected-icons > .input-icon {
      padding: 2px;
      margin: 2px 0;
      border-radius: 50%;
    }
  }
}

.jk-select-options.disabled {
  @include disabled-input;
}

.jk-input-textarea {
  &.extend {
    width: 100%;
  }
}

// input
.jk-input-text, .jk-input-password, .jk-input-email {
  padding: 0px var(--pad-xt);
}

.jk-input-number {
  padding: 0 4px 0 var(--pad-xt);
}

.jk-input-text-wrapper,
.jk-input-number-wrapper,
.jk-input-password-wrapper,
.jk-input-email-wrapper,
.jk-input-file-wrapper,
.jk-input-files-wrapper,
.jk-input-select-wrapper,
.jk-input-cell-phone-number-wrapper,
.jk-input-text-area-wrapper {
  position: relative;
  display: inline-block;
  
  &.extend, &.extend > input {
    width: 100%;
  }
  
  &.required > label {
    > span:first-child {
      &:after {
        content: " *";
        color: var(--t-color-error);
      }
    }
  }
  
  &.label-top-border {
    > label {
      height: 7px;
      top: -5px;
      display: flex;
      align-items: center;
      position: absolute;
      left: var(--pad-t);
      padding: 0 4px;
      background-color: var(--t-color-white);
      line-height: 0.9;
    }
    
    input.disabled + label, textarea.disabled + label, div.jk-select-layout.disabled + label {
      background: transparent;
    }
  }
  
  &.label-top {
    display: flex;
    flex-direction: column-reverse;
  }
  
  &.label-left {
    display: flex;
    flex-direction: row-reverse;
    
    > label {
      display: flex;
      align-items: center;
    }
  }
  
  > .jk-icon {
    color: var(--t-color-gray-4);
    position: absolute;
    bottom: 0;
    right: 6px;
    cursor: pointer;
  }
  
  &:has(.jk-icon) {
    > input {
      padding-right: var(--pad-xl);
    }
  }
  
  input:not(.disabled):hover + label, input:not(.disabled):focus + label, input:not(.disabled):active + label {
    font-weight: var(--weight-bold);
    
    + .input-icon {
      color: var(--t-color-gray-3);
    }
  }
  
  > label {
    font-weight: var(--weight-bold);
  }
  
  &.no-label {
    > label {
      display: none;
    }
  }
}

.jk-input-select-wrapper {
  .jk-select-layout .jk-select {
    padding: 4px var(--pad-xt);
    
    .input-icon {
      top: 4px;
    }
  }
}

.jk-input-cell-phone-number-wrapper {
  .jk-select-layout {
    position: absolute;
    bottom: 0;
    height: 24px;
    
    .jk-select {
      width: 64px;
      padding: 0 4px;
      box-shadow: none;
      height: 24px;
      
      img {
        min-height: 24px;
        max-height: 24px;
      }
      
      .input-icon {
        //top: 4px;
      }
    }
  }
  
  .jk-input-text {
    padding-left: 128px;
  }
  
  .dial-code {
    position: absolute;
    left: 64px;
    padding: 0 4px;
  }
}

.popover-select-cell-phone-number-wrapper {
  .jk-select-options {
    //width: 100px !important;
  }
  
  .jk-select-option {
    padding: 4px var(--pad-xt) !important;
    display: flex;
  }
}

.jk-input-text, .jk-input-number, .jk-input-password, .jk-input-email {
  &::placeholder {
    color: var(--t-color-gray-4);
    font-weight: var(--weight-regular);
    @include mixins.font-size(small);
  }
}

.jk-input-checkbox-wrapper, .jk-input-radio-wrapper {
  display: inline-flex;
  cursor: pointer;
  
  input.jk-input-checkbox, input.jk-input-radio {
    border: 2px solid var(--t-color-primary);
    left: 0;
    -webkit-appearance: none;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    @include mixins.transition(background-color);
    
    &:after {
      position: absolute;
      opacity: 1;
      top: 0;
      color: var(--t-color-primary-text);
      transform: rotate(45deg);
      box-sizing: content-box;
    }
    
    &:checked:after {
      //content: '✓'; // (U+2713)
      //content: '✔'; // '\2714' // (U+2714)
      content: " ";
    }
    
    &:focus-visible {
      outline-color: var(--t-color-primary);
    }
    
    margin: 2px 2px !important;
    height: var(--pad-s) !important;
    width: var(--pad-s) !important;
    min-height: var(--pad-s) !important;
    min-width: var(--pad-s) !important;
  }
  
  input.jk-input-checkbox {
    &:checked {
      background-color: var(--t-color-primary);
    }
    
    &:after {
      border: solid var(--t-color-primary-text);
      border-width: 0 3px 3px 0;
      left: 5px;
      width: 4px;
      height: 10px;
    }
  }
  
  input.jk-input-radio {
    border-radius: 50%;
    
    &:after {
      position: absolute;
      opacity: 1;
      color: var(--t-color-primary-text);
      box-sizing: content-box;
      top: 3px;
      left: 3px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--t-color-primary);
    }
  }
  
  &.disabled {
    color: var(--t-color-gray-4);
    
    input.jk-input-checkbox, input.jk-input-radio {
      border-color: var(--t-color-gray-4);
    }
    
    input.jk-input-checkbox {
      &:checked {
        background-color: var(--t-color-gray-4);
      }
    }
    
    input.jk-input-radio {
      &:after {
        background-color: var(--t-color-gray-4);
      }
    }
  }
}

.jk-input-password-wrapper {
  position: relative;
  display: inline-block;
  
  input {
    padding-right: var(--pad-l);
  }
}

.jk-input-textarea {
  width: 100%;
  resize: none;
}

.jk-popover-layout {
  
  &:not(.top) {
    .jk-select-options-content {
      > div.jk-popover-content {
        padding: 0;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        
        .jk-select-options {
          border-top-left-radius: 0 !important;
          border-top-right-radius: 0 !important;
        }
      }
    }
  }
  
  &.top {
    .jk-select-options-content {
      > div.jk-popover-content {
        padding: 0;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        
        .jk-select-options {
          border-bottom-left-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }
      }
    }
  }
}

.jk-select-options, .jk-select-options-virtual {
  max-width: calc(100vw - var(--pad-m));
  position: relative;
  background-color: var(--t-color-white);
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  display: block;
  
  .jk-select-option {
    
    &.disabled {
      color: var(--t-color-gray-4);
      pointer-events: none;
      cursor: auto;
    }
  }
}

.jk-select-options {
  max-height: 256px;
}

.jk-multi-select-layout {
  .jk-select {
    padding: 4px 4px 4px var(--pad-xt) !important;
  }
}

.jk-select-layout, .jk-multi-select-layout {
  position: relative;
  
  &.jk-select-void {
    .jk-select {
      padding: 0;
      outline: none;
      
      > .input-icon {
        display: none;
      }
    }
  }
  
  &.extend {
    width: 100%;
  }
  
  &.error .jk-select {
    --input-border-color: var(--t-color-error);
  }
  
  &.success .jk-select {
    --input-border-color: var(--t-color-success);
  }
  
  .jk-select {
    padding: 0 4px 0 var(--pad-xt);
    position: relative;
    text-align: start;
    
    > .jk-icon {
      position: absolute;
      right: 2px;
      top: 0;
    }
    
    .jk-multi-select-selected-options {
      gap: 4px;
      padding: 0 4px;
      
      .jk-tag {
        gap: 4px;
        background-color: var(--t-color-highlight-light);
        
        .jk-icon:hover {
          color: var(--t-color-gray-2);
          cursor: pointer;
        }
      }
    }
  }
  
  &.open {
    .jk-select {
      border-color: var(--t-color-gray-4);
    }
  }
}

.jk-multi-select-layout .jk-select {
  //min-height: 34px;
}

.jk-input-toggle-wrapper {
  --input-toggle-height: calc(var(--pad-m) - 2px);
  --input-toggle-color: var(--t-color-primary);
  --input-toggle-text-color: var(--t-color-primary-text);
  position: relative;
  height: var(--input-toggle-height);
  display: flex;
  align-items: center;
  
  &.disabled {
    --input-toggle-color: var(--t-color-gray-6);
  }
  
  > p {
    display: inline-block;
  }
  
  input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    
    &:checked + .jk-input-toggle-slider {
      background-color: var(--input-toggle-color);
    }
    
    &:focus + .jk-input-toggle-slider {
      box-shadow: 0 0 1px var(--input-toggle-color);
    }
    
    &:checked + .jk-input-toggle-slider:before {
      transform: translateX(20px);
    }
  }
  
  &.tiny {
    --input-toggle-height: calc(var(--pad-xs) - 2px);
  }
  
  &.small {
    --input-toggle-height: calc(var(--pad-s) - 2px);
  }
  
  &.large {
    --input-toggle-height: calc(var(--pad-l) - 2px);
  }
  
  .jk-input-toggle-slider {
    //margin: 0 var(--pad-xt);
    height: var(--input-toggle-height);
    position: relative;
    width: calc(var(--input-toggle-height) + 20px);
    display: inline-block;
    cursor: pointer;
    background-color: var(--t-color-highlight-light);
    border: 2px solid var(--input-toggle-color);
    @include mixins.transition();
    box-sizing: border-box;
    
    &:before {
      position: absolute;
      content: "";
      height: calc(var(--input-toggle-height) - 8px);
      width: calc(var(--input-toggle-height) - 8px);
      left: 0;
      bottom: 0;
      background-color: var(--input-toggle-color);
      border: 2px solid var(--input-toggle-text-color);
      @include mixins.transition();
    }
  }
  
  &.rounded .jk-input-toggle-slider {
    border-radius: 12px;
    
    &:before {
      border-radius: 50%;
    }
  }
}

.jk-input-date-layout {
  position: relative;
  
  .date-literal-label {
    padding: 0 var(--pad-t);
    //height: var(--pad-xl);
    
    &.placeholder {
      color: var(--t-color-gray-4);
      font-weight: var(--weight-regular);
      @include mixins.font-size(small);
    }
    
    &.two-lines {
      //height: 58px;
    }
  }
  
  .clear-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.jk-checkbox-list, .jk-select-options, .jk-select-options-virtual {
  .jk-input-checkbox-wrapper, .jk-select-option:not(.multiselect) {
    width: calc(100% - 12px);
    padding: 2px 6px;
    //border-radius: var(--border-radius-inline);
    
    &:hover:not(.disabled) {
      background-color: var(--t-color-highlight-light);
    }
  }
}

.jk-checkbox-list, .jk-select-options, .jk-select-options-virtual {
  .jk-select-option {
  
  }
}

.date-literal.jk-col.nowrap {
  //height: 58px;
}

.jk-select-layout.jk-button {
  .jk-select {
    outline: none;
  }
  
  &.primary, &.secondary {
    font-weight: var(--weight-bold);
    
    &.huge {
      min-height: 64px;
      font-size: var(--text-xl-size);
      
      > .jk-select {
        gap: var(--pad-s);
        padding: 0 var(--pad-m);
      }
    }
    
    &.large {
      min-height: var(--pad-xH);
      font-size: var(--text-large-size);
      
      > .jk-select {
        gap: var(--pad-xs);
        padding: 0 var(--pad-s);
      }
    }
    
    min-height: var(--pad-h);
    font-size: var(--text-medium-size);
    padding: 0 !important;
    
    > .jk-select {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      box-shadow: none;
      background-color: transparent;
      padding: 0 var(--pad-xs);
      gap: var(--pad-t);
      
      > .input-icon {
        position: relative;
        color: inherit;
      }
    }
    
    &.small {
      min-height: var(--pad-xl);
      font-size: var(--text-small-size);
      
      > .jk-select {
        gap: var(--pad-xt);
        padding: 0 var(--pad-t);
      }
    }
    
    &.tiny {
      min-height: 26px;
      font-size: var(--text-tiny-size);
      
      > .jk-select {
        padding: 0 var(--pad-xt);
        gap: 4px;
      }
    }
  }
}
