@import "../../abstracts/index";

.google-button {
  span {
    width: 100%;
  }
}

.jk-divider {
  width: 100%;
  position: relative;
  height: var(--pad-m);
  //background-color: var(--t-color-white);
  background-color: transparent;
  text-align: center;
  display: flex;
  text-transform: uppercase;
  color: var(--t-color-gray-5);
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  @include hg { margin: 16px 0; }
  @include lg { margin: 12px 0; }
  @include md { margin: 8px 0; }
  @include sm { margin: 4px 0; }
  
  &.small {
    margin: 6px 0;
  }
  
  &.tiny {
    margin: 0;
  }
  
  &:before, &:after {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--t-color-gray-6);
  }
  
  &:not(:empty) {
    &:before {
      margin-right: var(--pad-xs);
    }
    
    &:after {
      margin-left: var(--pad-xs);
    }
  }
  
  &.horizontal {
    display: initial;
    width: initial;
    //height: auto; // TODO: fix height of horizontal divider
    border-right: 1px solid var(--t-color-gray-6);
    border-left: 1px solid var(--t-color-gray-6);
    background-color: var(--t-color-gray-6);
    
    &:before, &:after {
      content: none;
    }
  }
}

div[class*=" jk-grid"], div[class^="jk-grid"] {
  display: grid;
}

.jk-form-item {
  position: relative;
  
  > p:first-child { // clarification
    height: var(--pad-xs);
    line-height: var(--pad-xs);
    color: var(--t-color-gray-4);
    font-size: var(--text-s-size);
    position: absolute;
    right: 0;
    
    &::first-letter {
      text-transform: uppercase;
    }
  }
  
  > label:not(.jk-input-checkbox-wrapper):not(.jk-input-radio-wrapper) {
    display: block;
    width: 100%;
    font-weight: var(--weight-bold);
    padding: 0;
    @extend .tt-se;
  }
  
  > label > .jk-select-layout {
    line-height: var(--text-m-height);
    font-weight: var(--weight-normal);
  }
  
  > p:last-child {
    color: var(--t-color-error);
    font-size: var(--text-s-size);
    height: calc(var(--pad-xs) + var(--pad-xs));
    line-height: var(--pad-xs);
    
    &::first-letter {
      text-transform: uppercase;
    }
  }
  
  input {
    width: 100%;
  }
  
  .jk-input-password-wrapper {
    width: 100%;
  }
}

.disabled-input {
  box-shadow: inset 0 0 0 1px var(--t-color-gray-4);
  @extend .appearance-gray-5;
}

.activated {
  box-shadow: inset 0 0 0 2px var(--t-color-gray-4);
}

// input textarea
.jk-input-text,
.jk-input-email,
.jk-input-number,
.jk-input-password,
.jk-input-textarea,
.jk-input-file,
.jk-input-files,
.jk-select-layout .jk-select,
.jk-multi-select-layout .jk-select,
.jk-input-date-layout .date-literal-label {
  color: inherit;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  //line-height: var(--pad-xs);
  box-shadow: inset 0 0 0 1px var(--t-color-gray-5);
  background-color: var(--t-color-shadow-lightest);
  @include transition-fast(border-color, box-shadow);
  
  &:hover, &:focus, &:active {
    box-shadow: inset 0 0 0 1px var(--t-color-gray-4);
  }
  
  &:not(.disabled) {
    &:focus, &:active {
      @extend .activated;
    }
  }
  
  &::-webkit-file-upload-button {
    //visibility: hidden;
  }
  
  &.disabled {
    @extend .disabled-input;
  }
}

.jk-select-layout, .jk-multi-select-layout {
  &.open {
    > .jk-select {
      @extend .activated;
    }
  }
  
  > .jk-select {
    > .input-icon, > .jk-multi-select-selected-icons > .input-icon {
      color: var(--t-color-gray-5);
    }
  }
  
  &:hover, &:focus, &:active, &.focused {
    > .jk-select {
      > .input-icon, > .jk-multi-select-selected-icons > .input-icon {
        color: var(--t-color-gray-4);
      }
    }
  }
  
  &.disabled {
    > .jk-select {
      @extend .disabled-input;
      
      > .input-icon, > .jk-multi-select-selected-icons > .input-icon {
        color: var(--t-color-gray-4);
      }
    }
  }
  
  > .jk-select {
    > .jk-multi-select-selected-searchable-icons > .input-icon, > .jk-multi-select-selected-icons > .input-icon {
      color: var(--t-color-gray-4);
      padding: 2px;
      margin: 2px 0;
      border-radius: 50%;
    }
  }
  
  &:not(.disabled) {
    > .jk-select {
      > .jk-multi-select-selected-searchable-icons > .input-icon, > .jk-multi-select-selected-icons > .input-icon {
        @extend .clickable;
        
        &:hover {
          color: var(--t-color-gray-3);
        }
      }
    }
  }
}

.jk-select-options.disabled {
  @extend .disabled-input;
}

.jk-input-password-wrapper {
  .input-icon {
    color: var(--t-color-gray-5);
  }
  
  &:hover, &:focus, &:active, &.focused {
    .input-icon {
      color: var(--t-color-gray-4);
    }
  }
}

.jk-input-text, .jk-input-email, .jk-input-number, .jk-input-password, .jk-input-textarea {
  &.extend {
    width: 100%;
  }
}

// input
.jk-input-text, .jk-input-password, .jk-input-email {
  padding: 4px var(--pad-xt);
}

.jk-input-number {
  padding: 4px 4px 4px var(--pad-xt);
}

.jk-input-text, .jk-input-number, .jk-input-password, .jk-input-email {
  &::placeholder {
    color: var(--t-color-gray-4);
    font-weight: var(--weight-normal);
    font-size: var(--text-s-size);
    line-height: var(--text-s-height);
  }
}

.jk-input-checkbox-wrapper, .jk-input-radio-wrapper {
  display: inline-flex;
  cursor: pointer;
  
  input.jk-input-checkbox, input.jk-input-radio {
    border: 2px solid var(--t-color-primary);
    left: 0;
    -webkit-appearance: none;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    @include transition(background-color);
    
    &:after {
      position: absolute;
      opacity: 1;
      top: 0;
      color: var(--t-color-primary-text);
      transform: rotate(45deg);
      box-sizing: content-box;
    }
    
    &:checked:after {
      //content: '✓'; // (U+2713)
      //content: '✔'; // '\2714' // (U+2714)
      content: " ";
    }
    
    &:focus-visible:not(:checked) {
      outline: none;
      background-color: rgba(var(--t-color-primary-rgb), 0.6);
      @extend .elevation-1;
      
      &:after {
        content: " ";
      }
    }
    
    margin: 2px 2px !important;
    height: var(--pad-s) !important;
    width: var(--pad-s) !important;
    min-height: var(--pad-s) !important;
    min-width: var(--pad-s) !important;
  }
  
  input.jk-input-checkbox {
    &:checked {
      background-color: var(--t-color-primary);
    }
    
    &:after {
      border: solid var(--t-color-primary-text);
      border-width: 0 3px 3px 0;
      left: 5px;
      width: 4px;
      height: 10px;
    }
  }
  
  input.jk-input-radio {
    border-radius: 50%;
    
    &:after {
      position: absolute;
      opacity: 1;
      color: var(--t-color-primary-text);
      box-sizing: content-box;
      top: 3px;
      left: 3px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--t-color-primary);
    }
  }
  
  &.disabled {
    color: var(--t-color-gray-4);
    
    input.jk-input-checkbox, input.jk-input-radio {
      border-color: var(--t-color-gray-4);
    }
    
    input.jk-input-checkbox {
      &:checked {
        background-color: var(--t-color-gray-4);
      }
    }
    
    input.jk-input-radio {
      &:after {
        background-color: var(--t-color-gray-4);
      }
    }
  }
  
  /*
  &.large {
    input.jk-input-checkbox {
      margin: 0 4px !important;
      height: var(--pad-m) !important;
      width: var(--pad-m) !important;
      min-height: var(--pad-m) !important;
      min-width: var(--pad-m) !important;
      
      &:after {
        left: 6px;
        width: 6px;
        height: 12px;
      }
    }
  }
  
  &.regular {
    input.jk-input-checkbox {
      margin: 2px 4px !important;
      height: var(--pad-s) !important;
      width: var(--pad-s) !important;
      min-height: var(--pad-s) !important;
      min-width: var(--pad-s) !important;
      
      &:after {
        left: 5px;
        width: 4px;
        height: 10px;
      }
    }
  }
  
  &.small {
    input.jk-input-checkbox {
      margin: 4px 4px !important;
      height: var(--pad-xs) !important;
      width: var(--pad-xs) !important;
      min-height: var(--pad-xs) !important;
      min-width: var(--pad-xs) !important;
      
      &:after {
        left: 4px;
        width: 3px;
        height: 8px;
        border-width: 0 2px 2px 0;
      }
    }
  }
  
  &.tiny {
    input.jk-input-checkbox {
      margin: 6px 4px !important;
      height: var(--pad-t) !important;
      width: var(--pad-t) !important;
      min-height: var(--pad-t) !important;
      min-width: var(--pad-t) !important;
      
      &:after {
        top: -1px;
        left: 2px;
        width: 2px;
        height: 7px;
        border-width: 0 2px 2px 0;
      }
    }
  }
   */
}

.jk-theme-dark {
  .jk-input-checkbox-wrapper, .jk-input-radio-wrapper {
    &:not(.disabled) {
      input.jk-input-checkbox, input.jk-input-radio {
        border-color: var(--t-color-primary-light);
        
        &:focus-visible:not(:checked) {
          background-color: rgba(var(--t-color-primary-light-rgb), 0.6);
        }
      }
      
      input.jk-input-checkbox {
        &:checked {
          background-color: var(--t-color-primary-light);
        }
      }
      
      input.jk-input-radio {
        &:after {
          background-color: var(--t-color-primary-light);
        }
      }
    }
  }
}

.jk-input-password-wrapper {
  position: relative;
  display: inline-block;
  
  input {
    padding-right: var(--pad-l);
  }
  
  .jk-icon {
    position: absolute;
    top: 1px;
    right: var(--pad-xt);
    cursor: pointer;
  }
}

.jk-input-textarea {
  //height: 100%;
  width: 100%;
  padding: var(--pad-t);
  resize: none;
}

.jk-select-options-content {
  > div.jk-popover-content {
    padding: 0;
  }
}

.jk-select-options, .jk-select-options-virtual {
  position: relative;
  background-color: var(--t-color-white);
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  display: block;
  
  .jk-select-option {
    padding: 0 var(--pad-xt);
    
    .jk-input-checkbox-wrapper {
      margin-right: 4px;
    }
    
    &:not(.disabled) {
      cursor: pointer;
    }
    
    &.disabled {
      color: var(--t-color-gray-4);
      
      input, label {
        cursor: auto;
      }
    }
    
    &:hover:not(.disabled) {
      background-color: var(--t-color-gray-6);
    }
    
    &.selected {
      @extend .appearance-primary;
      
      &:hover:not(.disabled) {
        background-color: var(--t-color-primary-light);
        
        .jk-input-checkbox {
          background-color: var(--t-color-primary-light);
        }
      }
      
      &.disabled {
        background-color: rgba(var(--t-color-primary-rgb), 0.4);
      }
      
      .jk-input-checkbox {
        border: 1px solid var(--t-color-white);
      }
    }
  }
}

.jk-select-options {
  max-height: 256px;
}

.jk-select-layout, .jk-multi-select-layout {
  position: relative;
  
  &.extend {
    width: 100%;
  }
  
  .jk-select {
    padding: 0 4px 0 var(--pad-xt);
    position: relative;
    text-align: start;
    
    > .jk-icon {
      position: absolute;
      right: 2px;
      top: 0;
    }
    
    .jk-multi-select-selected-options {
      gap: 4px;
      padding: 0 4px;
      
      .jk-tag {
        gap: 4px;
        background-color: var(--t-color-shadow-light);
        
        .jk-icon:hover {
          color: var(--t-color-gray-2);
          cursor: pointer;
        }
      }
    }
  }
  
  &.open {
    .jk-select {
      border-color: var(--t-color-gray-4);
      
      > .jk-icon {
        color: var(--t-color-gray-4);
      }
    }
  }
}

.jk-multi-select-layout .jk-select {
  //min-height: 34px;
}

.jk-input-toggle-wrapper {
  --input-toggle-height: var(--pad-m);
  --input-toggle-color: var(--t-color-primary);
  --input-toggle-text-color: var(--t-color-primary-text);
  position: relative;
  height: var(--input-toggle-height);
  display: flex;
  align-items: center;
  
  &.disabled {
    --input-toggle-color: var(--t-color-gray-6);
  }
  
  > p {
    display: inline-block;
  }
  
  input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    
    &:checked + .jk-input-toggle-slider {
      background-color: var(--input-toggle-color);
    }
    
    &:focus + .jk-input-toggle-slider {
      box-shadow: 0 0 1px var(--input-toggle-color);
    }
    
    &:checked + .jk-input-toggle-slider:before {
      transform: translateX(20px);
    }
  }
  
  &.tiny {
    --input-toggle-height: var(--pad-xs);
  }
  
  &.small {
    --input-toggle-height: var(--pad-s);
  }
  
  &.large {
    --input-toggle-height: var(--pad-l);
  }
  
  .jk-input-toggle-slider {
    margin: 0 var(--pad-xt);
    height: var(--input-toggle-height);
    position: relative;
    width: calc(var(--input-toggle-height) + 20px);
    display: inline-block;
    cursor: pointer;
    background-color: var(--t-color-shadow-lightest);
    border: 2px solid var(--input-toggle-color);
    @include transition();
    box-sizing: border-box;
    
    &:before {
      position: absolute;
      content: "";
      height: calc(var(--input-toggle-height) - 8px);
      width: calc(var(--input-toggle-height) - 8px);
      left: 0;
      bottom: 0;
      background-color: var(--input-toggle-color);
      border: 2px solid var(--input-toggle-text-color);
      @include transition();
    }
  }
  
  &.rounded .jk-input-toggle-slider {
    border-radius: 12px;
    
    &:before {
      border-radius: 50%;
    }
  }
}

.jk-input-date-layout {
  position: relative;
  
  .date-literal-label {
    padding: 4px var(--pad-t);
    height: var(--pad-xl);
    
    &.placeholder {
      color: var(--t-color-gray-4);
      font-weight: var(--weight-normal);
      font-size: var(--text-s-size);
      line-height: var(--text-s-height);
    }
    
    &.two-lines {
      height: 58px;
    }
  }
  
  .clear-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.jk-checkbox-list {
  .jk-input-checkbox-wrapper {
    
    &:hover:not(.disabled) {
      background-color: var(--t-color-gray-6);
    }
  }
}

.date-literal.jk-col.nowrap {
  height: 58px;
}

.jk-select-layout {
  &.jk-button-primary, &.jk-button-secondary {
    > .jk-select {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      box-shadow: none;
      background-color: transparent;
      
      > .input-icon {
        position: relative;
      }
    }
  }
}
