@import "../../abstracts/index";

.jk-modal-container {
  .ReactModal__Overlay {
    background-color: var(--t-color-shadow-light) !important;
    display: grid;
    z-index: var(--z-index-overlay-modal);
    opacity: 0;
    @include transition(opacity, background-color);
  }
  
  .ReactModal__Content.small-viewport-popover {
    width: auto;
    border-radius: var(--border-radius-inline);
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }
  
  &:not(.expand) {
    .ReactModal__Overlay {
      padding: var(--pad-md);
      overflow: auto;
    }
  }
  
  &.expand .jk-modal {
    width: 100vw;
    height: var(--100VH);
    border-radius: 0;
    overflow: auto;
    
    .jk-modal-body {
      max-height: var(--100VH);
      max-width: 100vw;
    }
  }
}

.jk-modal-height-expanded {
  .jk-modal-body {
    height: calc(var(--100VH) - var(--pad-md) - var(--pad-md));
  }
}

.jk-modal-bc-wd {
  .jk-modal {
    background: var(--t-color-white-dark);
  }
}

.jk-modal {
  position: relative;
  margin: auto;
  @include elevation(3);
  background-color: var(--t-color-white);
  @include transition(background-color);
  outline: none;
  width: var(--modal-width);
  overflow: hidden;
  
  .jk-modal-close-button {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    line-height: inherit;
    margin: var(--border-radius);
  }
  
  .jk-modal-body {
    position: relative;
    width: 100%;
    padding: 0;
    overflow: auto;
    box-sizing: border-box;
    max-height: calc(var(--100VH) - var(--pad-md) - var(--pad-md));
    max-width: calc(100vw - var(--pad-md) - var(--pad-md));
  }
}

.split-modal {
  .jk-side-secondary {
    background-color: var(--t-color-accent);
    @include transition(background-color);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: calc(var(--side-main-height, 100%) + var(--pad-lg) * 2);
    max-height: calc(var(--side-main-height, 100%) + var(--pad-lg) * 2);
    
    @include md { flex: 5 !important; }
    
    .title {
      padding: var(--pad-sm) 0 0 0;
      text-align: center;
    }
    
    .graphic {
      max-height: calc(100% - var(--title-side-main-height) - var(--pad-sm) * 3);
      padding: var(--pad-sm);
    }
  }
  
  .jk-side-main {
    @include md { flex: 6 !important; }
  }
  
  @include sm {
    flex-direction: column;
    .jk-side-secondary {
      //border-radius: var(--border-radius) var(--border-radius) 0 0;
      border-radius: 0;
    }
  }
}

.modal-alert {
  .jk-modal-body {
    display: flex;
    flex-direction: column;
    
    .modal-alert-title {
      display: flex;
      align-items: center;
      
      .jk-icon {
        margin-right: var(--pad-t);
      }
      
      @include sm {
        flex-direction: column;
        justify-content: center;
        .jk-icon {
          display: none;
        }
      }
    }
    
    .modal-alert-content {
      padding: var(--pad-s) 0;
      @include sm {
        text-align: center;
      }
    }
  }
}

.modal-info-markdown, .modal-alert, .modal-upload-image {
  .jk-modal-body {
    padding: var(--pad-l);
  }
}

.modal-login, .modal-sign-up {
  .forgot-password-label {
    @include transition(font-weight);
  }
}

.change-password-modal {
  @include md-hg {
    width: 340px;
  }
}
