.jk-tabs-inline {
  overflow: visible;
  
  .jk-tabs-headers-inline {
    overflow: auto;
    
    > div {
      padding: var(--pad-xt) var(--pad-t);
      position: relative;
      cursor: pointer;
      
      &.selected {
        font-weight: var(--weight-bold);
      }
      
      &.selected.one-tab-view:after, &.selected-tab-tick {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0;
        background-color: var(--t-color-secondary);
        border-radius: 2px 2px 0 0;
      }
    }
  }
}
