.jk-tabs-inline {
  overflow: visible;
  
  .jk-tabs-headers-inline {
    overflow: auto;
    
    .selected-tab-tick {
      width: 100%;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 0;
      background-color: var(--t-color-secondary);
      border-radius: 2px 2px 0 0;
    }
    
    .one-tab-view {
      .selected-tab-tick-back {
        width: calc(100% - var(--pad-t) - var(--pad-t));
      }
    }
    
    .selected-tab-tick-back {
      background-color: var(--t-color-secondary-light);
      position: absolute;
      top: calc(var(--pad-xt) - 1px);
      right: calc(var(--pad-t) - 4px);
      padding: 1px 4px;
      
      .selected-tab-tick-back-content {
        opacity: 0;
      }
    }
    
    > div {
      padding: var(--pad-xt) var(--pad-t);
      position: relative;
      cursor: pointer;
      
      > *:not(.selected-tab-tick-back) {
        z-index: 1;
      }
      
      &.selected {
        font-weight: var(--weight-bold);
      }
      
      //&.selected.one-tab-view:after, &.selected-tab-tick {
      //  content: "";
      //  width: 100%;
      //  height: 4px;
      //  position: absolute;
      //  left: 0;
      //  bottom: 0;
      //  padding: 0;
      //  background-color: var(--t-color-secondary);
      //  border-radius: 2px 2px 0 0;
      //}
    }
  }
}
