@use "../../abstracts/mixins";

.color-cells {
  //border: 2px solid black;
  > div {
    width: 60px;
    height: 60px;
    text-align: center;
    display: grid;
    align-items: center;
    @include mixins.font-size(small);
  }
  
  &.with-labels {
    > div {
      align-items: start;
      height: 80px;
      
      > div {
        height: 20px;
        @include mixins.font-size(tiny);
        @include mixins.look(gray-4);
      }
    }
  }
}
