@use "../../mixins";

.jk-two-content-section.rectangular-style {
  width: 100%;
  height: calc(var(--100VH) - var(--top-horizontal-menu-height, 0px) - var(--bottom-horizontal-menu-height, 0px));
  
  &:before {
    
    content: "";
    width: 100vw;
    height: calc(var(--first-content-section-height) - 1px);
    position: absolute;
    //top: var(--top-horizontal-menu-height, 0px);
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--t-color-highlight-light);
    z-index: 1;
    
    background-color: var(--t-color-white);
    @include mixins.transition(background-color);
  }
  
  > #jk-two-content-section-first-panel {
    box-sizing: border-box;
    width: 100%;
    z-index: 2;
    padding: 0 var(--pad-md);
    border-radius: 0;
  }
  
  
  &.loading {
    > #jk-two-content-section-first-panel {
      overflow: visible;
    }
  }
  
  > #jk-two-content-section-second-panel {
    box-sizing: border-box;
    width: 100%;
    height: calc(var(--100VH) - var(--first-content-section-height));
    overflow: hidden auto;
    position: relative;
    
    > .jk-tabs-inline-layout {
      > .jk-tabs-inline-body-content {
        padding: var(--pad-sm) var(--pad-md);
      }
    }
  }
}

.two-content-section.cards-style {
  &::before {
    display: none;
  }
  
  > div:first-child {
    width: calc(100% - var(--pad-md) - var(--pad-md));
    background: var(--t-color-white);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
  
  > div:last-child {
    width: calc(100% - var(--pad-md) - var(--pad-md));
    padding: var(--pad-md) 0;
    
    > div > .jk-tabs-inline {
      padding: 0 var(--border-radius);
      box-sizing: border-box;
      
      .selected {
        background: var(--t-color-white);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        
        &::after {
          display: none;
        }
      }
    }
    
    //.two-content-layout-body {
    //  overflow: auto;
    //  background: var(--t-color-white);
    //  border-radius: var(--border-radius);
    //}
  }
}

.jk-loader-layout {
  overflow: visible;
  
  .jk-loader-layout-container {
    width: 100%;
    height: 1px;
    position: absolute;
    overflow: visible;
    
    .jk-loader-layout-paws {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(var(--paws-rotate));
      height: min-content;
      width: min-content;
      
      .paw {
        opacity: 0;
        
        svg {
          width: 100%;
          height: 100%;
        }
        
        .paw-icon {
          fill: currentColor;
        }
        
        &:nth-child(odd) {
          transform: rotate(-10deg);
        }
        
        &:nth-child(even) {
          transform: rotate(10deg) translate(125%, 0);
        }
      }
    }
  }
}
