.reveal {
  //--t-color-primary-dark: #A6F750;
  
  .jk-md-sheet-section-view {
    > div {
      background: none;
    }
  }
  
  .controls {
    color: var(--t-color-text-highlight) !important;
  }
}
