//@import "react-tooltip";

.jk-theme-light, .jk-theme-dark {
  --rt-color-dark: var(--t-color-white) !important;
  --rt-color-white: var(--t-color-black-2) !important;
}

.react-tooltip {
  z-index: var(--z-index-tooltip);
  filter: drop-shadow(0 0 2px rgba(var(--t-color-black-rgb), 0.3));
  opacity: 1 !important;
  padding: calc(var(--gap) / 2) calc(var(--gap) / 2 + 2px) !important;
  font-size: inherit !important;
}