//@import "react-tooltip";

.jk-theme-light, .jk-theme-dark {
  --rt-color-dark: var(--t-color-white) !important;
  --rt-color-white: var(--t-color-black-light) !important;
}

.react-tooltip {
  z-index: var(--z-index-tooltip);
  filter: drop-shadow(0 0 2px var(--t-color-shadow-dark));
  padding: calc(var(--gap) / 2) calc(var(--gap) / 2 + 2px) !important;
  font-size: inherit !important;
  //background: var(--rt-color-dark) !important;
  //color: var(--rt-color-white) !important;
}
