.jk-breadcrumb {
  box-sizing: border-box;
  padding-bottom: 6px;
  padding-top: 6px;
  
  
  .separator {
    color: var(--cr-gy-5);
    padding: 0 4px;
    
    &:first-child {
      padding-left: 0;
    }
  }
  
  .link:hover {
    > span {
      text-decoration: underline;
    }
  }
  
  > div:last-child {
    font-weight: var(--weight-bold);
  }
}
