@use "../../mixins";

:not(*.jk-button).clickable {
  cursor: initial;
  
  &:not(.disabled):not(.loading) {
    cursor: pointer;
    
    &:hover {
      @include mixins.elevation(1);
    }
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.1s ease;
}

@keyframes clickShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92);
  }
  100% {
    transform: scale(1);
  }
}

.shrink-click {
  animation: clickShrink 0.1s ease;
}

.jk-button {
  //--button-border-color: transparent;
  --button-padding: var(--pad-xs); // 16px
  --button-border-padding: var(--button-padding);
  --icon-margin-right: 0;
  --line-height: var(--tx-h-m); // 24px
  height: auto;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: var(--button-border-width, 0) solid var(--background-color);
  background-color: var(--background-color);
  outline-offset: -1px;
  cursor: pointer;
  overflow: hidden;
  padding: calc(var(--tx-h-m) / 4) calc(var(--tx-h-m) / 2);
  //opacity: 1;
  line-height: calc(var(--line-height) - 4px);
  --size-button-loader-icon: var(--line-height);
  @include mixins.transition-fast(opacity, padding, outline-color, outline-width);
  
  .jk-icon {
    --size-icon: calc(var(--line-height) - 4px);
  }
  
  &:not(.disabled):hover {
    --button-border-width: 3px;
  }
  
  &.tiny {
    --line-height: var(--tx-h-t); // 12px;
    font-size: var(--tx-s-t); // 12px
  }
  
  &.small {
    --line-height: var(--tx-h-s); // 18px
    font-size: var(--tx-s-s); // 14px
  }
  
  &.regular {
    --line-height: var(--tx-h-m); // 24px
    font-size: var(--tx-s-m);
  }
  
  &.large {
    --line-height: var(--tx-h-l); // 36px
    font-size: var(--tx-s-l);
  }
  
  &.huge {
    --line-height: var(--tx-h-h); // 48px
    font-size: var(--tx-s-h);
  }
  
  &:not(.jk-button-loader) {
    --size-button-loader-icon: 0px;
  }
  
  &.only-icon {
    padding: calc(var(--tx-h-m) / 8);
    
    &:not(.disabled):hover {
      --button-border-width: 2px;
    }
    
    .jk-icon {
      margin: auto;
    }
  }
  
  &.expand { width: 100%; }
  
  &.error {
    --background-color: var(--cr-er);
  }
  
  &.success {
    --background-color: var(--cr-ss);
  }
  
  &.with-loader-icon {
    pointer-events: none;
  }
  
  &.icon:not(.only-icon) {
    > :first-child {
      --icon-margin-right: var(--gap);
      margin-right: var(--icon-margin-right);
    }
  }
}

.jk-button.accent {
  &:not([class*=" bc-"]):not([class^="bc-"]) {
    --background-color: var(--cr-at);
  }
  
  &:not([class*=" cr-"]):not([class^="cr-"]) {
    color: var(--cr-at-it);
  }
}

.jk-button.text, .jk-button.void { // background color by system default
  color: inherit;
  
  &:not([class*=" bc-"]):not([class^="bc-"]) {
    --background-color: transparent;
  }
  
  * {
    color: inherit;
  }
}

.jk-button.outline {
  outline: 1px solid var(--cr-tx-ht) !important;
  color: var(--cr-tx-ht);
  font-weight: var(--weight-bolder) !important;
  
  &:not([class*=" bc-"]):not([class^="bc-"]) {
    --background-color: transparent;
  }
}

.jk-button.light {
  //--button-border-width: 2px;
  outline-offset: 0 !important;
  color: inherit;
  
  &:not([class*=" bc-"]):not([class^="bc-"]) {
    --background-color: var(--cr-ht-lt);
  }
}
