.jk-code-viewer {
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
  
  &:hover {
    .float-top-right {
      opacity: unset;
    }
  }
  
  .float-top-right {
    opacity: 0;
  }
  
  .jk-code-viewer-content {
    font-size: var(--tx-s-m);
    height: 100%;
    line-height: 1.5;
    overflow: auto;
    width: 100%;
    
    > .jk-code-viewer-line-numbers {
      background: var(--cr-we-det);
      border-right: 1px solid var(--cr-ht);
      left: 0;
      position: sticky;
      text-align: right;
      user-select: none;
    }
    
    
    > pre {
      background-color: var(--cr-ht-lt);
      border-bottom-left-radius: 0;
      border-color: transparent !important;
      border-top-left-radius: 0;
      flex: 1;
      height: min-content;
      margin: 0 !important;
    }
  }
  
  > .float-top-right {
    z-index: unset;
  }
}
