.jk-code-viewer {
  position: relative;
  display: flex;
  width: 100%;
  
  > .jk-code-viewer-line-numbers {
    padding: var(--pad-sm) calc(var(--pad-sm) / 2);
    text-align: right;
    user-select: none;
    border-right: 1px solid var(--t-color-highlight);
    
    > div::after {
      content: "";
      position: absolute;
      top: calc(var(--line-index, 0) * var(--line-height) + var(--pad-sm));
      left: 0;
      width: 100%;
      height: var(--line-height);
      pointer-events: none;
      //background: red;
    }
    
    > div:hover::after {
      background: var(--t-color-highlight-light);
    }
  }
  
  > pre {
    flex: 1;
    background-color: var(--t-color-highlight-light);
    border-color: transparent !important;
    margin: 0 !important;
    overflow: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
    code {
      display: block;
      overflow-x: auto;
      padding: var(--pad-sm) var(--pad-sm) var(--pad-sm) calc(var(--pad-sm) / 2);
    }
  }
  
  > .float-top-right {
    z-index: unset;
  }
}
