.color-picker-layout {
  .sketch-picker {
    align-items: center;
    box-shadow: none !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 !important;
    width: min-content !important;
    
    > div:first-child {
      height: 128px !important;
      padding: 0 !important;
    }
    
    .flexbox-fix {
      margin: 0 !important;
      padding: 0 !important;
      width: calc(24px * 14);
      
      &:nth-child(3), &:nth-child(2) {
        > div {
          margin-bottom: 0 !important;
        }
      }
      
      > div {
        margin: 4px !important;
      }
    }
    
  }
}
