@use "../../mixins";

@mixin jk-select-layout-for-datepicker {
  .jk-input-select {
    color: var(--cr-tx-ht-lt);
    font-weight: var(--weight-bold);
    text-align: center;
    border-color: transparent;
    
    .jk-icon {
      opacity: 0;
      @include mixins.transition(opacity);
    }
  }
  
  &:hover {
    .jk-icon {
      opacity: 1;
    }
  }
}

.jk-date-picker-layout {
  
  .jk-select-layout {
    @include jk-select-layout-for-datepicker;
  }
  
  .jk-day-picker-header {
    width: 310px;
    flex-wrap: nowrap;
    
    .years-label {
      width: 100px;
      
      > div {
        width: 42px;
        text-align: center;
      }
    }
  }
  
  .jk-date-picker-grid-dates, .jk-date-picker-grid-months, .jk-date-picker-grid-years {
    > div.jk-row {
      flex-wrap: nowrap;
      margin: 4px 0;
    }
    
    .date, .month, .year {
      text-align: center;
      cursor: pointer;
      position: relative;
      
      > div {
        z-index: 1;
      }
      
      &.selected {
        > div {
          background-color: var(--cr-tx-ht);
          border-radius: var(--pad-t);
          color: var(--cr-we);
          font-weight: var(--weight-bold);
        }
      }
      
      &:not(.disabled) {
        outline: none;
        
        > div:hover {
          background-color: var(--cr-tx-ht-lt);
          border-radius: var(--pad-t);
          color: var(--cr-tx-ht-it);
        }
      }
      
      &:not(.disabled):focus-visible {
        outline: none;
        
        > div {
          background-color: var(--cr-tx-ht-lt);
          border-radius: var(--pad-xt);
          color: var(--cr-tx-ht-it);
        }
      }
      
      &.selected + .selected {
        &:before {
          content: "";
          //left: -24px;
          top: 0;
          position: absolute;
          //width: 45px;
          height: 24px;
          background-color: var(--cr-tx-ht);
        }
      }
      
      &.disabled {
        > div {
          color: var(--cr-gy-4);
          cursor: not-allowed;
          background-color: var(--cr-gy-6);
          border-radius: var(--pad-t);
        }
      }
      
      &.disabled + .disabled {
        &:before {
          content: "";
          //left: -24px;
          top: 0;
          position: absolute;
          //width: 45px;
          height: 24px;
          background-color: var(--cr-gy-6);
        }
      }
    }
  }
  
  .jk-date-picker-grid-dates, .jk-date-picker-days {
    width: 310px;
    
    .date {
      &.is-next-month, &.is-previous-month {
        color: var(--cr-gy-4);
        font-weight: var(--weight-regular);
        
        &.disabled {
          color: var(--cr-gy-5);
        }
      }
      
      > div {
        width: 24px;
      }
      
      &::before {
        left: -28px;
        width: 40px;
      }
    }
  }
  
  .jk-date-picker-grid-months, .jk-month-picker-header, .jk-date-picker-grid-years, .jk-year-picker-header {
    width: 320px;
    
    .month, .year {
      > div {
        width: 100px;
      }
      
      &::before {
        left: -18px;
        width: 32px;
      }
    }
  }
}

.jk-date-picker-time {
  width: 310px;
  flex-wrap: nowrap;
  
  &.only-time {
    width: 230px;
  }
}

.jk-date-picker-grid-time, .jk-date-picker- {
  .jk-input-select > .input-icon {
    position: absolute;
    right: -4px !important;
  }
}

.jk-date-picker-grid-time {
  
  > div {
    flex-wrap: nowrap;
  }
  
  .jk-select-layout {
    width: initial !important;
    @include jk-select-layout-for-datepicker;
    
    .jk-input-select {
      width: 42px;
      padding: 0;
      text-align: center;
      margin: 0 4px;
      @include mixins.transition(padding);
      
      .jk-icon {
        right: 0;
        width: var(--pad-xs);
        height: var(--pad-xs);
      }
    }
    
    &:hover {
      .jk-input-select {
        padding: 0 16px 0 0;
      }
    }
  }
  
  .jk-select-layout:last-child {
    .jk-input-select {
      width: 52px;
    }
  }
  
  .labels {
    line-height: 18px;
    
    span {
      text-align: center;
      width: 50px;
    }
    
    span:last-child {
      width: 60px;
    }
  }
}
