@use "../../mixins";

.jk-float-toolbar-layout {
  position: sticky;
  top: var(--offset, 0px);
  right: var(--offset, 0px);
  z-index: 1;
  
  &:hover {
    z-index: 2;
  }
  
  .jk-float-toolbar-container {
    position: absolute;
    top: var(--offset, 0px);
    right: var(--offset, 0px);
  }
  
  &.outer {
    .jk-float-toolbar-container {
      right: calc(var(--jk-float-toolbar-container-width) * -1 - var(--offset, 0px));
    }
  }
}
