.jk-graphviz-viewer {
  > svg {
    max-width: 100%;
    
    & > g > polygon:nth-child(2) {
      fill: transparent;
    }
    
    *[fill="#000000"] {
      fill: var(--t-color-black-light);
    }
    
    *[stroke="#000000"] {
      stroke: var(--t-color-black-light);
    }
  }
}

.jk-graph-editor-modal {
  textarea {
    max-height: calc(var(--100VH) - 100px);
  }
}
