.jk-graphviz-viewer {
  > svg {
    max-width: 100%;
    
    
    & > g > polygon:nth-child(2) {
      fill: transparent;
    }
    
    *[fill="#000000"] {
      fill: var(--cr-bk-lt);
    }
    
    *[stroke="#000000"] {
      stroke: var(--cr-bk-lt);
    }
    
    text {
      font-family: Helvetica, Arial, sans-serif !important;
    }
    
    .edge {
      path:not([stroke]), path[stroke="black"],
      polygon:not([stroke]), polygon[stroke="black"] {
        stroke: var(--cr-bk-lt);
      }
      
      polygon:not([fill]), polygon[fill="black"],
      text:not([fill]) {
        fill: var(--cr-bk-lt);
      }
    }
    
    .node {
      polygon:not([stroke]), polygon[stroke="black"],
      ellipse:not([stroke]), ellipse[stroke="black"] {
        stroke: var(--cr-bk-lt);
      }
      
      ellipse:not([fill]), ellipse[fill="none"] {
        fill: var(--cr-ht-lt);
      }
      
      text:not([fill]) {
        fill: var(--cr-bk-lt);
      }
    }
    
    .cluster {
      text {
        fill: var(--cr-bk-lt);
      }
    }
  }
}

.jk-graph-editor-modal {
  textarea {
    max-height: calc(var(--100VH) - 100px);
  }
}

.jk-graphviz-viewers-container:not(.slides *):hover {
  outline: 1px solid var(--cr-ht-lt);
}

.slides .jk-graphviz-viewer svg {
  transform: none !important;
}

.jk-graphviz-viewers-container {
  .jk-float-toolbar-container {
    opacity: 0;
  }
  
  &:hover {
    .jk-float-toolbar-container {
      opacity: 1;
    }
  }
}
