@use "../../mixins";

.google-button {
  span {
    width: 100%;
  }
}

.jk-divider {
  width: 100%;
  position: relative;
  height: var(--pad-m);
  //background-color: var(--cr-we);
  background-color: transparent;
  text-align: center;
  display: flex;
  //text-transform: uppercase;
  color: var(--cr-ht-lt);
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  //--divider-background-color: var(--cr-gy-6);
  --divider-background-color: var(--cr-ht-lt);
  @include mixins.hg { margin: 16px 0; }
  @include mixins.lg { margin: 12px 0; }
  @include mixins.md { margin: 8px 0; }
  @include mixins.sm { margin: 4px 0; }
  
  &.small {
    margin: 6px 0;
  }
  
  &.tiny {
    margin: 0;
  }
  
  &::before, &::after {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--divider-background-color);
  }
  
  &:not(:empty) {
    &:before {
      margin-right: var(--pad-xs);
    }
    
    &::after {
      margin-left: var(--pad-xs);
    }
  }
  
  &.horizontal {
    display: initial;
    width: initial;
    //height: auto; // TODO: fix height of horizontal divider
    border-right: 1px solid var(--divider-background-color);
    border-left: 1px solid var(--divider-background-color);
    background-color: var(--divider-background-color);
    
    &::before, &::after {
      content: none;
    }
  }
}

div[class*=" jk-grid"], div[class^="jk-grid"] {
  display: grid;
}

.jk-form-item {
  position: relative;
  
  > p:first-child { // clarification
    height: var(--pad-m);
    line-height: var(--pad-m);
    color: var(--cr-gy-4);
    font-size: var(--tx-s-s);
    position: absolute;
    right: 0;
    
    &::first-letter {
      text-transform: uppercase;
    }
  }
  
  > label > .jk-select-layout {
    line-height: var(--tx-h-m);
    font-weight: var(--weight-regular);
  }
  
  > p:last-child {
    color: var(--cr-er);
    font-size: var(--tx-s-s);
    height: calc(var(--pad-xs) + var(--pad-xs));
    line-height: var(--pad-xs);
    
    &::first-letter {
      text-transform: uppercase;
    }
  }
  
  input, > .jk-wrapper-input-select > .jk-select-layout, .jk-input-password-wrapper {
    width: 100% !important;
  }
}

@mixin disabled-input {
  --input-border-color: var(--cr-ht-lt);
  background-color: var(--cr-ht-lt);
  //box-shadow: inset 0 0 0 1px var(--input-border-color);
  //outline-width: 2px;
}

// input textarea
[class^="jk-input-"], [class*=" jk-input-"] {
  color: inherit;
  border: none;
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  --input-border-color: var(--cr-ht-lt);
  //box-shadow: inset 0 0 0 1px var(--input-border-color);
  --input-background-color: transparent;
  background-color: var(--input-background-color);
  outline: 1px solid var(--input-border-color);
  outline-color: var(--input-border-color);
  
  &::placeholder {
    color: var(--cr-gy-4);
    font-weight: var(--weight-regular);
    @include mixins.font-size(s);
  }
  
  &.jk-input-checkbox {
    outline-offset: -1px;
    
    &:not(.disabled) {
      &:hover, &:focus, &:active, &.open {
        outline-width: 3px;
      }
    }
  }
  
  &:not(.disabled) {
    &:hover, &:focus, &:active, &.open {
      outline-width: 2px;
      --input-border-color: var(--cr-ht-dk);
    }
    
    &:active, &:focus {
      --input-background-color: var(--cr-ht-lt);
    }
    
    &.error {
      &:hover, &:focus, &:active {
        --input-border-color: var(--cr-er-dk);
      }
      
      &:active, &:focus {
        --input-background-color: var(--cr-er-lt);
      }
    }
    
    &.warning {
      &:hover, &:focus, &:active {
        --input-border-color: var(--cr-wg-dk);
      }
      
      &:active, &:focus {
        --input-background-color: var(--cr-wg-lt);
      }
    }
    
    &.success {
      &:hover, &:focus, &:active {
        --input-border-color: var(--cr-ss-dk);
      }
      
      &:active, &:focus {
        --input-background-color: var(--cr-ss-lt);
      }
    }
  }
  
  &.disabled {
    @include disabled-input;
  }
  
  &.error {
    --input-border-color: var(--cr-er-lt);
  }
  
  &.warning {
    --input-border-color: var(--cr-wg-lt);
  }
  
  &.success {
    --input-border-color: var(--cr-ss-lt);
  }
  
  .input-icon {
    color: var(--input-border-color);
  }
}

.jk-select-layout, .jk-multi-select-layout {
  
  &:not(.disabled) {
    cursor: pointer;
  }
  
  > .jk-input-select {
    > .jk-multi-select-selected-searchable-icons > .input-icon, > .jk-multi-select-selected-icons > .input-icon {
      padding: 2px;
      margin: 2px 0;
      border-radius: 50%;
    }
  }
  
  &.flex-1 {
    > .jk-select-container > .jk-input-select > div {
      width: 100%;
      
      .fake-gap {
        display: none;
      }
    }
  }
}

// input
.jk-input-text, .jk-input-password, .jk-input-email {
  padding: 0 var(--pad-xt);
}

.jk-input-number {
  padding: 0 4px 0 var(--pad-xt);
}

.jk-wrapper-input:has(> .disabled) {
  opacity: 0.5;
  cursor: auto !important;
}

.jk-wrapper-input {
  
  position: relative;
  display: inline-block;
  
  &, * {
    @include mixins.transition(box-shadow, color, background-color, border-color, outline-color, opacity);
  }
  
  &.expand, &.expand > input {
    width: 100%;
  }
  
  &.required > label {
    > span:first-child {
      &::after {
        content: " *";
        color: var(--cr-er);
      }
    }
  }
  
  &.label-top-border {
    > label {
      height: 7px;
      top: -5px;
      display: flex;
      align-items: center;
      position: absolute;
      left: var(--pad-t);
      padding: 0 4px;
      background-color: var(--cr-we);
      line-height: 0.9;
    }
    
    input.disabled + label, textarea.disabled + label, div.jk-select-layout.disabled + label {
      background: transparent;
    }
  }
  
  &.label-top {
    display: flex;
    flex-direction: column-reverse;
  }
  
  &.label-left {
    display: flex;
    flex-direction: row-reverse;
    
    > label {
      display: flex;
      align-items: center;
    }
  }
  
  > .jk-icon {
    color: var(--cr-gy-4);
    position: absolute;
    bottom: 0;
    right: 6px;
    cursor: pointer;
  }
  
  //&:has(.jk-icon) {
  //  > input {
  //    padding-right: var(--pad-xl);
  //  }
  //}
  
  input:not(.disabled):hover + label, input:not(.disabled):focus + label, input:not(.disabled):active + label {
    font-weight: var(--weight-bold);
    
    + .input-icon {
      color: var(--cr-gy-3);
    }
  }
  
  > label {
    font-weight: var(--weight-bold);
  }
  
  &.no-label {
    > label {
      display: none;
    }
  }
}

.jk-wrapper-input-cell-phone-number {
  .jk-select-layout {
    position: absolute;
    bottom: 0;
    height: 24px;
    
    .jk-input-select {
      width: 64px !important;
      min-width: 64px !important;
      max-width: 64px !important;
      padding: 0 4px;
      box-shadow: none;
      height: 24px;
    }
  }
  
  .jk-input-text {
    padding-left: 128px;
  }
  
  .dial-code {
    position: absolute;
    left: 64px;
    padding: 0 4px;
  }
}

.jk-wrapper-input-checkbox, .jk-wrapper-input-radio {
  display: inline-flex;
  cursor: pointer;
  
  input.jk-input-checkbox, input.jk-input-radio {
    --input-border-color: var(--cr-py) !important;
    left: 0;
    -webkit-appearance: none;
    position: relative;
    cursor: pointer;
    margin: 2px 2px !important;
    height: var(--pad-s) !important;
    width: var(--pad-s) !important;
    min-height: var(--pad-s) !important;
    min-width: var(--pad-s) !important;
    
    &::after {
      position: absolute;
      color: var(--cr-py-tx);
      box-sizing: content-box;
    }
    
    &:checked::after {
      //content: '✓'; // (U+2713)
      //content: '✔'; // '\2714' // (U+2714)
      content: " ";
    }
    
    &:focus-visible {
      outline-color: var(--cr-py);
    }
  }
  
  input.jk-input-checkbox {
    &:checked {
      background-color: var(--cr-py);
    }
    
    &::after {
      border: solid var(--cr-py-tx);
      transform: rotate(45deg);
      border-width: 0 3px 3px 0;
      top: 1px;
      left: 6px;
      width: 4px;
      height: 10px;
    }
  }
  
  input.jk-input-radio {
    border-radius: 50%;
    
    &::after {
      top: 4px;
      left: 4px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--cr-py);
    }
  }
}

.jk-input-password-wrapper {
  position: relative;
  display: inline-block;
  
  input {
    padding-right: var(--pad-l);
  }
}

.jk-input-textarea {
  resize: none;
}

.jk-select-options, .jk-select-options-virtual {
  max-width: calc(100vw - var(--pad-m));
  
  .jk-select-option {
    
    &.selected {
      background-color: var(--cr-ht-lt);
    }
    
    &.multiselect {
      .jk-wrapper-input-checkbox {
        display: flex;
        align-items: center;
      }
    }
  }
}

.jk-select-options {
  max-height: 256px;
}

.jk-multi-select-layout {
  .jk-input-select {
    //padding: 4px 4px 4px var(--pad-xt) !important;
  }
}

.jk-select-layout, .jk-multi-select-layout {
  position: relative;
  
  &.jk-select-void {
    .jk-input-select {
      padding: 0;
      outline: none;
      
      > .input-icon {
        display: none;
      }
    }
  }
  
  &.expand {
    width: 100%;
  }
  
  &.error .jk-input-select {
    --input-border-color: var(--cr-er);
  }
  
  &.success .jk-input-select {
    --input-border-color: var(--cr-ss);
  }
  
  .jk-input-select {
    position: relative;
    text-align: start;
    
    .jk-multi-select-selected-options {
      gap: 4px;
      
      .jk-tag {
        gap: 4px;
        
        .jk-icon:hover {
          color: var(--cr-ht-dk);
          cursor: pointer;
        }
      }
    }
  }
  
  &.open {
    .jk-input-select {
      border-color: var(--cr-gy-4);
    }
  }
}

.jk-wrapper-input-toggle {
  --input-toggle-height: calc(var(--pad-m) - 2px);
  --input-toggle-color: var(--cr-py);
  --input-toggle-text-color: var(--cr-py-tx);
  position: relative;
  height: var(--input-toggle-height);
  display: flex;
  align-items: center;
  
  > p {
    display: inline-block;
  }
  
  input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    
    &:checked + .jk-input-toggle-slider {
      background-color: var(--input-toggle-color);
    }
    
    &:focus + .jk-input-toggle-slider {
      box-shadow: 0 0 1px var(--input-toggle-color);
    }
    
    &:checked + .jk-input-toggle-slider:before {
      transform: translateX(20px);
    }
  }
  
  &.tiny {
    --input-toggle-height: calc(var(--pad-xs) - 2px);
  }
  
  &.small {
    --input-toggle-height: calc(var(--pad-s) - 2px);
  }
  
  &.large {
    --input-toggle-height: calc(var(--pad-l) - 2px);
  }
  
  &.huge {
    --input-toggle-height: calc(var(--pad-h) - 2px);
  }
  
  .jk-input-toggle-slider {
    //margin: 0 var(--pad-xt);
    height: var(--input-toggle-height);
    position: relative;
    width: calc(var(--input-toggle-height) + 20px);
    display: inline-block;
    cursor: pointer;
    background-color: var(--cr-ht-lt);
    border: 2px solid var(--input-toggle-color);
    box-sizing: border-box;
    
    &:before {
      position: absolute;
      content: "";
      height: calc(var(--input-toggle-height) - 8px);
      width: calc(var(--input-toggle-height) - 8px);
      left: 0;
      bottom: 0;
      background-color: var(--input-toggle-color);
      border: 2px solid var(--input-toggle-text-color);
    }
  }
  
  &.rounded .jk-input-toggle-slider {
    border-radius: 12px;
    
    &:before {
      border-radius: 50%;
    }
  }
}

.jk-date-picker-layout {
  position: relative;
  
  .jk-input-date {
    padding: 0 var(--pad-t);
    
    &.placeholder {
      color: var(--cr-gy-4);
      font-weight: var(--weight-regular);
      @include mixins.font-size(s);
    }
  }
}

.jk-checkbox-list .jk-wrapper-input-checkbox,
.jk-select-options:not(.fake) .jk-select-option,
.jk-select-options-virtual .jk-select-option {
  padding: 0 var(--gap);
  
  &:hover:not(.disabled):not(.selected) {
    background-color: var(--cr-ht-lt);
    cursor: pointer;
  }
  
  &.selected:hover:not(.disabled) {
    background-color: var(--cr-ht);
    cursor: pointer;
  }
}

.jk-select-options-virtual .jk-select-option {
  height: 100%;
}

.jk-select-layout.jk-button {
  .jk-input-select {
    outline: none;
  }
  
  &.primary, &.secondary {
    font-weight: var(--weight-bold);
    
    &.huge {
      font-size: var(--text-xl-size);
      
      > .jk-select-container > .jk-input-select {
        min-height: calc(var(--tx-h-h) - 4px + (var(--tx-h-m) / 2));
      }
    }
    
    &.large {
      font-size: var(--tx-s-l);
      
      > .jk-select-container > .jk-input-select {
        min-height: calc(var(--tx-h-l) - 4px + (var(--tx-h-m) / 2));
      }
    }
    
    font-size: var(--tx-s-m);
    padding: 0 !important;
    
    > .jk-select-container > .jk-input-select {
      min-height: calc(var(--tx-h-m) - 4px + (var(--tx-h-m) / 2));
    }
    
    &.small {
      font-size: var(--tx-s-s);
      
      > .jk-select-container > .jk-input-select {
        min-height: calc(var(--tx-h-s) - 4px + (var(--tx-h-m) / 2));
      }
    }
    
    &.tiny {
      font-size: var(--tx-s-t);
      
      > .jk-select-container > .jk-input-select {
        min-height: calc(var(--tx-h-t) - 4px + (var(--tx-h-m) / 2));
      }
    }
  }
}
