@use "../../mixins";

.page-line-loader {
  .layout-line-loader {
    z-index: 100;
    height: var(--size-scrollbar);
    overflow: hidden;
    
    > div {
      background: var(--t-color-primary-light);
    }
  }
}

.loading-route-overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--t-color-shadow);
  z-index: 1000;
  opacity: 0;
  @include mixins.transition-fast(opacity);
}
