.jk-loader {
  height: 100%;
  overflow: hidden;
  width: 100%;
  
  .jk-spin {
    align-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    max-height: var(--pad-xH);
    max-width: var(--pad-xH);
    position: relative;
    width: 100%;
    
    > span {
      color: var(--cr-tx-ht);
      height: 100%;
      width: 100%;
      
      svg {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.jk-loader-layer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: var(--pad-m) 0;
  width: 100%;
}

/* https://codepen.io/nzbin/pen/GGrXbp */
/* ============================================== *
 * Dot Flashing                                   *
 * ============================================== */

.dot-flashing {
  animation: dot-flashing var(--dot-flashing-duration) infinite linear alternate;
  animation-delay: calc(var(--dot-flashing-duration) / 2);
  background-color: var(--dot-flashing-color);
  border-radius: 50%;
  color: var(--dot-flashing-color);
  --dot-flashing-color: var(--cr-bk);
  --dot-flashing-color-light: var(--cr-ht);
  --dot-flashing-duration: 0.6s;
  --dot-flashing-size: calc(var(--tx-bs) / 3);
  height: var(--dot-flashing-size);
  margin-left: calc(var(--dot-flashing-size) * 1.5);
  margin-right: calc(var(--dot-flashing-size) * 1.5);
  position: relative;
  width: var(--dot-flashing-size);
  
  &.bottom {
    margin-top: 7px;
  }
}

.dot-flashing::before, .dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  animation: dot-flashing var(--dot-flashing-duration) infinite alternate;
  animation-delay: 0s;
  background-color: var(--dot-flashing-color);
  border-radius: 50%;
  color: var(--dot-flashing-color);
  height: var(--dot-flashing-size);
  left: calc(var(--dot-flashing-size) * -1.5);
  width: var(--dot-flashing-size);
}

.dot-flashing::after {
  animation: dot-flashing var(--dot-flashing-duration) infinite alternate;
  animation-delay: var(--dot-flashing-duration);
  background-color: var(--dot-flashing-color);
  border-radius: 50%;
  color: var(--dot-flashing-color);
  height: var(--dot-flashing-size);
  left: calc(var(--dot-flashing-size) * 1.5);
  width: var(--dot-flashing-size);
}

@keyframes dot-flashing {
  0% {
    background-color: var(--dot-flashing-color);
  }
  50%, 100% {
    background-color: var(--dot-flashing-color-light);
  }
}
