@use "../../mixins";

.jk-md-math-editor-layout {
  display: flex;
  flex-direction: column;
  
  &.editing {
    border: none;
  }
  
  .content-bar-options {
    z-index: 1;
    
    > div {
      text-transform: capitalize;
      
      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--pad-xl);
        cursor: pointer;
        
        > span {
          display: block;
        }
        
        &.box-disabled {
          color: var(--cr-gy-4);
          cursor: unset;
        }
      }
    }
    
    > div + div {
      border-left: 1px solid var(--cr-we);
    }
  }
  
  .content-preview {
    position: relative;
  }
  
  .content-editor-preview {
    --min-height: 120px;
    position: relative;
    display: flex;
    width: 100%;
    @include mixins.sm { border-radius: var(--border-radius-sm); }
    
    > div.jk-split-pane > .jk-split-pane-divider {
      height: auto;
    }
    
    .no-saved-label {
      z-index: 1;
      position: absolute;
      width: calc(100% + 2px);
      background-color: var(--cr-pl);
      color: var(--cr-we);
      text-align: center;
      text-transform: uppercase;
      top: -1px;
      left: -1px;
      font-size: var(--tx-s-t);
      font-weight: var(--weight-bold);
      line-height: var(--pad-xs);
    }
    
    .preview {
      padding: 4px;
    }
    
    .editor {
      box-sizing: border-box;
      height: 100%;
      padding: 4px;
      
      textarea {
        box-shadow: none;
        border: none;
        font-family: monospace;
        height: 100%;
      }
    }
    
    &.editor-expanded {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "e1";
      
      .editor {
        width: 100%;
        min-height: var(--min-height);
      }
      
      .preview {
        display: none;
      }
    }
    
    &.editor-right-preview-left {
      .editor {
        border-right: 1px solid var(--cr-gy-3);
        width: 50%;
      }
      
      .preview {
        width: 50%;
      }
    }
    
    &.editor-top-preview-bottom {
      .editor {
        border-bottom: 2px solid var(--cr-ht);
      }
    }
    
    &.preview-expanded {
      .editor {
        display: none;
      }
      
      .preview {
        width: 100%;
      }
    }
  }
}

.modal-upload-image {
  
  .jk-tabs-content {
    height: calc(var(--100VH) - 160px) !important;
    overflow: auto;
  }
  
  .public-images-tab {
    gap: 0 !important;
    padding: var(--pad-t);
    
    .thumbnail {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--cr-gy-4);
      padding: var(--pad-xt);
      
      img {
        max-width: 150px;
        max-height: 150px;
      }
      
      .jk-float-toolbar-layout {
        position: absolute;
        align-self: flex-start;
        top: var(--pad-xt);
        right: var(--pad-xt);
      }
      
      .button-a {
        position: absolute;
        top: 4px;
        left: 4px;
        min-height: var(--pad-m);
        background-color: var(--cr-pl);
        border-color: var(--cr-pl);
      }
    }
  }
  
  .upload-new-image-tab {
    padding: var(--pad-t) 0;
    
    .copyable {
      cursor: pointer;
    }
  }
}
