@use "../../mixins";

.jk-vertical-menu-layout-container, .jk-horizontal-menu-layout-container {
  --border-radius-width: 24px;
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  
  > .jk-menu {
    z-index: var(--zi-menu);
  }
  
  > .jk-menu-main-layout {
    position: relative;
    height: calc(100% - var(--top-horizontal-menu-height) - var(--bottom-horizontal-menu-height));
  }
}

.jk-vertical-menu-layout-container {
  --top-horizontal-menu-height: 0px;
  --height-jk-menu-item: var(--left-vertical-collapsed-menu-width);
  
  --left-vertical-menu-width: calc(64px * 4);
  @include mixins.md { --left-vertical-menu-width: calc(64px * 3); }
  @include mixins.sm { --left-vertical-menu-width: calc(64px * 2); }
  
  &.collapsed {
    --left-vertical-menu-width: var(--left-vertical-collapsed-menu-width);
    
    > .jk-menu {
      .jk-menu-items {
        .jk-menu-item-icon {
          margin: 0 auto !important;
        }
        
        .jk-menu-item-label {
          display: none;
        }
      }
    }
  }
  
  > .jk-menu {
    height: 100%;
    width: var(--left-vertical-menu-width);
    overflow: hidden auto;
    @include mixins.transition(width);
    
    .jk-menu-content {
      width: inherit;
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      
      .jk-menu-top-section {
        flex: 2;
        
        &.selected-down {
          border-radius: 0 0 var(--border-radius-width) 0;
        }
      }
      
      .jk-menu-items {
        flex: 8;
        //display: flex;
        //flex-direction: column;
        
        .jk-menu-item {
          //display: flex;
          position: relative;
          //height: var(--height-jk-menu-item);
          //align-items: center;
          
          &:not(.selected):not(.extra):hover {
            background: var(--cr-ht);
          }
          
          &.selected {
            background-color: transparent;
            font-weight: var(--weight-bold);
            color: var(--color-primary);
            
            //&::after {
            //  position: absolute;
            //  top: 0;
            //  left: -18px;
            //  content: " ";
            //  background: radial-gradient(circle at right, transparent calc(var(--height-jk-menu-item) / 2), var(--cr-pd) calc(var(--height-jk-menu-item) / 2)), transparent center/cover;
            //  width: var(--height-jk-menu-item);
            //  height: var(--height-jk-menu-item);
            //}
          }
          
          &.selected-down {
            //border-radius: 0 0 var(--border-radius-width) 0;
          }
          
          &.selected-up {
            //border-radius: 0 var(--border-radius-width) 0 0;
          }
          
          &.extra:last-child {
            flex: 1;
          }
          
          .jk-menu-item-label {
            text-transform: capitalize;
          }
        }
      }
      
      .jk-menu-collapse-section {
        padding: calc((var(--left-vertical-collapsed-menu-width) - var(--tx-h-m)) / 2);
        
        .jk-menu-collapse {
          border-radius: 50%;
          cursor: pointer;
          background-color: var(--cr-py);
        }
      }
    }
  }
  
  > .jk-menu-main-layout {
    width: calc(100vw - var(--left-vertical-menu-width));
    overflow: hidden auto;
  }
}

.jk-horizontal-menu-layout-container, .jk-drawer-menu-mobile {
  --left-vertical-menu-width: 0px;
  --top-horizontal-menu-height: 64px;
  @include mixins.sm {
    --top-horizontal-menu-height: 48px;
    --bottom-horizontal-menu-height: 3rem;
  }
}

.jk-horizontal-menu-layout-container {
  height: 100%;
  width: 100%;
  --height-jk-menu-item: var(--top-horizontal-menu-height);
  flex-direction: column;
  overflow: hidden;
  
  > .jk-menu {
    height: var(--top-horizontal-menu-height);
    width: 100%;
    
    .jk-menu-content {
      width: 100%;
      height: inherit;
      position: relative;
      @include mixins.sm { background-color: var(--cr-we); }
      
      .jk-menu-left-section, .jk-menu-items, .jk-menu-right-section,
      .jk-horizontal-menu-mobile-left, .jk-horizontal-menu-mobile-center, .jk-horizontal-menu-mobile-right {
        height: inherit;
        color: var(--cr-py-tx);
      }
      
      .jk-menu-items {
        flex: 1;
        color: var(--cr-py-tx);
        
        .jk-menu-item {
          position: relative;
          
          @include mixins.sm { flex-direction: column; }
          
          &:not(.selected):hover {
            background: var(--cr-ht);
          }
          
          &.selected {
            font-weight: var(--weight-bold);
            @include mixins.sm { background-color: var(--cr-at); }
            
            //&::after {
            //  position: absolute;
            //  bottom: 0;
            //  content: "";
            //  width: 100%;
            //  height: var(--pad-xt);
            //  background-color: var(--cr-at);
            //  border-radius: 4px 4px 0 0;
            //
            //  @include mixins.sm { content: none; }
            //}
          }
          
          &.extra:last-child {
            flex: 1;
          }
          
          .jk-menu-item-icon {
            margin: 0;
            
            @include mixins.sm {
              height: var(--pad-s);
              width: var(--pad-s);
              
              .jk-icon {
                min-height: var(--pad-s);
                min-width: var(--pad-s);
                height: var(--pad-s);
                width: var(--pad-s);
              }
            }
          }
          
          .jk-menu-item-label {
            text-transform: uppercase;
          }
        }
      }
      
      .jk-horizontal-menu-mobile-right {
        display: flex;
      }
    }
  }
  
  > .jk-bottom-horizontal-menu {
    height: var(--bottom-horizontal-menu-height);
    background-color: var(--cr-we);
    
    .jk-menu-items {
      height: 100%;
      padding: 0 var(--pad-sm);
      
      .jk-menu-item {
        height: 100%;
        position: relative;
        
        .selected-tab-tick {
          width: 100%;
          height: 4px;
          position: absolute;
          left: 0;
          top: 0;
          padding: 0;
          background-color: var(--cr-at);
          border-radius: 0 0 2px 2px;
        }
        
        .jk-menu-item-icon {
          margin: 0;
          
          @include mixins.sm {
            height: var(--pad-s);
            width: var(--pad-s);
            
            .jk-icon {
              min-height: var(--pad-s);
              min-width: var(--pad-s);
              height: var(--pad-s);
              width: var(--pad-s);
            }
          }
        }
      }
    }
  }
}

.jk-vertical-menu-layout-container {
  --width-company-selector: var(--left-vertical-menu-width);
}

.jk-horizontal-menu-layout-container {
  --width-company-selector: 250px;
  
  .menu-item-company-selector {
    gap: var(--gap);
    display: flex;
  }
}

.menu-item-company-selector {
  
  .jk-menu-item-label > div {
    
    width: calc(var(--width-company-selector) - var(--margin) - 24px - 4px) !important;
    
    --margin: calc(var(--pad-m) + var(--pad-s));
    @include mixins.md { --margin: calc(var(--pad-xs) + var(--pad-s)); }
    @include mixins.sm { --margin: calc(var(--pad-xt) + var(--pad-s)); }
  }
}
