@use "../../mixins";

.jk-vertical-menu-layout-container, .jk-horizontal-menu-layout-container {
  display: flex;
  position: relative;
  
  > .jk-menu {
    z-index: var(--zi-menu);
    background: var(--navbar-bd-cr);
    color: var(--navbar-tx-cr);
    outline: 1px solid var(--cr-ht-lt);
  }
  
  > .jk-menu-main-layout {
    position: relative;
    height: calc(100% - var(--top-horizontal-menu-height) - var(--bottom-horizontal-menu-height));
  }
}

.jk-vertical-menu-layout-container {
  --top-horizontal-menu-height: 0px;
  --height-jk-menu-item: var(--left-vertical-collapsed-menu-width);
  
  --left-vertical-menu-width: calc(64px * 4);
  @include mixins.md { --left-vertical-menu-width: calc(64px * 3); }
  @include mixins.sm { --left-vertical-menu-width: calc(64px * 2); }
  
  &.collapsed {
    --left-vertical-menu-width: var(--left-vertical-collapsed-menu-width);
    
    .jk-menu-item-icon {
      margin: 0 auto !important;
    }
    
    .jk-menu-item-label {
      display: none;
    }
  }
  
  .jk-menu-item {
    position: relative;
    
    &:not(.selected):not(.extra):hover {
      background: var(--cr-ht-lt);
    }
    
    &.selected {
      background-color: var(--navbar-at-cr);
    }
    
    &.extra:last-child {
      flex: 1;
    }
  }
  
  > .jk-menu {
    width: var(--left-vertical-menu-width);
    overflow: hidden auto;
    @include mixins.transition(width);
    
    .jk-menu-content {
      width: inherit;
      display: flex;
      flex-direction: column;
      position: relative;
    }
    
    .jk-menu-collapse-section {
      padding: calc((var(--left-vertical-collapsed-menu-width) - var(--tx-h-m)) / 2);
    }
    
    .jk-menu-collapse {
      border-radius: 50%;
      cursor: pointer;
      background-color: var(--navbar-at-cr);
    }
  }
  
  > .jk-menu-main-layout {
    width: calc(100vw - var(--left-vertical-menu-width));
    overflow: hidden auto;
  }
}

.jk-horizontal-menu-layout-container, .jk-drawer-menu-mobile {
  --left-vertical-menu-width: 0px;
  --top-horizontal-menu-height: 64px;
  
  @include mixins.sm {
    --top-horizontal-menu-height: 48px;
    --bottom-horizontal-menu-height: 3rem;
  }
}

.jk-horizontal-menu-layout-container {
  --height-jk-menu-item: var(--top-horizontal-menu-height);
  flex-direction: column;
  overflow: hidden;
  
  > .jk-menu {
    height: var(--top-horizontal-menu-height);
    
    .jk-menu-content {
      height: inherit;
      
      .jk-menu-left-section, .jk-menu-items, .jk-menu-right-section,
      .jk-horizontal-menu-mobile-left, .jk-horizontal-menu-mobile-center, .jk-horizontal-menu-mobile-right {
        height: inherit;
      }
      
      .jk-horizontal-menu-mobile-right {
        display: flex;
      }
    }
  }
  
  .jk-menu-item {
    position: relative;
    
    @include mixins.sm { flex-direction: column; }
    
    &:not(.selected):hover {
      background: var(--cr-ht);
    }
    
    &.selected {
      background: var(--navbar-at-cr);
    }
    
    &.extra:last-child {
      flex: 1;
    }
    
    .jk-menu-item-icon {
      margin: 0;
      
      @include mixins.sm {
        height: var(--pad-s);
        width: var(--pad-s);
        
        .jk-icon {
          min-height: var(--pad-s);
          min-width: var(--pad-s);
          height: var(--pad-s);
          width: var(--pad-s);
        }
      }
    }
  }
  
  > .jk-top-horizontal-menu, > .jk-bottom-horizontal-menu {
    background-color: var(--navbar-bd-cr);
    color: var(--navbar-tx-cr);
  }
  
  > .jk-bottom-horizontal-menu {
    height: var(--bottom-horizontal-menu-height);
    
    
    .jk-menu-item-icon {
      margin: 0;
      
      @include mixins.sm {
        height: var(--pad-s);
        width: var(--pad-s);
        
        .jk-icon {
          min-height: var(--pad-s);
          min-width: var(--pad-s);
          height: var(--pad-s);
          width: var(--pad-s);
        }
      }
    }
  }
}

.jk-vertical-menu-layout-container {
  --width-company-selector: var(--left-vertical-menu-width);
}

.jk-horizontal-menu-layout-container {
  --width-company-selector: 250px;
  
  .menu-item-company-selector {
    gap: var(--gap);
    display: flex;
  }
}

.menu-item-company-selector {
  
  .jk-menu-item-label > div {
    
    width: calc(var(--width-company-selector) - var(--margin) - 24px - 4px) !important;
    
    --margin: calc(var(--pad-m) + var(--pad-s));
    @include mixins.md { --margin: calc(var(--pad-xs) + var(--pad-s)); }
    @include mixins.sm { --margin: calc(var(--pad-xt) + var(--pad-s)); }
  }
}
