@use "../../mixins";

.jk-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--zi-overlay);
  display: grid;
  place-items: center;
  overflow: auto;
  
  .jk-modal-overlay {
    overflow: hidden;
    z-index: 1;
  }
  
  &.expand {
    .jk-modal-content {
      width: var(--modal-width-lg);
    }
  }
  
  .jk-modal-content {
    //margin: var(--pad-md);
    background-color: var(--body-bd-cr);
    z-index: 1;
    position: relative;
    max-width: var(--modal-width-lg);
    min-width: var(--modal-width-sm);
    max-height: var(--modal-max-height);
    overflow: auto;
    
    .jk-modal-close-button {
      position: sticky;
      top: 0;
      z-index: 2;
      
      > div {
        position: absolute;
        margin: var(--border-radius);
        right: 0;
      }
    }
  }
}

.jk-modal-bc-wd-TODO {
  .jk-modal {
    background: var(--cr-we-dk);
  }
}

.split-modal {
  .jk-side-secondary {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: calc(var(--side-main-height, 100%) + var(--pad-lg) * 2);
    max-height: calc(var(--side-main-height, 100%) + var(--pad-lg) * 2);
    
    @include mixins.transition(background-color);
    @include mixins.md { flex: 5 !important; }
    
    .title {
      text-align: center;
    }
    
    .graphic {
      min-height: calc(100% - var(--title-side-main-height) - var(--pad-sm) * 4);
    }
  }
  
  .jk-side-main {
    @include mixins.md { flex: 6 !important; }
  }
  
  @include mixins.sm {
    flex-direction: column;
    .jk-side-secondary {
      border-radius: 0;
    }
  }
}
