@use "../../mixins";

:root {
  --width-notification-wrapper: 448px;
  --width-notification: 448px;
}

.notification-wrapper, .notification-wrapper-quiet {
  position: fixed;
  right: calc(var(--width-notification-wrapper) + var(--pad-md));
  width: 0;
  z-index: var(--z-index-notification);
  @include mixins.md-hg { top: var(--pad-md); }
  @include mixins.sm {
    --width-notification-wrapper: 100vw;
    --width-notification: calc(100vw - var(--pad-md) - var(--pad-md));
    right: calc(var(--width-notification-wrapper) - var(--pad-md));
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .jk-notification-item-container {
    .jk-notification-item {
      border-radius: var(--border-radius-inline);
      overflow: hidden;
      width: var(--width-notification);
      z-index: var(--z-index-notification);
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      font-weight: var(--weight-bold);
      box-sizing: border-box;
      
      > .jk-icon {
        padding: var(--pad-xt);
        @include mixins.sm {
          display: none;
        }
      }
      
      .bar {
        position: absolute;
        bottom: 0;
        height: 4px;
        background-color: var(--t-color-highlight);
      }
    }
  }
}

.notification-wrapper {
  .jk-notification-item-container + .jk-notification-item-container {
    margin-top: var(--pad-t);
    @include mixins.sm {
      margin-top: unset;
    }
  }
  
  .jk-notification-item-container {
    animation: SlideLeft 400ms forwards;
    @include mixins.sm {
      animation: SlideBottom 400ms forwards;
    }
    
    &.exit {
      animation: SlideRight 400ms forwards;
      margin-bottom: var(--pad-xt);
      @include mixins.sm {
        animation: Dispel 400ms forwards;
      }
    }
    
    .jk-notification-item {
      //padding: var(--pad-xt);
      //@include mixins.sm { padding: 2px 4px; }
      
      .jk-notification-message-content {
        justify-content: center;
        //padding: var(--pad-xt);
        
        .jk-notification-message-body {
          width: calc(var(--width-notification) - var(--pad-xt) * 6 - var(--text-medium-height) - 32px);
          @include mixins.sm {
            width: calc(var(--width-notification) - var(--pad-xt) * 4 - 32px);
          }
        }
        
        &.text-message {
          min-height: 42px;
          display: flex;
          justify-content: left;
          align-items: center;
          @include mixins.sm {
            text-align: center;
            width: 100%;
            justify-content: center;
          }
        }
      }
    }
    
    &.success {
      .jk-notification-item {
        @include mixins.look(success);
      }
    }
    
    &.error {
      .jk-notification-item {
        @include mixins.look(error);
      }
    }
    
    &.info {
      .jk-notification-item {
        @include mixins.look(info);
      }
    }
    
    &.warning {
      .jk-notification-item {
        @include mixins.look(warning);
      }
    }
  }
}

.notification-wrapper-quiet {
  top: 0;
  display: flex;
  flex-direction: column-reverse;
  height: var(--100VH);
  
  .jk-notification-item-container {
    margin-bottom: var(--pad-xt);
    animation: SlideLeft 400ms forwards;
    @include mixins.sm {
      animation: FadeIn 400ms forwards;
      margin-bottom: unset;
      margin-top: var(--pad-xt);
    }
    
    &.exit {
      animation: FadeOut 400ms forwards;
      @include mixins.sm {
        animation: FadeOut 400ms forwards;
      }
    }
    
    .jk-notification-item {
      
      font-weight: var(--weight-regular);
      padding: 0 4px;
      
      right: calc(var(--width-notification) - var(--width-notification-wrapper));
      @include mixins.sm { right: 0; }
      
      @include mixins.elevation(1);
      @include mixins.look(primary-light);
      @include mixins.sm {
        border-radius: 0;
      }
      
      .jk-notification-message-content {
        
        text-align: center;
        
        @include mixins.font-size(tiny);
      }
      
      .bar {
        height: 2px;
      }
    }
  }
}

@keyframes SlideLeft {
  0% {
    margin-left: calc(var(--width-notification) + var(--pad-H));
  }
  
  100% {
    margin-left: 0;
  }
}

@keyframes SlideRight {
  0% {
    margin-left: 0;
  }
  
  100% {
    margin-left: calc(var(--width-notification) + var(--pad-H));
  }
}

@keyframes SlideBottom {
  0% {
    margin-bottom: calc(var(--100VH) * -1);
  }
  
  100% {
    margin-bottom: var(--pad-xt);
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}
