.jk-circular-progress {
  --half-size: calc(var(--size) / 2);
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(var(--radius) * pi * 2);
  --dash: calc((var(--progress) * var(--circumference)) / 100);
  animation: progress-animation 5s linear 0s 1 forwards;
}

.jk-circular-progress circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  fill: none;
  stroke-linecap: round;
}

.jk-circular-progress circle.bg {
  stroke: var(--t-color-highlight);
}

.jk-circular-progress circle.fg {
  transform: rotate(-90deg);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
  transition: stroke-dasharray 0.3s linear 0s;
  stroke: var(--t-color-info);
}

.jk-progress-slide {
  .slide {
    --speed: 2s;
    --stripeWidth: calc(var(--height) * 1px);
    background-image: repeating-linear-gradient(
                    45deg,
                    transparent,
                    transparent calc(var(--stripeWidth) / 2),
                    var(--color) calc(var(--stripeWidth) / 2),
                    var(--color) var(--stripeWidth)
    );
    animation: slide calc(var(--width) * 50ms) linear infinite;
    will-change: background-position;
    
    @keyframes slide {
      from {
        background-position-x: 0;
      }
      to {
        background-position-x: calc(var(--width) * 1px);
      }
    }
  }
}
