.sample-text-content {
  width: 100%;
  padding: var(--pad-xt);
  position: relative;
  min-height: 26px;
  
  .sample-text-icons {
    position: absolute;
    top: var(--pad-xt);
    right: var(--pad-xt);
  }
  
  > span:not(.jk-icon) {
    background-color: var(--cr-ht-lt) !important;
    white-space: pre;
    font-family: monospace;
  }
}

.jk-problem-view-statement {
  width: 100%;
  height: 100%;
  overflow: auto;
}
