@use "../../mixins";

.jk-split-pane {
  --size: 6px;
  --line-size: 2px;
  --line-notch-size: 8px;
  display: flex;
  width: 100%;
  height: 100%;
  
  .jk-split-first-pane, .jk-split-second-pane {
    flex: 1;
    overflow: hidden;
    position: relative;
  }
  
  .jk-split-pane-divider {
    border: none;
    position: relative;
    
    .jk-split-pane-divider-line {
      //z-index: 1;
      position: relative;
      background: var(--cr-ht-lt);
    }
    
    &:hover {
      .jk-split-pane-divider-line {
        background: var(--cr-ht);
      }
    }
    
    // Preventing an image from being draggable or selectable without using JS
    // https://stackoverflow.com/questions/12906789/preventing-an-image-from-being-draggable-or-selectable-without-using-js
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  
  .closable-tab {
    pointer-events: none;
    position: absolute;
  }
  
  .notch {
    pointer-events: auto;
    cursor: pointer;
    @include mixins.transition(padding);
    
    .label {
      display: none;
    }
    
    &:hover {
      .label {
        display: initial;
      }
    }
    
    &.jk-row {
      padding: 2px 4px;
      
      &:hover {
        padding: 4px 6px;
      }
    }
    
    &.jk-col {
      padding: 4px 2px;
      
      &:hover {
        padding: 6px 4px;
      }
    }
  }
  
  &.dragging {
    .jk-split-first-pane, .jk-split-second-pane {
      pointer-events: none;
    }
  }
  
  .jk-split-pane-divider {
    &:hover {
      --line-notch-size: 10px;
    }
    
    &::after {
      z-index: 1;
      content: " ";
      position: absolute;
      border-radius: 3px;
      opacity: 0.6;
    }
  }
  
  &.column {
    flex-direction: column;
    
    > .jk-split-first-pane > .closable-tab, > .jk-split-second-pane > .closable-tab {
      width: 100%;
      left: 0;
      
      &.left, &.right {
        left: var(--pad-m);
        width: calc(100% - var(--pad-m) - var(--pad-m));
      }
      
      .label {
        text-orientation: sideways;
      }
    }
    
    > .jk-split-first-pane > .closable-tab {
      bottom: 0;
      
      > .notch {
        border-radius: 4px 4px 0 0;
      }
    }
    
    > .jk-split-second-pane > .closable-tab {
      top: 0;
      
      > .notch {
        border-radius: 0 0 4px 4px;
      }
    }
    
    > .jk-split-pane-divider .toggle-button {
      position: absolute;
      bottom: calc(5px + var(--line-size) / 2);
      border-radius: 4px 4px 0 0;
      
      > .label {
        padding-right: 4px;
      }
    }
    
    > .jk-split-pane-divider {
      height: var(--line-size);
      width: 100%;
      
      .jk-split-pane-divider-line {
        height: var(--line-size);
        top: calc(var(--line-size) / 2 * -1);
      }
      
      &:hover::after {
        width: 100%;
        left: 0;
      }
      
      &::after {
        top: calc(var(--line-notch-size) / 2 * -1);
        left: calc(50% - 32px);
        width: 64px;
        height: var(--line-notch-size);
        background: linear-gradient(to bottom, var(--cr-gy-4) 20%, var(--cr-we) 20% 40%, var(--cr-gy-4) 40% 60%, var(--cr-we) 60% 80%, var(--cr-gy-4) 80%);
      }
    }
    
    &.dragging, > .jk-split-pane-divider {
      cursor: row-resize;
    }
  }
  
  &.row {
    > .jk-split-pane-divider .toggle-button {
      position: absolute;
      right: calc(5px + var(--line-size) / 2);
      transform: rotate(180deg);
      border-radius: 0 4px 4px 0;
      
      > .label {
        writing-mode: vertical-lr;
        text-orientation: sideways;
        padding-bottom: 4px;
      }
    }
    
    > .jk-split-first-pane > .closable-tab, > .jk-split-second-pane > .closable-tab {
      height: 100%;
      top: 0;
      
      &.top, &.bottom {
        top: var(--pad-m);
        height: calc(100% - var(--pad-m) - var(--pad-m));
      }
      
      .label {
        writing-mode: vertical-lr;
        text-orientation: sideways;
      }
    }
    
    > .jk-split-first-pane > .closable-tab {
      right: 0;
      
      > .notch {
        transform: rotate(180deg);
        border-radius: 0 4px 4px 0;
      }
    }
    
    > .jk-split-second-pane > .closable-tab {
      left: 0;
      
      > .notch {
        border-radius: 0 4px 4px 0;
      }
    }
    
    > .jk-split-pane-divider {
      height: 100%;
      width: var(--line-size);
      
      .jk-split-pane-divider-line {
        height: 100%;
        width: var(--line-size);
        //left: calc(var(--line-size) / 2 * -1);
      }
      
      &:hover::after {
        height: 100%;
        top: 0;
      }
      
      &::after {
        top: calc(50% - 32px);
        left: calc(var(--line-notch-size) / 2 * -1);
        width: var(--line-notch-size);
        height: 64px;
        background: linear-gradient(to right, var(--cr-gy-4) 0% 20%, var(--cr-we) 20% 40%, var(--cr-gy-4) 40% 60%, var(--cr-we) 60% 80%, var(--cr-gy-4) 80% 100%);
      }
    }
    
    &.dragging, > .jk-split-pane-divider {
      cursor: col-resize;
    }
  }
}
