.jk-tabs-inline {
  overflow: visible;
  
  &.one-tab-view {
    .tab-tick-background.selected {
      width: calc(100% - var(--pad-t) - var(--pad-t));
    }
  }
  
  .jk-tabs-headers-inline {
    overflow: auto;
    
    .selected-tab-tick {
      width: 100%;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 0;
      background-color: var(--cr-at);
      border-radius: 2px 2px 0 0;
    }
    
    .tab-tick-background {
      padding: 1px 10px;
      
      &:hover:not(.selected) {
        background-color: var(--cr-ht);
      }
    }
    
    .jk-tabs-inline-tab:not(.selected) {
      cursor: pointer;
    }
    
    .jk-tabs-inline-tab {
      position: relative;
    }
  }
  
  &.tick-style-line {
    .jk-tabs-inline-tab {
      padding: var(--pad-xt) var(--pad-t);
    }
  }
}
