@use "../../mixins";

.color-cells {
  > div {
    width: 60px;
    height: 60px;
    text-align: center;
    display: grid;
    align-items: center;
    @include mixins.font-size(s);
  }
  
  &.with-labels {
    > div {
      align-items: start;
      height: 80px;
      
      > div {
        height: 20px;
        @include mixins.font-size(t);
        @include mixins.look(gy-4);
      }
    }
  }
}
