@use "../../mixins";

.jk-timer-layout {
  width: min-content;
  
  &:not(.inline):not(.literal) {
    height: 40px;
  }
  
  &.literal {
    span + span {
      margin-left: 4px;
    }
  }
  
  .content-stamp {
    padding: 0 8px;
    @include mixins.sm {
      width: min-content;
      padding: 2px;
    }
    
    .content-label {
      line-height: var(--pad-t);
    }
    
    .content-label span:first-letter {
      @include mixins.sm {
        visibility: visible;
      }
    }
  }
}
