@use "../../mixins";

.worksheet-viewer-container {
  --worksheet-contents-header-width: 256px;
  --worksheet-results-width: 160px;
  @include mixins.sm() {
    --worksheet-contents-header-width: 0px;
    --worksheet-results-width: 0px;
  }
  
  .worksheet-content {
    width: var(--worksheet-contents-header-width);
    //--tx-bs: calc(var(--tx-bs) * 0.8);
    
    h1, h2, h3 {
      line-height: 1.2;
      padding: 0;
    }
    
    h1 {
      font-size: calc(var(--tx-bs) * 0.6 * 1.5) !important; // 24px;
    }
    
    h2 {
      font-size: calc(var(--tx-bs) * 0.6 * 1.375) !important; // 22px;
    }
    
    h3 {
      font-size: calc(var(--tx-bs) * 0.6 * 1.25) !important; // 20px;
    }
  }
  
  .worksheet-bodies {
    width: min(calc(100% - var(--worksheet-contents-header-width) - var(--gap)), 64ch);
    
    &.is-solvable {
      [class$="-sheet-section-view"], [class*="-sheet-section-view "] {
        width: calc(100% - var(--worksheet-results-width));
      }
      
      @include mixins.md-hg() {
        .result-header {
          width: var(--worksheet-results-width);
        }
      }
    }
    
  }
  
  .worksheet-bodies:first-child {
    width: 100%;
  }
  
  .JK_MD-chunk + .JK_MD-chunk {
    ////background: red;
    //border-top-left-radius: 0;
    //border-top-right-radius: 0;
    //
    //.jk-md-sheet-section {
    //  border-top-left-radius: 0;
    //  border-top-right-radius: 0;
    //  //background: blue;
    //}
  }
}

.worksheet-editor-container {
  .worksheet-bodies {
    
    @include mixins.md() {
      max-width: calc(100% - 256px);
    }
  }
  
  .jk-md-sheet-section,
  .quiz-options-sheet-section-view,
  .graph-sheet-section-view,
  .quiz-problem-sheet-section-view,
  .code-editor-sheet-section-view {
    min-height: 180px;
    
    .jk-md-math-editor-layout .jk-md-math-viewer-layout {
      min-height: 128px;
    }
  }
}
