@import "../../abstracts/index";

button[class*=" jk-button-"], button[class^="jk-button-"],
input[class*=" jk-button-"], input[class^="jk-button-"],
div[class*=" jk-button-"], div[class^="jk-button-"] {
  height: auto;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  
  .button-label {
    flex: 1;
  }
  
  &.tiny {
    min-height: 26px;
    font-weight: var(--weight-bold);
    font-size: var(--text-t-size);
    padding: 0 var(--pad-xt);
    gap: 4px;
    
    &.pad-icon { padding: 0 calc(var(--pad-xt) + 10px); }
    
    &.only-icon { width: var(--pad-l); }
    
    .jk-icon { @extend .tiny; }
  }
  
  &.small {
    min-height: var(--pad-xl);
    font-weight: var(--weight-bold);
    font-size: var(--text-s-size);
    gap: var(--pad-xt);
    padding: 0 var(--pad-t);
    
    &.pad-icon { padding: 0 calc(var(--pad-t) + 14px); }
    
    &.only-icon { width: var(--pad-xl); }
    
    .jk-icon { @extend .small; }
  }
  
  &.regular {
    min-height: var(--pad-h);
    font-weight: var(--weight-bold);
    font-size: var(--text-m-size);
    gap: var(--pad-t);
    padding: 0 var(--pad-xs);
    
    &.pad-icon { padding: 0 calc(var(--pad-xs) + 18px); }
    
    &.only-icon {
      width: var(--pad-h);
    }
  }
  
  &.large {
    min-height: var(--pad-xH);
    font-weight: var(--weight-bold);
    font-size: var(--text-l-size);
    gap: var(--pad-xs);
    padding: 0 var(--pad-s);
    
    &.pad-icon { padding: 0 calc(var(--pad-s) + 20px); }
    
    &.only-icon { width: var(--pad-xH); }
    
    .jk-icon { @extend .large; }
  }
  
  &.huge {
    min-height: 64px;
    font-weight: var(--weight-bold);
    font-size: var(--text-xl-size);
    gap: var(--pad-s);
    padding: 0 var(--pad-m);
    
    &.pad-icon { padding: 0 calc(var(--pad-m) + 22px); }
    
    &.only-icon { width: 64px; }
    
    .jk-icon { @extend .huge; }
  }
  
  &.only-icon {
    padding: 0;
    border-radius: 50%;
    
    .jk-icon {
      margin: auto;
    }
  }
  
  &.loading {
    cursor: not-allowed;
    pointer-events: none;
  }
  
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  &.extend {
    width: 100%;
  }
  
  &.error {
    background-color: var(--t-color-error) !important;
    border-color: transparent !important;
    pointer-events: none;
  }
  
  &.success {
    background-color: var(--t-color-success) !important;
    border-color: transparent !important;
    pointer-events: none;
  }
  
  &:not(.disabled):hover {
    @extend .elevation-2;
  }
}

.jk-button-primary {
  @extend .appearance-primary;
  border: 2px solid transparent;
  
  &:not(.disabled):hover {
    //background-color: rgba(var(--t-color-primary-rgb), 0.90);
    //background-color: var(--t-color-primary-light);
  }
  
  &:not(.disabled):active, &:not(.disabled):focus {
    //background-color: rgba(var(--t-color-primary-rgb), 0.80);
    //background-color: var(--t-color-primary-light);
  }
}

.jk-button-secondary {
  background-color: var(--t-color-secondary);
  border: 2px solid transparent;
  color: var(--t-color-secondary-text);
  
  &:not(.disabled):hover {
    //background-color: rgba(var(--t-color-secondary-rgb), 0.90);
    //background-color: var(--t-color-secondary-light);
  }
  
  &:not(.disabled):active, &:not(.disabled):focus {
    //background-color: rgba(var(--t-color-secondary-rgb), 0.80);
    //background-color: var(--t-color-secondary-light);
  }
}

.jk-button-text {
  background-color: transparent;
  border: 2px solid transparent;
  color: inherit;
  
  &:not(.disabled):hover, &:not(.disabled):focus {
    background-color: transparent;
    border-color: transparent;
    
    span {
      text-decoration: underline;
    }
  }
  
  * {
    color: inherit;
  }
  
  &:hover {
    box-shadow: none !important;
  }
}

.jk-button-outline {
  background-color: transparent;
  border: 2px solid var(--t-color-primary);
  color: var(--t-color-primary);
  font-weight: var(--weight-bolder) !important;
}
