.editor-settings-modal {
  max-width: var(--modal-width-md-min);
  
  .jk-modal-body {
    h6 {
      text-align: center;
    }
  }
}

.jk-code-mirror-editor-test-cases {
  height: 100%;
  width: 100%;
  
  > div {
    height: 100%;
    width: 100%;
    position: relative;
    
    .test-cases-inputs, .test-cases-output-stderr {
      height: 100%;
      width: 100%;
      
      .text-case {
        display: flex;
        justify-content: center;
        width: min-content;
        text-align: center;
        align-items: center;
        @extend .tx-s;
        height: 24px;
        
        .tt-se {
          //margin: 0 var(--pad-xt);
          white-space: break-spaces;
        }
      }
    }
    
    .test-cases-output-stderr {
      .jk-tabs-content {
        position: relative;
        
        > div {
          padding: var(--pad-xt);
          box-sizing: border-box;
          overflow: auto;
        }
      }
      
      .content-log {
        color: var(--t-color-gray-2);
        
        + .content-log {
          border-top: 1px solid var(--t-color-gray-4);
        }
        
        .text-log {
          padding-right: var(--pad-xt);
        }
      }
      
      .jk-text-stdout, .jk-text-stderr {
        width: calc(100% - var(--pad-xs));
        height: calc(100% - var(--pad-xs));
      }
    }
    
    .jk-tabs-layout {
      height: 100%;
      width: 100%;
      
      .jk-input-textarea {
        border: none;
        font-family: monospace;
        background-color: var(--t-color-shadow-lightest);
        border-radius: 0;
      }
    }
    
    .jk-split-first-pane {
      position: relative;
      
      //.add-test-case {
      //  z-index: 1;
      //  position: absolute;
      //  top: 4px;
      //  right: var(--pad-xt);
      //}
    }
    
    .jk-split-second-pane {
      position: relative;
    }
  }
}

.jk-code-mirror-editor-layout {
  height: 100%;
  width: 100%;
  position: relative;
  --options-header-height: 48px; // 80px
  background-color: var(--t-color-white);
  
  .options-header-content {
    height: var(--options-header-height);
    box-sizing: border-box;
    padding: var(--pad-xt);
    border-bottom: 1px solid var(--t-color-gray-4);;
    
    .left-options, .center-options, .right-options {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .left-options {
      justify-content: flex-start;
      
      .languages-selector {
        width: 128px;
        //margin-right: var(--pad-t);
      }
      
      button {
        white-space: nowrap;
      }
    }
    
    .center-options {
      flex: 1;
    }
    
    .right-options {
      justify-content: flex-end;
    }
  }
  
  .editor-stdio-content {
    height: calc(100% - var(--options-header-height));
    
    > div {
      height: 100%;
      
      .editor-layout {
        height: 100%;
        
        .CodeMirror {
          border-radius: 0;
        }
      }
    }
  }
}
