@import "../../abstracts/index";

.jk-drawer-filters {
  width: 380px;
  height: 100%;
  
  @include sm {
    width: 100%;
  }
  
  .title {
    padding: var(--pad-s) var(--pad-t) 0 var(--pad-t);
    text-transform: capitalize;
    font-weight: var(--weight-bold);
  }
  
  .filters-buttons {
    flex-wrap: nowrap;
    height: calc(100% - 92px);
    
    .filters {
      padding: 0 var(--pad-t);
      height: calc(100% - 76px);
      overflow-x: auto;
      
      .tool {
        height: initial;
      }
      
      > div {
        margin-bottom: var(--pad-t);
      }
    }
    
    .buttons {
      padding: var(--pad-s) var(--pad-t);
    }
  }
}

.jk-data-viewer-layout {
  height: 100%;
  --pagination-height: 64px;
  
  &.with-pagination {
    .jk-data-viewer-content {
      //height: calc(100% - var(--pagination-height));
    }
  }
  
  .jk-data-viewer-content {
    height: 100%;
    
    --jk-table-toolbar-height: 50px; // 48 + 2 (border)
    
    .jk-data-viewer-toolbar {
      height: var(--jk-table-toolbar-height);
      position: relative;
      
      &.cards {
        background-color: var(--t-color-white);
        z-index: 1;
      }
      
      .jk-table-view-extra-nodes {
        margin-left: var(--pad-t);
      }
      
      .jk-table-view-tools {
        margin: 0 var(--pad-t);
        
        .jk-divider {
          margin: 0 4px;
        }
        
        @include sm {
          flex: 1;
          margin: 0;
        }
        
        > div > div > .jk-icon, > div > div > div > .jk-icon {
          color: var(--t-color-gray-3);
          padding: 4px;
        }
        
        .loading, .loading .jk-icon {
          cursor: initial;
        }
        
        .active .jk-icon {
          color: var(--t-color-primary-light);
        }
        
        .jk-table-view-tools-view-mode {
          &.rowsView.cardsView {
            > div:first-child .jk-icon {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
            
            > div:last-child .jk-icon {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
          
          .active .jk-icon {
            background-color: var(--t-color-primary);
            color: var(--t-color-primary-text);
          }
        }
        
        .jk-data-viewer-pagination {
          height: auto;
          
          .page-item {
            background: none;
            color: var(--t-color-gray-1);
          }
          
          .page-items {
            background: none;
            margin: 0;
          }
        }
      }
    }
    
    .jk-view-container {
      position: relative;
      height: calc(100% - var(--jk-table-toolbar-height));
      width: 100%;
      
      &.rows {
        background: var(--t-color-white);
      }
      
      &.cards {
        border-radius: 0;
      }
      
      .jk-table-head-container {
        position: relative;
        
        .jk-table-head {
          z-index: 3;
          position: relative;
          height: var(--jk-table-toolbar-height);
          display: flex;
          box-sizing: border-box;
          width: 100%;
          
          .jk-table-head-sticky {
            display: flex;
            box-sizing: border-box;
            background: var(--t-color-white);
            z-index: 2;
          }
          
          .jk-table-head-no-sticky {
            display: flex;
          }
          
          .jk-table-head-field {
            height: 100%;
          }
          
          .jk-table-head-cell {
            box-sizing: border-box;
            height: 100%;
            position: relative;
            padding: 0 4px;
            
            &.with-sort:not(.with-filter), &.with-filter:not(.with-sort) {
              //padding-right: calc(30px); // 26px + 4px // icon, padding
              //@include md {
              //  padding-right: calc(22px); // 18px + 4px // icon, padding
              //}
              //@include sm {
              //  padding-right: calc(22px); // 18px + 4px // icon, padding
              //}
            }
            
            &.with-sort.with-filter {
              //padding-right: calc(56px); // 26px + 26px + 4px // icon, icon, padding
              //@include md {
              //  padding-right: calc(40px); // 18px + 18px + 4px // icon, icon, padding
              //}
              //@include sm {
              //  padding-right: calc(40px); // 18px + 18px + 4px // icon, icon, padding
              //}
            }
            
            .jk-table-head-tools {
              right: 0;
              top: 0;
              position: absolute;
              padding-right: 4px;
            }
            
            .jk-table-head-drag {
              box-sizing: border-box;
              cursor: col-resize;
              position: absolute;
              top: 0;
              right: -5px;
              width: 10px;
              padding: 4px;
              height: 100%;
              z-index: 1;
              display: flex;
              
              > div {
                width: 100%;
                height: 100%;
                background: var(--t-color-gray-6);
              }
            }
            
            .text-head-field {
              height: 100%;
              word-break: break-all;
              line-height: 1;
            }
          }
        }
      }
      
      .jk-data-viewer-body {
        
        &.rows {
          height: calc(100% - var(--jk-table-toolbar-height));
        }
        
        &.cards {
          height: 100%;
        }
        
        box-shadow: 0 -20px 20px -24px var(--t-color-shadow) inset;
      }
      
      .jk-list-card-rows-container, .jk-table-rows-container {
        
        .field, .text-field, .date-field {
          text-align: center;
        }
        
        .text-field {
          white-space: break-spaces;
          word-break: break-word;
          flex-wrap: nowrap;
        }
        
        .date-field {
          .date-literal {
            gap: normal;
            
            > div {
              margin: 0 var(--pad-t);
            }
          }
        }
      }
      
      .jk-table-rows-container {
        .field, .text-field, .date-field {
          height: 100%;
        }
      }
      
      .jk-list-card-rows-container {
        height: 100%;
        width: 100%;
        overflow: auto;
        box-sizing: border-box;
        
        .jk-list-card-rows-box {
          width: 100%;
          position: relative;
          
          .jk-list-card-row {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            box-sizing: border-box;
          }
          
          .jk-list-card {
            box-sizing: border-box;
            padding: var(--pad-t);
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: var(--t-color-white);
            @extend .elevation-1;
            
            &.hovered {
              @extend .elevation-2;
            }
            
            .top-container, .center-container, .bottom-container {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              position: relative;
              
              > .top, > .center, > .bottom {
                position: absolute;
                top: 0;
                width: 100%;
              }
              
              > .top-right, > .center-right, > .bottom-right {
                align-items: flex-end;
              }
              
              > .top-left, > .top-left, > .bottom-left {
                align-items: flex-start;
              }
              
              &.no-middle {
                > .top-right, > .center-right, > .bottom-right, > .top-left, > .top-left, > .bottom-left {
                  flex: 1;
                  align-items: center;
                }
              }
            }
            
            .text-field {
              text-align: center;
              line-height: 1;
            }
            
            .text-field-label {
              line-height: 1;
            }
          }
        }
      }
      
      .jk-table-rows-container {
        box-sizing: border-box;
        display: flex;
        
        .jk-table-rows-box {
          &.sticky {
            position: sticky !important;
            z-index: 2;
            left: 0;
            
            .jk-table-row {
              > div {
                background: var(--t-color-white);
              }
            }
          }
          
          .jk-table-row {
            border-top: 1px solid var(--t-color-gray-6);
            width: 100%;
            display: flex;
            
            &.hovered {
              box-shadow: -4px 0px 4px 0px var(--t-color-shadow);
              z-index: 1;
            }
            
            .field {
              padding: 0 var(--pad-xt);
              overflow: auto;
              box-sizing: border-box;
              
              .text-field-label {
                display: none;
              }
              
              .date-field-label {
                display: none;
              }
            }
          }
          
          .jk-table-row:first-child {
            border-color: transparent;
          }
        }
      }
    }
  }
  
  .jk-data-viewer-pagination {
    height: var(--pagination-height);
    
    &.loading {
      pointer-events: none;
      opacity: 0.4;
    }
    
    > div:first-child {
      .page-items {
        padding: 2px;
        background-color: var(--t-color-white);
        margin: 0 var(--pad-t);
        @include sm { margin: 0; }
        
        > div {
          cursor: pointer;
          
          &.selected {
            color: var(--t-color-white);
            background-color: var(--t-color-primary-light);
          }
        }
      }
    }
    
    .page-item {
      box-sizing: border-box;
      background-color: var(--t-color-white);
      width: 30px;
      height: 30px;
      cursor: pointer;
      
      &.disabled {
        color: var(--t-color-gray-4);
        border-color: var(--t-color-gray-4);
        cursor: not-allowed;
      }
      
      + .page-item {
        margin-left: var(--pad-xt);
        @include sm { margin-left: 0; }
      }
    }
    
    .jk-select {
      background-color: var(--t-color-white);
    }
  }
}

.jk-table-head, .jk-drawer-filters {
  .text-head-field {
    text-transform: capitalize;
    text-align: center;
  }
  
  .tool {
    color: var(--t-color-gray-3);
    box-sizing: border-box;
    height: var(--jk-table-toolbar-height);
    padding: var(--pad-xt) 4px;
    cursor: pointer;
    
    @include md {
      padding: var(--pad-xt) 0;
    }
    @include sm {
      padding: var(--pad-xt) 0;
    }
    
    &.active {
      color: var(--t-color-primary-light);
      
      &.disabled {
        color: rgba(var(--t-color-primary-light-rgb), 0.7);
      }
    }
    
    .jk-icon {
      padding: 2px;
    }
  }
  
  .tool.disabled {
    color: var(--t-color-gray-6);
    cursor: inherit;
    pointer-events: none;
  }
}

.jk-table-head-cell-filter-text {
  min-width: 200px;
}

.jk-table-head-cell-filter-select {
  min-width: 200px;
  
  .checkbox-list {
    max-height: 300px;
    overflow-x: auto;
  }
}

.jk-clarification-text {
  white-space: nowrap;
  
  &:first-letter {
    text-transform: uppercase;
  }
}

.jk-table-head-cell-filter-date, .jk-table-head-cell-filter-date-range {
  .buttons {
    width: 100%;
  }
}

.jk-table-head-cell-filter-date-range {
  .date-range {
    flex-wrap: nowrap;
  }
}

.layout-line-spinner {
  position: relative;
  z-index: 5;
  width: 100%;
  
  .loader-point-left-to-right, .loader-point-right-to-left {
    position: absolute;
    top: 0;
    height: 4px;
    background-color: var(--t-color-primary-light);
    border-radius: 3px;
  }
  
  .loader-point-left-to-right {
    animation-duration: 4s;
    animation-name: slide-left-to-right;
  }
  
  @keyframes slide-left-to-right {
    from {
      width: 8%;
      margin-left: 0;
    }
    
    to {
      width: 8%;
      margin-left: 96%;
    }
  }
  
  .loader-point-right-to-left {
    animation-duration: 4s;
    animation-name: slide-right-to-left;
  }
  
  @keyframes slide-right-to-left {
    from {
      width: 8%;
      margin-left: 92%;
    }
    
    to {
      width: 8%;
      margin-left: -4%;
    }
  }
}
