:root {
  --width-notification-wrapper: 448px;
  --width-notification: 448px;
}

.notification-wrapper, .notification-wrapper-quiet {
  position: fixed;
  right: calc(var(--width-notification-wrapper) + var(--pad-t));
  width: 0;
  z-index: var(--z-index-notification);
}

.notification-wrapper-quiet {
  display: flex;
  flex-direction: column-reverse;
  height: var(--100VH);
  //--width-notification: 200px;
  right: calc(var(--width-notification-wrapper) + var(--pad-t));
  //right: calc(120px + var(--pad-t));
  
  .notification-item-container.quiet {
    .notification-item {
      margin: 0 0 var(--pad-xt) 0;
      //height: 24px;
      box-shadow: var(--t-box-shadow-md);
      border-radius: var(--border-radius-sm);
      font-weight: var(--weight-regular);
      background-color: var(--t-color-primary-light);
      right: calc(var(--width-notification) - var(--width-notification-wrapper));
      
      > div {
        font-size: var(--text-xs-size);
        line-height: var(--text-xs-height);
        text-align: center;
        
        &.jk-row {
          justify-content: space-evenly !important;
        }
      }
      
      .bar {
        display: none;
        height: 2px;
      }
      
      .jk-icon {
        display: none;
      }
    }
  }
}

.notification-item-container {
  animation: SlideLeft 0.3s forwards;
  
  &.exit {
    animation: SlideRight 0.2s forwards;
  }
  
  &:not(.quiet) {
    .notification-item .message-content {
      padding: var(--pad-xt) 0;
      
      &.text-message {
        min-height: 42px;
        display: flex;
        justify-content: left;
        align-items: center;
      }
    }
  }
  
  .notification-item {
    box-shadow: var(--t-box-shadow-lg);
    border-radius: var(--border-radius-inline);
    overflow: hidden;
    margin-top: var(--pad-t);
    width: var(--width-notification);
    //height: 72px;
    z-index: var(--z-index-notification);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: var(--t-color-white);
    font-weight: var(--weight-bold);
    
    > div {
      flex: 1;
      word-break: break-word;
    }
    
    .jk-icon {
      
      padding: var(--pad-t);
      
      &:not(:first-child) {
        cursor: pointer;
      }
    }
    
    .bar {
      position: absolute;
      bottom: 0;
      height: 4px;
      background-color: var(--t-color-shadow);
    }
  }
  
  &.success {
    .notification-item {
      background-color: var(--t-color-success);
    }
  }
  
  &.error {
    .notification-item {
      background-color: var(--t-color-error);
    }
  }
  
  &.info {
    .notification-item {
      background-color: var(--t-color-info);
    }
  }
  
  &.warning {
    .notification-item {
      background-color: var(--t-color-warning);
    }
  }
}

@keyframes SlideLeft {
  0% {
    margin-left: calc(var(--width-notification) + var(--pad-H));
  }
  
  100% {
    margin-left: 0;
  }
}

@keyframes SlideRight {
  0% {
    margin-left: 0;
  }
  
  100% {
    margin-left: calc(var(--width-notification) + var(--pad-H));
  }
}
