
.jk-split-pane {
  --size: 8px;
  display: flex;
  width: 100%;
  
  .jk-split-first-pane, .jk-split-second-pane {
    flex: 1;
    overflow: hidden;
    position: relative;
  }
  
  .jk-split-pane-divider {
    border: none;
    
    &:hover {
      box-shadow: var(--t-box-shadow-lg);
    }
    
    // Preventing an image from being draggable or selectable without using JS
    // https://stackoverflow.com/questions/12906789/preventing-an-image-from-being-draggable-or-selectable-without-using-js
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  
  .notch {
    background-color: var(--t-color-primary-light);
    color: var(--t-color-white);
    cursor: pointer;
    
    &:hover {
      background-color: var(--t-color-primary-dark);
    }
    
    .label {
      line-height: var(--pad-xs);
    }
  }
  
  .toggle-button {
    //opacity: 0;
    //@include transition(opacity);
    //
    //&:hover {
    //  opacity: 1;
    //}
  }
  
  &.dragging {
    .jk-split-first-pane, .jk-split-second-pane {
      pointer-events: none;
    }
  }
  
  &.column {
    flex-direction: column;
    
    .notch {
      padding: 0 4px 0 0;
      border-radius: 4px 4px 0 0;
      
      .jk-icon {
        margin: 0 2px;
      }
    }
    
    .closable-tab {
      position: absolute;
      bottom: 0;
      
      &.right {
        right: var(--pad-m);
      }
    }
    
    .toggle-button {
      position: absolute;
      bottom: var(--size);
    }
    
    > .jk-split-pane-divider {
      height: var(--size);
      background: var(--t-color-gray-6);
      position: relative;
      
      &:before {
        content: " ";
        position: absolute;
        top: 0;
        left: calc(50% - 32px);
        width: 64px;
        height: 8px;
        background: linear-gradient(to bottom, var(--t-color-gray-4) 25%, var(--t-color-gray-6) 25% 37.5%, var(--t-color-gray-4) 37.5% 62.5%, var(--t-color-gray-6) 62.5% 75%, var(--t-color-gray-4) 75%);
        border-radius: var(--border-radius-md);
      }
    }
    
    &.dragging, > .jk-split-pane-divider {
      cursor: row-resize;
    }
  }
  
  &.row {
    .notch {
      transform: rotate(180deg);
      padding: 0 0 4px 0;
      border-radius: 0 4px 4px 0;
      
      .jk-icon {
        margin: 2px 0;
      }
    }
    
    .toggle-button {
      position: absolute;
      right: var(--size);
      
      .label {
        writing-mode: vertical-lr;
        text-orientation: sideways;
      }
    }
    
    .closable-tab {
      position: absolute;
      right: 0;
      
      &.right {
        bottom: var(--pad-m);
      }
      
      .label {
        writing-mode: vertical-lr;
        text-orientation: sideways;
      }
    }
    
    > .jk-split-pane-divider {
      width: var(--size);
      background: var(--t-color-gray-6);
      position: relative;
      
      &:before {
        content: " ";
        position: absolute;
        top: calc(50% - 32px);
        left: 0px;
        width: 8px;
        height: 64px;
        background: linear-gradient(to right, var(--t-color-gray-4) 25%, var(--t-color-gray-6) 25% 37.5%, var(--t-color-gray-4) 37.5% 62.5%, var(--t-color-gray-6) 62.5% 75%, var(--t-color-gray-4) 75%);
        border-radius: var(--border-radius-md);
      }
    }
    
    &.dragging, > .jk-split-pane-divider {
      cursor: col-resize;
    }
  }
}