
.jk-split-pane {
  --size: 8px;
  display: flex;
  width: 100%;
  height: 100%;
  
  .jk-split-first-pane, .jk-split-second-pane {
    flex: 1;
    overflow: hidden;
    position: relative;
  }
  
  .jk-split-pane-divider {
    border: none;
    
    &:hover {
      box-shadow: var(--t-box-shadow-lg);
    }
    
    // Preventing an image from being draggable or selectable without using JS
    // https://stackoverflow.com/questions/12906789/preventing-an-image-from-being-draggable-or-selectable-without-using-js
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  
  .notch {
    background-color: var(--t-color-primary-light);
    color: var(--t-color-white);
    cursor: pointer;
    
    &:hover {
      background-color: var(--t-color-primary-dark);
    }
    
    .label {
      line-height: var(--pad-xs);
    }
  }
  
  &.dragging {
    .jk-split-first-pane, .jk-split-second-pane {
      pointer-events: none;
    }
  }
  
  &.column {
    flex-direction: column;
    
    > .jk-split-first-pane > .closable-tab, > .jk-split-second-pane > .closable-tab {
      position: absolute;
      width: 100%;
      left: 0;
      
      &.left, &.right {
        left: var(--pad-m);
        width: calc(100% - var(--pad-m) - var(--pad-m));
      }
      
      .label {
        text-orientation: sideways;
      }
      
      > .notch {
        .jk-icon {
          margin: 2px 0;
        }
        
        > .label {
          padding-right: 4px;
        }
      }
    }
    
    > .jk-split-first-pane > .closable-tab {
      bottom: 0;
      
      > .notch {
        border-radius: 4px 4px 0 0;
      }
    }
    
    > .jk-split-second-pane > .closable-tab {
      top: 0;
      
      > .notch {
        border-radius: 0 0 4px 4px;
      }
    }
    
    > .jk-split-pane-divider .toggle-button {
      position: absolute;
      bottom: var(--size);
      border-radius: 4px 4px 0 0;
      
      > .label {
        padding-right: 4px;
      }
    }
    
    > .jk-split-pane-divider {
      height: var(--size);
      background: var(--t-color-gray-6);
      position: relative;
      
      &:before {
        content: " ";
        position: absolute;
        top: 0;
        left: calc(50% - 32px);
        width: 64px;
        height: 8px;
        background: linear-gradient(to bottom, var(--t-color-gray-4) 25%, var(--t-color-gray-6) 25% 37.5%, var(--t-color-gray-4) 37.5% 62.5%, var(--t-color-gray-6) 62.5% 75%, var(--t-color-gray-4) 75%);
        border-radius: var(--border-radius-md);
      }
    }
    
    &.dragging, > .jk-split-pane-divider {
      cursor: row-resize;
    }
  }
  
  &.row {
    > .jk-split-pane-divider .toggle-button {
      position: absolute;
      right: var(--size);
      transform: rotate(180deg);
      border-radius: 0 4px 4px 0;
      
      > .label {
        writing-mode: vertical-lr;
        text-orientation: sideways;
        padding-bottom: 4px;
      }
    }
    
    > .jk-split-first-pane > .closable-tab, > .jk-split-second-pane > .closable-tab {
      position: absolute;
      height: 100%;
      top: 0;
      
      &.top, &.bottom {
        top: var(--pad-m);
        height: calc(100% - var(--pad-m) - var(--pad-m));
      }
      
      .label {
        writing-mode: vertical-lr;
        text-orientation: sideways;
      }
      
      > .notch {
        .jk-icon {
          margin: 2px 0;
        }
        
        > .label {
          padding-bottom: 4px;
        }
      }
    }
    
    > .jk-split-first-pane > .closable-tab {
      right: 0;
      
      > .notch {
        transform: rotate(180deg);
        border-radius: 0 4px 4px 0;
      }
    }
    
    > .jk-split-second-pane > .closable-tab {
      left: 0;
      
      > .notch {
        border-radius: 0 4px 4px 0;
      }
    }
    
    > .jk-split-pane-divider {
      width: var(--size);
      background: var(--t-color-gray-6);
      position: relative;
      
      &:before {
        content: " ";
        position: absolute;
        top: calc(50% - 32px);
        left: 0px;
        width: 8px;
        height: 64px;
        background: linear-gradient(to right, var(--t-color-gray-4) 25%, var(--t-color-gray-6) 25% 37.5%, var(--t-color-gray-4) 37.5% 62.5%, var(--t-color-gray-6) 62.5% 75%, var(--t-color-gray-4) 75%);
        border-radius: var(--border-radius-md);
      }
    }
    
    &.dragging, > .jk-split-pane-divider {
      cursor: col-resize;
    }
  }
}