@import "../../../abstracts/index";

.load-crop-image {
  width: 100%;
  height: 100%;
  
  .actions-container {
    border-bottom: 1px solid var(--t-color-gray-4);
    padding: var(--pad-t) 0;
    align-items: center;
    
    .actions-box {
      justify-content: flex-end;
      display: flex;
    }
  }
  
  .image-utils {
    padding: var(--pad-t) 0 0 0;
  }
  
  .crop-preview-box {
    height: calc(100% - 61px);
    display: flex;
    align-items: center;
    @include sm {
      flex-direction: column;
    }
    
    .crop-box {
      width: calc(100% - 160px);
      height: 100%;
      overflow: auto;
      padding: var(--pad-t) 0;
      box-sizing: border-box;
      
      > div:first-child {
        width: 100%;
        
        .ReactCrop__image {
          max-height: calc(var(--100VH) - 300px);
        }
        
        input {
          width: 60px;
        }
      }
      
      > div {
        width: max-content;
      }
    }
    
    .preview-box {
      width: 150px;
      justify-content: center;
      align-items: center;
      display: flex;
      position: relative;
      margin: 5px;
      box-sizing: border-box;
      
      &::before {
        //opacity: 0.5;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: repeating-linear-gradient(
            0deg, #000000 0, #000000 10px,
            #FFFFFF 10px, #FFFFFF 20px);
      }
      
      &::after {
        //opacity: 0.5;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: repeating-linear-gradient(
            90deg, #000000 0, #000000 10px,
            #FFFFFF 10px, #FFFFFF 20px);
        mix-blend-mode: difference;
      }
      
      canvas {
        max-height: 150px;
        max-width: 150px;
        z-index: 1;
      }
    }
  }
}
