.jk-theme-light, .jk-theme-dark {
  --rt-color-dark: var(--cr-we) !important;
  --rt-color-white: var(--cr-bk-lt) !important;
}

.react-tooltip {
  z-index: var(--zi-tooltip);
  filter: drop-shadow(0 0 2px var(--cr-sw-lt));
  padding: calc(var(--gap) / 3) calc(var(--gap) / 3 + 2px) !important;
  font-size: inherit !important;
  max-width: 256px;
  line-height: 1;
  
  .react-tooltip-content-wrapper {
    > span.tt-se.tx-s {
      line-height: var(--tx-h-m);
    }
  }
  
  .react-tooltip-arrow {
    border-end-end-radius: 3px;
  }
}
