@import "../../abstracts/index";

.settings-apps-login-user-content {
  //margin-right: var(--pad-m);
  .jk-icon {
    color: var(--t-color-primary-text);
  }
}

.user-logged-head {
  padding: var(--pad-xt);
  
  &:hover {
    background: var(--t-color-shadow-darkest);
  }
  
  .nickname {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: block;
    @include sm { display: none; }
  }
  
  > img.jk-user-profile-img {
    border-color: var(--t-color-primary-text) !important;
  }
}

.settings-apps-login-user-content.pad-top-bottom > .jk-row > .flex-1 {
  text-align: left;
  padding-left: var(--pad-xt);
}
