.more-apps-popover {
  width: 240px;
  
  > div {
    text-align: center;
  }
  
  .jk-row {
    flex-wrap: nowrap;
    width: 220px;
    //opacity: 0.4;
    
    .jk-icon {
      min-width: 18px;
      margin: 0 2px 0 4px;
    }
  }
}
