@use "../../../mixins";
@use "jk-md-math-editor";
//@import "vs-code-theme";
//@import "prism-default-theme";
//@import "prism-dark";
//@import "prism-okaidia";
//@use "prism-vs-theme";
//@import "prism-nord-theme";
//@use "prism-vsc-dark-plus-theme";
//@use "prism-line-numbers";

.slides {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1 !important;
  }
}

.jk-md-math {
  > p {
    //padding: var(--pad-xt) 0;
  }
  
  p {
    margin: 0;
    font-family: inherit;
    font-size: var(--tx-s-m);
    word-break: break-word;
    text-align: justify;
  }
  
  h1, h2, h3, h4, h5, h6 {
    padding: var(--pad-xt) 0;
    margin: 0;
    font-weight: var(--weight-bold);
    text-align: left;
    line-height: 1.5;
    color: var(--cr-tx-ht);
  }
  
  h1 {
    font-size: calc(var(--tx-s-m) * 1.5) !important; // 24px;
  }
  
  h2 {
    font-size: calc(var(--tx-s-m) * 1.375) !important; // 22px;
  }
  
  h3 {
    font-size: calc(var(--tx-s-m) * 1.25) !important; // 20px;
  }
  
  h4 {
    font-size: calc(var(--tx-s-m) * 1.125) !important; // 18px;
  }
  
  h5 {
    font-size: calc(var(--tx-s-m) * 1.09375) !important; // 17.5px;
  }
  
  h6 {
    font-size: var(--tx-s-m) !important; // 16px
  }
  
  table {
    margin: auto;
    border-spacing: 0;
    //border-color: var(--cr-ht);
    
    th:first-child {
      border-radius: var(--border-radius-inline) 0 0 0;
    }
    
    th:last-child {
      border-radius: 0 var(--border-radius-inline) 0 0;
    }
    
    th {
      background-color: var(--cr-ht-lt);
    }
    
    th, td {
      //@include mixins.look(primary);
      padding: 4px var(--pad-t);
      border: 1px solid var(--cr-ht);
      word-break: break-all;
    }
    
    tr:last-child {
      td:first-child {
        border-radius: 0 0 0 var(--border-radius-inline);
      }
      
      td:last-child {
        border-radius: 0 0 var(--border-radius-inline) 0;
      }
    }
  }
  
  blockquote {
    padding-left: var(--pad-s);
    //border-left: 4px solid var(--cr-tx-ht-lt);
    border-left: 4px solid var(--cr-tx-ht);
    margin: var(--pad-xt) 0;
    font-weight: lighter;
    text-align: justify;
  }
  
  ul, ol {
    li::marker {
      //color: var(--cr-tx-ht-lt);
      color: var(--cr-tx-ht);
    }
    
    margin: 0;
  }
  
  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  
  .jk-md-math-link-container {
    position: relative;
    
    &::before {
      display: inline-block;
      position: absolute;
      left: -0.7em;
      top: 0;
      font-family: var(--font-code), monospace !important;
      color: var(--cr-tx-ht);
      font-weight: var(--weight-bolder);
    }
    
    &:hover {
      &::before {
        content: "#";
      }
    }
    
    a.jk-md-math-link {
      text-decoration: none;
      color: inherit;
    }
    
    .jk-icon.regular.link {
      opacity: 0;
    }
    
    &:hover {
      .jk-icon.regular.link {
        opacity: 1;
      }
    }
  }
  
  a.jk-md-math-link {
    color: var(--cr-tx-ht-lt);
    text-decoration: none;
    position: relative;
    
    &.with-icon {
      margin-right: 24px;
    }
    
    .jk-icon {
      position: absolute;
      width: var(--tx-s-m);
    }
    
    &:hover {
      color: var(--cr-tx-ht);
      text-decoration: underline;
    }
  }
  
  code.inline-code {
    padding: 0 4px !important;
    font-family: var(--font-code), monospace !important;
  }
  
  hr {
    padding: calc(var(--pad-sm) / 2) 0 !important;
    margin: 0 !important;
    border: none;
    height: calc(var(--pad-sm) + 2px) !important;
    background-color: var(--cr-ht) !important;
    box-sizing: border-box;
    position: relative;
    background-clip: content-box;
  }
  
  .jk-code-viewer {
    padding: var(--pad-sm);
    background: var(--cr-we-lt);
    border: none;
    box-sizing: border-box;
    
    .jk-code-viewer-line-numbers {
      background: var(--cr-we-lt) !important;
      padding: 0 calc(var(--pad-sm) / 2) 0 0 !important;
    }
    
    code.hljs {
      background: var(--cr-we-lt);
      padding: 0 0 0 calc(var(--pad-sm) / 2);
    }
  }
  
  .jk-code-mirror-editor-layout {
    min-height: 256px;
  }
}
