.jk-tiptap-editor {
  --input-border-color: var(--cr-ht-lt);
  
  .tiptap.ProseMirror {
    padding: var(--pad-sm);
    outline: 1px solid var(--input-border-color);
    border-radius: var(--border-radius-inline);
  }
}

.jk-md-math-editor {
  .jk-float-toolbar-layout {
    opacity: 0;
  }
  
  &:hover {
    .jk-float-toolbar-layout {
      opacity: 1;
    }
  }
}

.jk-md-math-milkdown-editor {
  //background: none !important;
  
  &:hover, &:active, &:focus {
    --input-background-color: var(--cr-ht-lt);
    
    .milkdown {
      //--crepe-color-background: var(--cr-ht-lt);
    }
  }
  
  .milkdown {
    padding: var(--pad-sm);
    /* Font Families */
    --crepe-font-title: var(--font-primary), Georgia, Cambria, "Times New Roman", Times, serif;
    --crepe-font-default: var(--font-primary), "Open Sans", Arial, Helvetica, sans-serif;
    --crepe-font-code: var(--font-code), Fira Code, Menlo, Monaco, "Courier New", Courier, monospace;
    
    /* Background Colors */
    //--crepe-color-background: var(--cr-we); /* Main background color */
    --crepe-color-background: transparent; /* Main background color */
    --crepe-color-surface: var(--cr-we-det); /* Surface color for cards/panels */
    --crepe-color-surface-low: var(--cr-we-dk); /* Lower surface color for depth */
    
    /* Text Colors */
    --crepe-color-on-background: var(--cr-bk-lt); /* Text color on background */
    --crepe-color-on-surface: var(--cr-bk-lt); /* Text color on surface */
    --crepe-color-on-surface-variant: var(--cr-bk-lt); /* Secondary text color */
    
    /* Accent Colors */
    --crepe-color-primary: var(--cr-pl); /* Primary brand color */
    --crepe-color-secondary: var(--cr-ht-lt); /* Secondary accent color */
    --crepe-color-on-secondary: var(--cr-tx-ht-lt); /* Text color on secondary */
    
    /* UI Colors */
    --crepe-color-outline: var(--cr-ht); /* Border/outline color */
    --crepe-color-inverse: #362F27; /* Inverse color for contrast */
    --crepe-color-on-inverse: #FCEFE2; /* Text color on inverse */
    --crepe-color-inline-code: #BA1A1A; /* Inline code color */
    --crepe-color-error: #BA1A1A; /* Error state color */
    
    /* Interactive Colors */
    --crepe-color-hover: var(--cr-ht-lt); /* Hover state color */
    --crepe-color-selected: var(--cr-ht); /* Selected state color */
    --crepe-color-inline-area: #E4D8CC; /* Inline editing area color */
    
    .ProseMirror {
      //padding: var(--pad-sm);
      padding: 0;
    }
    
    .milkdown-block-handle {
      background: var(--cr-we);
      z-index: 1;
    }
    
    .milkdown-toolbar {
      border-radius: var(--border-radius-inline);
    }
    
    .milkdown-code-block {
      padding: 0;
      margin: 0 0 calc(var(--tx-h-m) / 4) 0;
      background: none;
      
      .language-list {
        max-height: 256px;
      }
      
      .tools {
        padding: 0 var(--pad-sm);
        justify-content: right;
        
        button {
          margin-bottom: 0;
        }
        
        > .tools-button-group {
          display: none;
        }
      }
      
      &:hover {
        &::before, &::after {
          opacity: 0.5;
        }
      }
      
      &::before, &::after {
        content: "```";
        position: absolute;
        color: var(--cr-pd);
        font-weight: bold;
        opacity: 0;
        height: 0;
        font-family: var(--font-code), monospace !important;
      }
      
      &::before {
        //top: calc(var(--tx-h-m) / -2);
        top: 0;
      }
      
      &::after {
        bottom: 0;
      }
    }
    
    blockquote::before {
      content: unset !important;
    }
    
    p {
      a {
        
        color: var(--cr-pl);
        
        &:hover {
          color: var(--cr-py);
          text-decoration: underline;
        }
      }
      
      &:hover {
        a {
          color: var(--cr-py);
          text-decoration: underline;
        }
      }
    }
    
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0 !important;
    }
    
    span[data-type="math_inline"] {
      color: inherit !important;
      
      &:hover {
        &::before, &::after {
          opacity: 0.5;
        }
      }
      
      &::before, &::after {
        content: "$";
        font-family: var(--font-code), monospace !important;
        color: var(--cr-pd);
        opacity: 0;
        font-weight: var(--weight-bolder);
      }
    }
  }
}

.ProseMirror {
  outline-width: 2px;
  --input-border-color: var(--cr-ht-dk);
  //background-color: var(--cr-ht-lt);
  padding: var(--pad-sm);
  
  h1, h2, h3, h4, h5, h6 {
    
    &::before {
      margin-right: 0.2ch;
      user-select: none;
      font-family: var(--font-code), monospace !important;
      color: var(--cr-pd);
      opacity: 0;
      font-weight: var(--weight-bolder);
    }
    
    &:hover {
      &::before, &::after {
        opacity: 0.5;
      }
    }
  }
  
  h1::before {
    content: "#";
  }
  
  h2::before {
    content: "##";
  }
  
  h3::before {
    content: "###";
  }
  
  h4::before {
    content: "####";
  }
  
  h5::before {
    content: "#####";
  }
  
  h6::before {
    content: "######";
  }
  
  blockquote {
    padding-left: 0;
    border-left: none;
    
    &:hover {
      p::before {
        opacity: 0.5;
      }
    }
    
    p::before {
      content: "> ";
      user-select: none;
      margin-right: 0.25em;
      font-family: var(--font-code), monospace !important;
      color: var(--cr-pd);
      opacity: 0;
      font-weight: var(--weight-bolder);
    }
    
    h1::before {
      content: "> #";
    }
    
    h2::before {
      content: "> ##";
    }
    
    h3::before {
      content: "> ###";
    }
    
    h4::before {
      content: "> ####";
    }
    
    h5::before {
      content: "> #####";
    }
    
    h6::before {
      content: "> ######";
    }
  }
  
  a {
    pointer-events: none;
  }
  
  em {
    &:hover {
      &::after, &::before {
        opacity: 0.5;
      }
    }
    
    &::after, &::before {
      content: "*";
      font-family: var(--font-code), monospace !important;
      color: var(--cr-pd);
      opacity: 0;
      font-weight: var(--weight-bolder);
    }
  }
  
  strong {
    &:hover {
      &::after, &::before {
        opacity: 0.5;
      }
    }
    
    &::after, &::before {
      content: "**";
      font-family: var(--font-code), monospace !important;
      color: var(--cr-pd);
      opacity: 0;
      font-weight: var(--weight-bolder);
    }
  }
  
  del {
    &:hover {
      &::after, &::before {
        opacity: 0.5;
      }
    }
    
    &::after, &::before {
      text-decoration: none !important;
      content: "~~";
      font-family: var(--font-code), monospace !important;
      color: var(--cr-pd);
      opacity: 0;
      font-weight: var(--weight-bolder);
    }
  }
  
  code {
    padding: 0 4px !important;
    font-family: var(--font-code), monospace !important;
    background: var(--cr-ht-lt) !important;
    color: var(--cr-tx-ht) !important;
    border-radius: var(--border-radius-inline) !important;
    
    &:hover {
      &::after, &::before {
        opacity: 0.5;
      }
    }
    
    
    &::after, &::before {
      content: "`";
      font-family: var(--font-code), monospace !important;
      color: var(--cr-pd);
      opacity: 0;
      font-weight: var(--weight-bolder);
    }
  }
}

div[data-tippy-root] {
  z-index: var(--zi-popover) !important;
  
  .with-trigger {
    button {
      display: none;
    }
  }
  
  &:hover {
    button {
      display: initial;
    }
  }
}

.current-node-highlight, img.ProseMirror-selectednode {
  background: var(--cr-ht-lt);
}

.jk-md-math-left-menu {
  position: absolute;
  left: -6px;
  top: calc(var(--cursor-coordinate-y, 0px));
  pointer-events: none;
  z-index: calc(var(--zi-popover) + 1);
  
  .content {
    display: none;
    
    .group {
      max-width: 100px;
      padding: 2px;
    }
  }
  
  &:hover, &.open {
    //left: -12px;
    top: calc(var(--cursor-coordinate-y, 0px) - (((var(--button-padding, var(--pad-xs)) / 2) + 20px) * 2) - 4px - var(--pad-sm));
    
    .content {
      pointer-events: auto;
      display: flex;
      border-bottom-left-radius: 0;
    }
    
    .trigger {
      //width: 24px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    
    .div-gap {
      pointer-events: auto;
    }
  }
  
  .trigger-content {
    align-self: flex-start;
    
    .trigger {
      pointer-events: auto;
      width: 12px;
    }
    
    .div-gap {
      width: 48px;
      height: 24px;
    }
  }
}
