@import "../abstracts/index";

:root {
  --scrollbar-size: 8px;
}
*::-webkit-scrollbar {
  //width: var(--pad-xt);
  //height: var(--pad-xt);
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

*::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius-inline);
  background: var(--t-color-shadow);
}

.cr-g1 { color: var(--t-color-gray-1); }

.cr-g2 { color: var(--t-color-gray-2); }

.cr-g3 { color: var(--t-color-gray-3); }

.cr-g4 { color: var(--t-color-gray-4); }

.cr-g5 { color: var(--t-color-gray-5); }

.cr-g6 { color: var(--t-color-gray-6); }

.cr-we { color: var(--t-color-white); }

.cr-io { color: var(--t-color-info); }

.cr-ss { color: var(--t-color-success); }

.cr-wg { color: var(--t-color-warning); }

.cr-er { color: var(--t-color-error); }

.cr-pl { color: var(--t-color-primary-light); }

.cr-py { color: var(--t-color-primary); }

.cr-pd { color: var(--t-color-primary-dark); }

.cr-sy { color: var(--t-color-secondary); }

.cr-al { color: var(--t-color-accent-light); }

.cr-at { color: var(--t-color-accent); }

.cr-ad { color: var(--t-color-accent-dark); }

.bc-g1 { background-color: var(--t-color-gray-1); }

.bc-g2 { background-color: var(--t-color-gray-2); }

.bc-g3 { background-color: var(--t-color-gray-3); }

.bc-g4 { background-color: var(--t-color-gray-4); }

.bc-g5 { background-color: var(--t-color-gray-5); }

.bc-g6 { background-color: var(--t-color-gray-6); }

.bc-we { background-color: var(--t-color-white); }

.bc-io { background-color: var(--t-color-info); }

.bc-ss { background-color: var(--t-color-success); }

.bc-wg { background-color: var(--t-color-warning); }

.bc-er { background-color: var(--t-color-error); }

.bc-pl { background-color: var(--t-color-primary-light); }

.bc-py { background-color: var(--t-color-primary); }

.bc-pd { background-color: var(--t-color-primary-dark); }

.bc-sy { background-color: var(--t-color-secondary); }

.bc-al { background-color: var(--t-color-accent-light); }

.bc-at { background-color: var(--t-color-accent); }

.bc-ad { background-color: var(--t-color-accent-dark); }

.bc-sl {
  background-color: var(--t-color-shadow-lightest);
  //--t-color-shadow-light: rgba(0, 0, 0, 0.15);
}
.cursor-pointer { cursor: pointer; }

.screen:not(.hg) {
  @include hg { display: none; }
}

.screen:not(.lg) {
  @include lg { display: none; }
}

.screen:not(.md) {
  @include md { display: none; }
}

.screen:not(.sm) {
  @include sm { display: none; }
}

.link {
  color: var(--t-color-primary-light) !important;
  cursor: pointer !important;
  
  &:hover {
    text-decoration: underline !important;
  }
}

.rotating {
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.float-top-right {
  z-index: 1;
  position: absolute !important;
  top: 0;
  right: 0;
  
  &.pad-t {
    top: var(--pad-t);
    right: var(--pad-t);
  }
  
  &.pad-xt {
    top: var(--pad-xt);
    right: var(--pad-xt);
  }
}

.display-on-hover {
  opacity: 0;
  
  &:hover { opacity: 1; }
  
  &-1 {
    opacity: 0.1;
    
    &:hover { opacity: 1; }
  }
  
  &-2 {
    opacity: 0.2;
    
    &:hover { opacity: 1; }
  }
  
  &-3 {
    opacity: 0.3;
    
    &:hover { opacity: 1; }
  }
  
  &-4 {
    opacity: 0.4;
    
    &:hover { opacity: 1; }
  }
  
  &-5 {
    opacity: 0.5;
    
    &:hover { opacity: 1; }
  }
  
  &-6 {
    opacity: 0.6;
    
    &:hover { opacity: 1; }
  }
  
  &-7 {
    opacity: 0.7;
    
    &:hover { opacity: 1; }
  }
  
  &-8 {
    opacity: 0.8;
    
    &:hover { opacity: 1; }
  }
  
  &-9 {
    opacity: 0.9;
    
    &:hover { opacity: 1; }
  }
  
  @include transition(opacity);
}

.text-stdout, .text-stderr {
  overflow: auto;
  white-space: pre;
  font-family: monospace;
}

.text-stdout {
  background-color: rgba(var(--t-color-gray-2-rgb), 0.1);
  padding: 3px 0;
}

.text-stderr {
  background-color: rgba(var(--t-color-error-rgb), 0.1);
  color: var(--t-color-error);
  font-size: var(--text-xs-size);
  line-height: var(--text-xs-size);
  padding: 5px 0;
}
