/* ********************************             FONT               ******************************** */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap");

// font size

.tx-h {
  font-size: var(--text-h-size);
  line-height: var(--text-h-height);
}

.tx-l {
  font-size: var(--text-l-size);
  line-height: var(--text-l-height);
}

.tx-m {
  font-size: var(--text-m-size);
  line-height: var(--text-m-height);
}

.tx-s {
  font-size: var(--text-s-size);
  line-height: var(--text-s-height);
}

.tx-t {
  font-size: var(--text-t-size);
  line-height: var(--text-t-height);
}

// width
.fw-lr { font-weight: var(--weight-lighter); }

.fw-nl { font-weight: var(--weight-normal); }

.fw-bd { font-weight: var(--weight-bold); }

.fw-br { font-weight: var(--weight-bolder); }

// text transforms
.tt-se { // case sentence
  display: inline-block;
  
  &::first-letter { text-transform: uppercase; }
}

.tt-ce { text-transform: capitalize; }

.tt-ue { text-transform: uppercase; }

.tt-le { text-transform: lowercase; }

// white-space
.ws-np {
  white-space: nowrap;
  
  > *:not(.ws-np) {
    white-space: normal;
  }
}

.ws-nl { white-space: normal; }

.ws-bs { white-space: break-spaces; }

.ws-pe { white-space: pre; }

// text-align
.ta-cr { text-align: center; }

.ta-st { text-align: start; }

.ta-ed { text-align: end; }
