// default font-weight: 400;
// default font-family: "Inter", sans-serif;

html, body {
  font-family: "Inter", sans-serif;
  font-weight: var(--weight-regular);
  font-size: var(--text-m-size);
  line-height: var(--text-m-height);
  color: var(--t-color-black-2);
  background-color: var(--t-color-white-2);
  margin: 0;
  width: 100%;
  height: 100%;
}

// overwriting styles
.jk-theme-light {
  h1, h2, h3, h4, h5, h6 {
    color: var(--t-color-primary);
  }
}

.jk-theme-dark {
  h1, h2, h3, h4, h5, h6 {
    color: var(--t-color-primary-light);
  }
}

h1, h2, h3, h4, h5, h6 {
  &:first-letter {
    text-transform: capitalize;
  }
  
  font-weight: var(--weight-bold);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h6 {
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-size: 26px;
  line-height: 32px;
}

h4 {
  font-size: 28px;
  line-height: 36px;
}

h3 {
  font-size: 30px;
  line-height: 36px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
}

h1 {
  font-size: 34px;
  line-height: 40px;
}

p {
  @extend .tx-m;
  margin: unset;
}

ul {
  margin: unset;
}

pre {
  margin: unset;
}
