@import "../abstracts/index";

/*
 FLEX
 */

div[class*=" jk-row"], div[class^="jk-row"],
section[class*=" jk-row"], section[class^="jk-row"],
span[class*=" jk-row"], span[class^="jk-row"],
a[class*=" jk-row"], a[class^="jk-row"],
fieldset[class*=" jk-row"], fieldset[class^="jk-row"],
div[class*=" jk-col"], div[class^="jk-col"],
section[class*=" jk-col"], section[class^="jk-col"],
span[class*=" jk-col"], span[class^="jk-col"],
a[class*=" jk-col"], a[class^="jk-col"],
fieldset[class*=" jk-col"], fieldset[class^="jk-col"] {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  
  &.nowrap { flex-wrap: nowrap; }
  
  &.gap {
    gap: var(--gap);
  }
  
  &.block {
    > * {
      flex: 1;
    }
  }
  
  &.space-between { justify-content: space-between; }
  
  &.center { justify-content: center; }
  
  &.stretch { align-items: stretch; }
}

span[class*=" jk-row"], span[class^="jk-row"], span[class*=" jk-col"], span[class^="jk-col"] {
  display: inline-flex;
}

div[class*=" jk-row"], div[class^="jk-row"], section[class*=" jk-row"], section[class^="jk-row"], span[class*=" jk-row"], span[class^="jk-row"] {
  &.extend { width: 100% !important; }
  
  &.left { justify-content: flex-start; }
  
  &.right { justify-content: flex-end; }
  
  &.top { align-content: start; }
  
  &.bottom { align-content: end; }
}

div[class*=" jk-col"], div[class^="jk-col"], section[class*=" jk-col"], section[class^="jk-col"], span[class*=" jk-col"], span[class^="jk-col"] {
  flex-direction: column;
  
  &.extend { height: 100% !important; }
  
  &.top { justify-content: flex-start; }
  
  &.bottom { justify-content: flex-end; }
  
  &.left { align-content: start; }
  
  &.right { align-content: end; }
}

/*
 IMAGE PROFILE
 */
.jk-user-profile-img {
  border: 1px solid var(--t-color-white) !important;
  border-radius: 50%;
  // regular
  width: var(--pad-m);
  height: var(--pad-m);
  
  &.small {
    width: var(--pad-t);
    height: var(--pad-t);
    border: 1px solid var(--t-color-white) !important;
  }
  
  &.large {
    width: var(--pad-h);
    height: var(--pad-h);
    border: 2px solid var(--t-color-white) !important;
  }
  
  &.huge {
    width: var(--pad-xL);
    height: var(--pad-xL);
    border: 2px solid var(--t-color-white) !important;
  }
}

/*
 BORDER RADIUS
 */
.jk-border-radius {
  border-radius: var(--border-radius); // responsive variable
}

.jk-border-radius-inline {
  border-radius: var(--border-radius-inline); // responsive variable
}

/*
 PADDING
 */
.jk-pad-lg {
  box-sizing: border-box;
  padding: var(--pad-lg); // responsive variable
}

.jk-pad-md {
  box-sizing: border-box;
  padding: var(--pad-md); // responsive variable
}

.jk-pad-sm {
  box-sizing: border-box;
  padding: var(--pad-sm); // responsive variable
}

/*
 SCROLL
 */
.jk-with-scroll {
  overflow: auto;
  
  &-outside {
    width: calc(100% + var(--pad-xt));
    padding-right: var(--pad-xt);
    overflow: auto;
  }
}

/*
 SHADOW
 */

.jk-shadow {
  box-shadow: var(--t-box-shadow); // responsive variable
  
  &.huge { box-shadow: var(--t-box-shadow-hg); }
  
  &.large { box-shadow: var(--t-box-shadow-lg); }
  
  &.regular { box-shadow: var(--t-box-shadow-md); }
  
  &.small { box-shadow: var(--t-box-shadow-sm); }
  
  &.tiny { box-shadow: var(--t-box-shadow-tn); }
}

.jk-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFFFFFAA;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jk-tag {
  background-color: var(--t-color-primary-light);
  color: var(--t-color-primary-text);
  padding: 0 var(--pad-xt);
  border-radius: var(--border-radius-inline);
  display: inline-block;
  
  &.success { background-color: var(--t-color-success); }
  
  &.info { background-color: var(--t-color-info); }
  
  &.error { background-color: var(--t-color-error); }
  
  &.warning { background-color: var(--t-color-warning); }
  
  &.primary-light { background-color: var(--t-color-primary-light); }
  
  &.primary-dark { background-color: var(--t-color-primary-dark); }
  
  &.secondary { background-color: var(--t-color-secondary); }
  
  &.gray-1 { background-color: var(--t-color-gray-1); }
  
  &.gray-2 { background-color: var(--t-color-gray-2); }
  
  &.gray-3 { background-color: var(--t-color-gray-3); }
  
  &.gray-4 { background-color: var(--t-color-gray-4); }
  
  &.gray-5 { background-color: var(--t-color-gray-5); color: var(--t-color-black-2); }
  
  &.gray-6 { background-color: var(--t-color-gray-6); color: var(--t-color-black-2); }
}
