@import "../abstracts/index";

/*
 FLEX
 */

span[class*=" jk-row"], span[class^="jk-row"], span[class*=" jk-col"], span[class^="jk-col"] {
  display: inline-flex;
}

div[class*=" jk-row"], div[class^="jk-row"],
section[class*=" jk-row"], section[class^="jk-row"],
span[class*=" jk-row"], span[class^="jk-row"],
a[class*=" jk-row"], a[class^="jk-row"],
fieldset[class*=" jk-row"], fieldset[class^="jk-row"],
form[class*=" jk-row"], form[class^="jk-row"],
div[class*=" jk-col"], div[class^="jk-col"],
section[class*=" jk-col"], section[class^="jk-col"],
span[class*=" jk-col"], span[class^="jk-col"],
a[class*=" jk-col"], a[class^="jk-col"],
fieldset[class*=" jk-col"], fieldset[class^="jk-col"],
form[class*=" jk-col"], form[class^="jk-col"] {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  
  &.nowrap { flex-wrap: nowrap; }
  
  &.gap {
    gap: var(--gap);
  }
  
  &.block {
    > * {
      flex: 1;
    }
  }
  
  &.space-between { justify-content: space-between; }
  
  &.center { justify-content: center; }
  
  &.stretch { align-items: stretch; }
}

div[class*=" jk-row"], div[class^="jk-row"],
section[class*=" jk-row"], section[class^="jk-row"],
span[class*=" jk-row"], span[class^="jk-row"],
a[class*=" jk-row"], a[class^="jk-row"],
fieldset[class*=" jk-row"], fieldset[class^="jk-row"],
form[class*=" jk-row"], form[class^="jk-row"] {
  &.extend { width: 100% !important; }
  
  &.left { justify-content: flex-start; }
  
  &.right { justify-content: flex-end; }
  
  &.top { align-content: start; }
  
  &.bottom { align-content: end; }
}

div[class*=" jk-col"], div[class^="jk-col"],
section[class*=" jk-col"], section[class^="jk-col"],
span[class*=" jk-col"], span[class^="jk-col"],
a[class*=" jk-col"], a[class^="jk-col"],
fieldset[class*=" jk-col"], fieldset[class^="jk-col"],
form[class*=" jk-col"], form[class^="jk-col"] {
  flex-direction: column;
  
  &.extend { height: 100% !important; }
  
  &.top { justify-content: flex-start; }
  
  &.bottom { justify-content: flex-end; }
  
  &.left { align-content: start; }
  
  &.right { align-content: end; }
}

/*
 IMAGE PROFILE
 */
.jk-user-profile-img {
  border: 1px solid var(--t-color-white) !important;
  border-radius: 50%;
  // regular
  width: var(--pad-m);
  height: var(--pad-m);
  
  &.small {
    width: var(--pad-t);
    height: var(--pad-t);
    border: 1px solid var(--t-color-white) !important;
  }
  
  &.large {
    width: var(--pad-h);
    height: var(--pad-h);
    border: 2px solid var(--t-color-white) !important;
  }
  
  &.huge {
    width: var(--pad-xL);
    height: var(--pad-xL);
    border: 2px solid var(--t-color-white) !important;
  }
}

/*
 BORDER RADIUS
 */
.jk-border-radius {
  border-radius: var(--border-radius); // responsive variable
}

.jk-br {
  border-radius: var(--border-radius-inline); // responsive variable
}

.jk-border-radius-inline {
  border-radius: var(--border-radius-inline); // responsive variable
}

.jk-br-ie {
  border-radius: var(--border-radius-inline); // responsive variable
}

/*
 PADDING
 */
.jk-pad-lg {
  box-sizing: border-box;
  padding: var(--pad-lg); // responsive variable
}

.jk-pad-md {
  box-sizing: border-box;
  padding: var(--pad-md); // responsive variable
}

.jk-pad-sm {
  box-sizing: border-box;
  padding: var(--pad-sm); // responsive variable
}

/*
 SCROLL
 */
.jk-with-scroll {
  overflow: auto;
  
  &-outside {
    width: calc(100% + var(--pad-xt));
    padding-right: var(--pad-xt);
    overflow: auto;
  }
}

.jk-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFFFFFAA;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appearance-success { background-color: var(--t-color-success); color: var(--t-color-white);}

.appearance-success-light { background-color: var(--t-color-success-light); color: var(--t-color-black-2); }

.appearance-info { background-color: var(--t-color-info); color: var(--t-color-white);}

.appearance-info-light { background-color: var(--t-color-info-light); color: var(--t-color-black-2); }

.appearance-warning { background-color: var(--t-color-warning); color: var(--t-color-white); }

.appearance-warning-light { background-color: var(--t-color-warning-light); color: var(--t-color-black-2); }

.appearance-error { background-color: var(--t-color-error); color: var(--t-color-white); }

.appearance-error-light { background-color: var(--t-color-error-light); color: var(--t-color-black-2); }

.appearance-primary-dark { background-color: var(--t-color-primary-dark); color: var(--t-color-primary-text); }

.appearance-primary { background-color: var(--t-color-primary); color: var(--t-color-primary-text); }

.appearance-primary-light { background-color: var(--t-color-primary-light); color: var(--t-color-primary-text); }

.appearance-secondary { background-color: var(--t-color-secondary); color: var(--t-color-secondary-text); }

.appearance-gray-1 { background-color: var(--t-color-gray-1); color: var(--t-color-white-2); }

.appearance-gray-2 { background-color: var(--t-color-gray-2); color: var(--t-color-white-2); }

.appearance-gray-3 { background-color: var(--t-color-gray-3); color: var(--t-color-white-2); }

.appearance-gray-4 { background-color: var(--t-color-gray-4); color: var(--t-color-black-2); }

.appearance-gray-5 { background-color: var(--t-color-gray-5); color: var(--t-color-black-2); }

.appearance-gray-6 { background-color: var(--t-color-gray-6); color: var(--t-color-black-2); }

.jk-tag {
  @extend .appearance-primary;
  padding: 0 var(--pad-xt);
  border-radius: var(--border-radius-inline);
  display: inline-block;
  
  &.success { @extend .appearance-success; }
  
  &.success-light { @extend .appearance-success-light; }
  
  &.info { @extend .appearance-info; }
  
  &.info-light { @extend .appearance-info-light; }
  
  &.warning { @extend .appearance-warning; }
  
  &.warning-light { @extend .appearance-warning-light; }
  
  &.error { @extend .appearance-error; }
  
  &.error-light { @extend .appearance-error-light; }
  
  &.primary-light { @extend .appearance-primary-light; }
  
  &.primary-dark { @extend .appearance-primary-dark; }
  
  &.secondary { @extend .appearance-secondary; }
  
  &.gray-1 { @extend .appearance-gray-1; }
  
  &.gray-2 { @extend .appearance-gray-2; }
  
  &.gray-3 { @extend .appearance-gray-3; }
  
  &.gray-4 { @extend .appearance-gray-4; }
  
  &.gray-5 { @extend .appearance-gray-5; }
  
  &.gray-6 { @extend .appearance-gray-6; }
}

.jk-text-stdout, .jk-text-stderr {
  overflow: auto;
  white-space: pre;
  font-family: monospace;
}

.jk-text-stdout {
  background-color: rgba(var(--t-color-gray-2-rgb), 0.1);
  padding: 3px 0;
}

.jk-text-stderr {
  background-color: rgba(var(--t-color-error-rgb), 0.1);
  color: var(--t-color-error);
  font-size: var(--text-t-size);
  line-height: var(--text-t-size);
  padding: 5px 0;
}

.jk-table-inline-header, .jk-table-inline-row {
  > div {
    padding: 0 var(--pad-xt);
  }
}

.jk-table-inline-header {
  box-sizing: border-box;
  border: 1px solid var(--t-color-gray-5);
  border-radius: var(--border-radius-inline) var(--border-radius-inline) 0 0;
  color: var(--t-color-primary);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
}

.jk-table-inline-row {
  padding: var(--pad-xt) 0;
  box-sizing: border-box;
  
  &:not(button) {
    border-bottom: 1px solid var(--t-color-gray-5);
    border-left: 1px solid var(--t-color-gray-5);
    border-right: 1px solid var(--t-color-gray-5);
  }
  
  // for buttons
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
