@import "../abstracts/index";

/* ********************************             COLORS             ******************************** */
.jk-theme-light {
  @include defineColor(--t-color-primary-dark, #11304D);
  @include defineColor(--t-color-primary, #164066);
  @include defineColor(--t-color-primary-light, #2772B5);
  
  @include defineColor(--t-color-primary-text, #FFFFFF);
  
  @include defineColor(--t-color-secondary, #EDB745);
  @include defineColor(--t-color-accent, #F0E04A);
  
  @include defineColor(--t-color-info, #2F86EB);
  @include defineColor(--t-color-success, #43D787);
  @include defineColor(--t-color-warning, #F2C94C);
  @include defineColor(--t-color-error, #EB5757);
  
  @include defineColor(--t-color-black, #000000);
  @include defineColor(--t-color-black-2, #1E1E1E);
  @include defineColor(--t-color-gray-1, #333333);
  @include defineColor(--t-color-gray-2, #555555);
  @include defineColor(--t-color-gray-3, #777777);
  @include defineColor(--t-color-gray-4, #999999);
  @include defineColor(--t-color-gray-5, #BBBBBB);
  @include defineColor(--t-color-gray-6, #DDDDDD);
  @include defineColor(--t-color-white-2, #F2F2F2);
  @include defineColor(--t-color-white, #FFFFFF);
  
  --t-color-shadow-lightest: rgba(0, 0, 0, 0.05);
  --t-color-shadow-light: rgba(0, 0, 0, 0.15);
  --t-color-shadow: rgba(0, 0, 0, 0.25);
  --t-color-shadow-dark: rgba(0, 0, 0, 0.35);
  --t-color-shadow-darkest: rgba(0, 0, 0, 0.45);
  
  --t-box-shadow-hg: 0 0 15px 0px rgba(0, 0, 0, 0.25);
  --t-box-shadow-lg: 0 0 13px 0px rgba(0, 0, 0, 0.25);
  --t-box-shadow-md: 0 0 10px 0px rgba(0, 0, 0, 0.25);
  --t-box-shadow-sm: 0 0 7px 0px rgba(0, 0, 0, 0.25);
  --t-box-shadow-tn: 0 0 4px 0px rgba(0, 0, 0, 0.25);
  
  @include hg { --t-box-shadow: var(--t-box-shadow-hg); }
  @include lg { --t-box-shadow: var(--t-box-shadow-lg); }
  @include md { --t-box-shadow: var(--t-box-shadow-md); }
  @include sm { --t-box-shadow: var(--t-box-shadow-sm); }
}

.jk-theme-dark {
  @include defineColor(--t-color-primary-dark, #398AD4);
  @include defineColor(--t-color-primary, #1F598E);
  @include defineColor(--t-color-primary-light, #133859);
  
  @include defineColor(--t-color-primary-text, #FFFFFF);
  
  @include defineColor(--t-color-secondary, #CBCECE);
  @include defineColor(--t-color-accent, #3B3B3B);
  
  @include defineColor(--t-color-info, #63A4F0);
  @include defineColor(--t-color-success, #72E1A5);
  @include defineColor(--t-color-warning, #F5D679);
  @include defineColor(--t-color-error, #F08181);
  
  @include defineColor(--t-color-black, #FFFFFF);
  @include defineColor(--t-color-black-2, #F2F2F2);
  @include defineColor(--t-color-gray-1, #DDDDDD);
  @include defineColor(--t-color-gray-2, #BBBBBB);
  @include defineColor(--t-color-gray-3, #999999);
  @include defineColor(--t-color-gray-4, #777777);
  @include defineColor(--t-color-gray-5, #555555);
  @include defineColor(--t-color-gray-6, #333333);
  @include defineColor(--t-color-white-2, #1E1E1E);
  @include defineColor(--t-color-white, #000000);
  
  --t-color-shadow-lightest: rgba(255, 255, 255, 0.05);
  --t-color-shadow-light: rgba(255, 255, 255, 0.15);
  --t-color-shadow: rgba(255, 255, 255, 0.25);
  --t-color-shadow-dark: rgba(255, 255, 255, 0.35);
  --t-color-shadow-darkest: rgba(255, 255, 255, 0.45);
  
  --t-box-shadow-hg: 0 0 15px 0px rgba(255, 255, 255, 0.25);
  --t-box-shadow-lg: 0 0 13px 0px rgba(255, 255, 255, 0.25);
  --t-box-shadow-md: 0 0 10px 0px rgba(255, 255, 255, 0.25);
  --t-box-shadow-sm: 0 0 7px 0px rgba(255, 255, 255, 0.25);
  --t-box-shadow-tn: 0 0 4px 0px rgba(255, 255, 255, 0.25);
  
  @include hg { --t-box-shadow: var(--t-box-shadow-hg); }
  @include lg { --t-box-shadow: var(--t-box-shadow-lg); }
  @include md { --t-box-shadow: var(--t-box-shadow-md); }
  @include sm { --t-box-shadow: var(--t-box-shadow-sm); }
}
