@import "../abstracts/index";

:root {
  --100VH: calc(var(--vh, 1vh) * 100);
  /* ********************************          GLOBAL SIZES          ******************************** */
  
  --screen-hg-min: 1920px; /* Large PCs  [1920, INF  ] 80px | 1760px (15c 80|40) | 80px */
  --screen-lg-min: 1280px; /* PCs        [1280, 1920O) 80px | 1120px (12c 64|32) | 80px */
  --screen-md-min: 640px; /* Tablets     [640,   1280) 40px |  560px (12c 32|16) | 40px */
  --screen-sm-min: 320px; /* Phones      [320,    640)  0px |  320px ( 7c 32|16) |  0px */
  
  @include hg { --screen-content-width: 1760px; }
  @include lg { --screen-content-width: calc(100vw - 160px); }
  @include md { --screen-content-width: calc(100vw - 80px); }
  @include sm { --screen-content-width: calc(100vw - 20px); }
  
  @include hg { --screen-col-pad-width: calc(var(--screen-content-width) / ((15 * 2) + 14)); }
  @include lg { --screen-col-pad-width: calc(var(--screen-content-width) / ((12 * 2) + 11)); }
  @include md { --screen-col-pad-width: calc(var(--screen-content-width) / ((12 * 2) + 11)); }
  @include sm { --screen-col-pad-width: calc(var(--screen-content-width) / ((7 * 2) + 6)); }
  
  --screen-col-width: calc(var(--screen-col-pad-width) * 2);
  
  @include hg { --modal-no-cols: 11; }
  @include lg { --modal-no-cols: 10; }
  @include md { --modal-no-cols: 11; }
  @include sm { --modal-no-cols: 6; }
  
  --modal-width: calc(var(--modal-no-cols) * var(--screen-col-width) + (var(--modal-no-cols) - 1) * var(--screen-col-pad-width));
  
  --pad-xH: 56px;
  --pad-H: 52px;
  --pad-xL: 48px;
  --pad-L: 44px;
  --pad-xh: 40px;
  --pad-h: 36px;
  --pad-xl: 32px;
  --pad-l: 28px;
  --pad-m: 24px;
  --pad-s: 20px;
  --pad-xs: 16px;
  --pad-t: 12px;
  --pad-xt: 8px;
  
  @include hg { --pad-lg: var(--pad-xl); }
  @include lg { --pad-lg: var(--pad-l); }
  @include md { --pad-lg: var(--pad-m); }
  @include sm { --pad-lg: var(--pad-s); }
  
  @include hg { --pad-md: var(--pad-l); }
  @include lg { --pad-md: var(--pad-m); }
  @include md { --pad-md: var(--pad-s); }
  @include sm { --pad-md: var(--pad-xs); }
  
  @include hg { --pad-sm: var(--pad-s); }
  @include lg { --pad-sm: var(--pad-xs); }
  @include md { --pad-sm: var(--pad-t); }
  @include sm { --pad-sm: var(--pad-xt); }
  
  //--border-radius-hg: 32px;
  //--border-radius-lg: 16px;
  //--border-radius-md: 8px;
  //--border-radius-sm: 4px;
  
  //--border-radius-hg: var(--pad-xh);
  //--border-radius-lg: var(--pad-xl);
  //--border-radius-md: var(--pad-m);
  //--border-radius-sm: var(--pad-xs);
  
  //--border-radius-hg: var(--pad-l);
  //--border-radius-lg: var(--pad-m);
  //--border-radius-md: var(--pad-s);
  //--border-radius-sm: var(--pad-xs);
  
  --border-radius-hg: var(--pad-m);
  --border-radius-lg: var(--pad-s);
  --border-radius-md: var(--pad-xs);
  --border-radius-sm: var(--pad-t);
  
  @include hg { --border-radius: var(--border-radius-hg); }
  @include lg { --border-radius: var(--border-radius-lg); }
  @include md { --border-radius: var(--border-radius-md); }
  @include sm { --border-radius: var(--border-radius-sm); }
  
  //--border-radius-inline-hg: 8px;
  //--border-radius-inline-lg: 9px;
  //--border-radius-inline-md: 9px;
  //--border-radius-inline-sm: 10px;
  --border-radius-inline-hg: 6px;
  --border-radius-inline-lg: 5px;
  --border-radius-inline-md: 4px;
  --border-radius-inline-sm: 3px;
  
  @include hg { --border-radius-inline: var(--border-radius-inline-hg); }
  @include lg { --border-radius-inline: var(--border-radius-inline-lg); }
  @include md { --border-radius-inline: var(--border-radius-inline-md); }
  @include sm { --border-radius-inline: var(--border-radius-inline-sm); }
  
  --weight-lighter: 200;
  --weight-normal: 400;
  --weight-bold: 700;
  --weight-bolder: 900;
  //
  //--text-xh-size: var(--pad-m); // 24
  //--text-xh-height: var(--pad-xh);
  //--text-h-size: 22px;
  //--text-h-height: var(--pad-xh);
  //--text-xl-size: var(--pad-s); // 20
  //--text-xl-height: var(--pad-m);
  //--text-l-size: 18px;
  //--text-l-height: var(--pad-m);
  //--text-m-size: var(--pad-xs); // 16
  //--text-m-height: var(--pad-m);
  //--text-s-size: 14px;
  //--text-s-height: var(--pad-m);
  //--text-xs-size: var(--pad-t); // 12
  //--text-xs-height: var(--pad-m);
  //--text-t-size: 10px;
  //--text-t-height: var(--pad-m);
  //--text-xt-size: var(--pad-xt); // 8
  //--text-xt-height: var(--pad-m);
  
  --text-xh-size: 22px;
  --text-xh-height: var(--pad-l);
  --text-h-size: 20px;
  --text-h-height: var(--pad-l);
  --text-xl-size: 18px;
  --text-xl-height: var(--pad-m);
  --text-l-size: 16px;
  --text-l-height: var(--pad-m);
  --text-m-size: 14px;
  --text-m-height: var(--pad-m);
  --text-s-size: 12px;
  --text-s-height: var(--pad-m);
  --text-xs-size: 10px;
  --text-xs-height: var(--pad-m);
  --text-t-size: 8px;
  --text-t-height: var(--pad-s);
  --text-xt-size: 6px;
  --text-xt-height: var(--pad-s);
  
  --z-index-menu: 50;
  --z-index-select-options: 60;
  --z-index-popover: 300;
  --z-index-drawer: 200;
  --z-index-overlay-modal: 300;
  --z-index-notification: 400;
}
