@import "../abstracts/index";

html body {
  --100VH: calc(var(--vh, 1vh) * 100);
  /* ********************************          GLOBAL SIZES          ******************************** */
  
  --screen-hg-min: 1920px; /* Large PCs  [1920, INF  ] 80px | 1760px (15c 80|40) | 80px */
  --screen-lg-min: 1280px; /* PCs        [1280, 1920O) 80px | 1120px (12c 64|32) | 80px */
  --screen-md-min: 640px; /* Tablets     [640,   1280) 40px |  560px (12c 32|16) | 40px */
  --screen-sm-min: 320px; /* Phones      [320,    640)  0px |  320px ( 7c 32|16) |  0px */
  
  @include hg { --screen-content-width: 1760px; }
  @include lg { --screen-content-width: calc(100vw - 160px); }
  @include md { --screen-content-width: calc(100vw - 80px); }
  @include sm { --screen-content-width: calc(100vw - 20px); }
  
  @include hg { --screen-col-pad-width: calc(var(--screen-content-width) / ((15 * 2) + 14)); }
  @include lg { --screen-col-pad-width: calc(var(--screen-content-width) / ((12 * 2) + 11)); }
  @include md { --screen-col-pad-width: calc(var(--screen-content-width) / ((12 * 2) + 11)); }
  @include sm { --screen-col-pad-width: calc(var(--screen-content-width) / ((7 * 2) + 6)); }
  
  --screen-col-width: calc(var(--screen-col-pad-width) * 2);
  
  @include hg { --modal-no-cols: 11; }
  @include lg { --modal-no-cols: 10; }
  @include md { --modal-no-cols: 11; }
  @include sm { --modal-no-cols: 6; }
  
  --modal-width: calc(var(--modal-no-cols) * var(--screen-col-width) + (var(--modal-no-cols) - 1) * var(--screen-col-pad-width));
  
  --pad-xH: 56px;
  --pad-H: 52px;
  --pad-xL: 48px;
  --pad-L: 44px;
  --pad-xh: 40px;
  --pad-h: 36px;
  --pad-xl: 32px;
  --pad-l: 28px;
  --pad-m: 24px;
  --pad-s: 20px;
  --pad-xs: 16px;
  --pad-t: 12px;
  --pad-xt: 8px;
  
  @include hg { --pad-lg: var(--pad-xl); }
  @include lg { --pad-lg: var(--pad-l); }
  @include md { --pad-lg: var(--pad-m); }
  @include sm { --pad-lg: var(--pad-s); }
  
  @include hg { --pad-md: var(--pad-l); }
  @include lg { --pad-md: var(--pad-m); }
  @include md { --pad-md: var(--pad-s); }
  @include sm { --pad-md: var(--pad-xs); }
  
  @include hg { --pad-sm: var(--pad-s); }
  @include lg { --pad-sm: var(--pad-xs); }
  @include md { --pad-sm: var(--pad-t); }
  @include sm { --pad-sm: var(--pad-xt); }
  
  @include hg { --pad-border: var(--pad-h); }
  @include lg { --pad-border: var(--pad-xl); }
  @include md { --pad-border: var(--pad-l); }
  @include sm { --pad-border: var(--pad-m); }
  
  @include hg { --gap: 12px; }
  @include lg { --gap: 10px; }
  @include md { --gap: 8px; }
  @include sm { --gap: 6px; }
  
  --border-radius-hg: var(--pad-m);
  --border-radius-lg: var(--pad-s);
  --border-radius-md: var(--pad-xs);
  --border-radius-sm: var(--pad-t);
  
  @include hg { --border-radius: var(--border-radius-hg); }
  @include lg { --border-radius: var(--border-radius-lg); }
  @include md { --border-radius: var(--border-radius-md); }
  @include sm { --border-radius: var(--border-radius-sm); }
  
  //--border-radius-inline-hg: 8px;
  //--border-radius-inline-lg: 9px;
  //--border-radius-inline-md: 9px;
  //--border-radius-inline-sm: 10px;
  --border-radius-inline-hg: 8px;
  --border-radius-inline-lg: 7px;
  --border-radius-inline-md: 6px;
  --border-radius-inline-sm: 5px;
  
  @include hg { --border-radius-inline: var(--border-radius-inline-hg); }
  @include lg { --border-radius-inline: var(--border-radius-inline-lg); }
  @include md { --border-radius-inline: var(--border-radius-inline-md); }
  @include sm { --border-radius-inline: var(--border-radius-inline-sm); }
  
  --weight-lighter: 200;
  --weight-normal: 400;
  --weight-bold: 600;
  --weight-bolder: 800;
  
  --text-h-size: 20px;
  --text-h-height: var(--pad-m);
  --text-l-size: 18px;
  --text-l-height: var(--pad-m);
  --text-m-size: 16px;
  --text-m-height: var(--pad-m);
  --text-s-size: 14px;
  --text-s-height: var(--pad-m);
  --text-t-size: 12px;
  --text-t-height: var(--pad-m);
  
  --z-index-menu: 50;
  --z-index-select-options: 60;
  --z-index-popover: 300;
  --z-index-drawer: 200;
  --z-index-overlay-modal: 300;
  --z-index-notification: 400;
  
  --scrollbar-size: 8px;
  
  --t-color-shadow-lightest: rgba(var(--t-color-black-rgb), 0.05);
  --t-color-shadow-light: rgba(var(--t-color-black-rgb), 0.15);
  --t-color-shadow: rgba(var(--t-color-black-rgb), 0.25);
  --t-color-shadow-dark: rgba(var(--t-color-black-rgb), 0.35);
  --t-color-shadow-darkest: rgba(var(--t-color-black-rgb), 0.45);
}
