@use "../mixins";

// color

[class^="cr-"], [class*=" cr-"],
[class^="fw-"], [class*=" fw-"],
[class^="bc-"], [class*=" bc-"],
{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, box-shadow, filter, backdrop-filter, font-weight;
  //transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: var(--transition-duration);
}

.cr-bk { color: var(--t-color-black); }

.cr-b2 { color: var(--t-color-black-light);}

.cr-g1 { color: var(--t-color-gray-1); }

.cr-g2 { color: var(--t-color-gray-2); }

.cr-g3 { color: var(--t-color-gray-3); }

.cr-g4 { color: var(--t-color-gray-4); }

.cr-g5 { color: var(--t-color-gray-5); }

.cr-g6 { color: var(--t-color-gray-6); }

.cr-w2 { color: var(--t-color-white-dark); }

.cr-we { color: var(--t-color-white); }

.cr-il { color: var(--t-color-info-light); }

.cr-io { color: var(--t-color-info); }

.cr-id { color: var(--t-color-info-dark); }

.cr-sd { color: var(--t-color-success-dark); }

.cr-ss { color: var(--t-color-success); }

.cr-sl { color: var(--t-color-success-light); }

.cr-wg { color: var(--t-color-warning); }

.cr-el { color: var(--t-color-error-light); }

.cr-er { color: var(--t-color-error); }

.cr-ed { color: var(--t-color-error-dark); }

.cr-thl { color: var(--t-color-text-highlight-light); }

.cr-th { color: var(--t-color-text-highlight); }

.cr-thd { color: var(--t-color-text-highlight-dark); }

.cr-pl { color: var(--t-color-primary-light); }

.cr-py { color: var(--t-color-primary); }

.cr-pt { color: var(--t-color-primary-text); }

.cr-pd { color: var(--t-color-primary-dark); }

.cr-al { color: var(--t-color-accent-light); }

.cr-at { color: var(--t-color-accent); }

.cr-ad { color: var(--t-color-accent-dark); }

.cr-hl { color: var(--t-color-highlight-light); }

.cr-ht { color: var(--t-color-highlight); }

.cr-hd { color: var(--t-color-highlight-dark); }

// background-color

.bc-bk { --background-color: var(--t-color-black); }

.bc-b2 { --background-color: var(--t-color-black-light); }

.bc-g1 { --background-color: var(--t-color-gray-1); }

.bc-g2 { --background-color: var(--t-color-gray-2); }

.bc-g3 { --background-color: var(--t-color-gray-3); }

.bc-g4 { --background-color: var(--t-color-gray-4); }

.bc-g5 { --background-color: var(--t-color-gray-5); }

.bc-g6 { --background-color: var(--t-color-gray-6); }

.bc-wdt { --background-color: var(--t-color-white-darkest); }

.bc-wd { --background-color: var(--t-color-white-dark); }

.bc-we { --background-color: var(--t-color-white); }

.bc-il { --background-color: var(--t-color-info-light); }

.bc-io { --background-color: var(--t-color-info); }

.bc-id { --background-color: var(--t-color-info-dark); }

.bc-sl { --background-color: var(--t-color-success-light); }

.bc-ss { --background-color: var(--t-color-success); }

.bc-sd { --background-color: var(--t-color-success-dark); }

.bc-wl { --background-color: var(--t-color-warning-light); }

.bc-wg { --background-color: var(--t-color-warning); }

.bc-wgd { --background-color: var(--t-color-warning-dark); }

.bc-el { --background-color: var(--t-color-error-light); }

.bc-er { --background-color: var(--t-color-error); }

.bc-ed { --background-color: var(--t-color-error-dark); }

.bc-pl { --background-color: var(--t-color-primary-light); }

.bc-py { --background-color: var(--t-color-primary); }

.bc-pd { --background-color: var(--t-color-primary-dark); }

.bc-al { --background-color: var(--t-color-accent-light); }

.bc-at { --background-color: var(--t-color-accent); }

.bc-ad { --background-color: var(--t-color-accent-dark); }

.bc-hl { --background-color: var(--t-color-highlight-light); }

.bc-ht { --background-color: var(--t-color-highlight); }

.bc-hd { --background-color: var(--t-color-highlight-dark); }

[class^="bc-"], [class*=" bc-"] {
  background-color: var(--background-color);
}

// border

.br-bk { border: 1px solid var(--t-color-black); }

.br-b2 { border: 1px solid var(--t-color-black-light); }

.br-g1 { border: 1px solid var(--t-color-gray-1); }

.br-g2 { border: 1px solid var(--t-color-gray-2); }

.br-g3 { border: 1px solid var(--t-color-gray-3); }

.br-g4 { border: 1px solid var(--t-color-gray-4); }

.br-g5 { border: 1px solid var(--t-color-gray-5); }

.br-g6 { border: 1px solid var(--t-color-gray-6); }

.br-w2 { border: 1px solid var(--t-color-white-dark); }

.br-we { border: 1px solid var(--t-color-white); }

.br-io { border: 1px solid var(--t-color-info); }

.br-ss { border: 1px solid var(--t-color-success); }

.br-wg { border: 1px solid var(--t-color-warning); }

.br-er { border: 1px solid var(--t-color-error); }

.br-pl { border: 1px solid var(--t-color-primary-light); }

.br-py { border: 1px solid var(--t-color-primary); }

.br-pd { border: 1px solid var(--t-color-primary-dark);}

.br-al { border: 1px solid var(--t-color-accent-light); }

.br-at { border: 1px solid var(--t-color-accent); }

.br-ad { border: 1px solid var(--t-color-accent-dark); }

.br-hl { border: 1px solid var(--t-color-highlight-light); }

.br-ht { border: 1px solid var(--t-color-highlight); }

.br-hd { border: 1px solid var(--t-color-highlight-dark); }

.cursor-pointer, .cr-pr { cursor: pointer; }

.pe-ne { pointer-events: none; }

.screen:not(.hg) {
  @include mixins.hg { display: none; }
}

.screen:not(.lg) {
  @include mixins.lg { display: none; }
}

.screen:not(.md) {
  @include mixins.md { display: none; }
}

.screen:not(.sm) {
  @include mixins.sm { display: none; }
}

.link:not(.jk-icon) {
  color: var(--t-color-text-highlight-light);
  cursor: pointer;
  
  &:hover {
    text-decoration: underline;
  }
}

.rotating {
  animation: lds-dual-ring 0.9s linear infinite;
  
  &.slow { animation-duration: 1.2s; }
  
  //&.regular { animation-duration: 1s; }
  
  &.fast { animation-duration: 0.6s; }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.float-top-right {
  z-index: 1;
  position: absolute !important;
  top: 0;
  right: 0;
  
  &.pad-t {
    top: var(--pad-t);
    right: var(--pad-t);
  }
  
  &.pad-xt {
    top: var(--pad-xt);
    right: var(--pad-xt);
  }
}

.display-on-hover {
  opacity: 0;
  
  &:hover { opacity: 1; }
  
  &-1 {
    opacity: 0.1;
    
    &:hover { opacity: 1; }
  }
  
  &-2 {
    opacity: 0.2;
    
    &:hover { opacity: 1; }
  }
  
  &-3 {
    opacity: 0.3;
    
    &:hover { opacity: 1; }
  }
  
  &-4 {
    opacity: 0.4;
    
    &:hover { opacity: 1; }
  }
  
  &-5 {
    opacity: 0.5;
    
    &:hover { opacity: 1; }
  }
  
  &-6 {
    opacity: 0.6;
    
    &:hover { opacity: 1; }
  }
  
  &-7 {
    opacity: 0.7;
    
    &:hover { opacity: 1; }
  }
  
  &-8 {
    opacity: 0.8;
    
    &:hover { opacity: 1; }
  }
  
  &-9 {
    opacity: 0.9;
    
    &:hover { opacity: 1; }
  }
  
  @include mixins.transition(opacity);
}

.wb-bw { word-break: break-word; }

.wb-ba { word-break: break-all; }

.wb-ka { word-break: keep-all; }

.wb-nl { word-break: normal; }

.flex-1 { flex: 1; }

.flex-2 { flex: 2; }

.flex-3 { flex: 3; }

.flex-4 { flex: 4; }

.flex-5 { flex: 5; }

.flex-6 { flex: 6; }

.sides-mobile-padding {
  padding-left: var(--pad-xs);
  padding-right: var(--pad-xs);
}

.elevation-1 { @include mixins.elevation(1); }

.elevation-2 { @include mixins.elevation(2); }

.elevation-3 { @include mixins.elevation(3); }

.pn-re { position: relative; }

.pn-ae { position: absolute; }

.pn-fd { position: fixed; }

.br-50-pc { border-radius: 50%; }

.wh-ao { width: auto; }

.wh-100 { width: 100% }

.ht-100 { height: 100% }

.ht-ao { height: auto !important; }

.fl-tt-il {
  &:first-letter {
    text-transform: initial;
  }
}

.border-top-highlight {
  position: relative;
  
  &::before {
    position: absolute;
    content: " ";
    top: 0;
    height: 1px;
    width: 100%;
    background-color: var(--t-color-highlight);
  }
  
  &-light {
    position: relative;
    
    &::before {
      position: absolute;
      content: " ";
      top: 0;
      height: 1px;
      width: 100%;
      background-color: var(--t-color-highlight-light);
    }
  }
}

.border-bottom-highlight {
  position: relative;
  
  &::before {
    position: absolute;
    content: " ";
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--t-color-highlight);
  }
  
  &-light {
    position: relative;
    
    &::before {
      position: absolute;
      content: " ";
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: var(--t-color-highlight-light);
    }
  }
}

.border-right-highlight {
  position: relative;
  
  &::before {
    position: absolute;
    content: " ";
    right: 0;
    width: 1px;
    height: 100%;
    background-color: var(--t-color-highlight);
  }
  
  &-light {
    position: relative;
    
    &::before {
      position: absolute;
      content: " ";
      right: 0;
      width: 1px;
      height: 100%;
      background-color: var(--t-color-highlight-light);
    }
  }
}

.hoverable {
  cursor: pointer;
  
  &:hover {
    background: var(--t-color-highlight-light);
  }
}

.hr-e1 {
  cursor: pointer;
  
  &:hover {
    @include mixins.elevation(1);
  }
}

.expand-absolute {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.dy-cs { display: contents; }

.dy-ib { display: inline-block; }

.dy-ib- { display: inline-block !important; }

.dy-if { display: inline-flex; }

.dy-if- { display: inline-flex !important; }

.va-tp { vertical-align: top; }

.ow-ao { overflow: auto; }

.ow-hn { overflow: hidden; }

.ow-ve { overflow: visible !important; }

.ai-be { align-items: baseline !important; }

.disabled:not(.with-loader-icon):not(.jk-wrapper-input):not(.jk-select-options):not(.jk-select-option) {
  opacity: 0.5;
  cursor: auto !important;
}

@media print {
  .page-break {
    break-before: page;
  }
  
  .avoid-break {
    break-inside: avoid;
  }
}

.image-border {
  filter: drop-shadow(0 0 1px var(--t-color-white)) drop-shadow(0 0 1px var(--t-color-white));
}

.line-height-1 {
  line-height: 1;
}

.bs-bb {
  box-sizing: border-box;
}

.outline-hover {
  &:hover {
    outline: 2px solid var(--color);
  }
}
