@use "../mixins";
//@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;700&display=swap");

// font size

.tx-h { @include mixins.font-size(h); }

.tx-l { @include mixins.font-size(l); }

.tx-m { @include mixins.font-size(m); }

.tx-s { @include mixins.font-size(s); }

.tx-t { @include mixins.font-size(t); }

// width
.fw-lr { font-weight: var(--weight-lighter); }

.fw-lt { font-weight: var(--weight-light); }

.fw-rr { font-weight: var(--weight-regular); }

.fw-bd { font-weight: var(--weight-bold); }

.fw-br { font-weight: var(--weight-bolder); }

// text transforms
.tt-se { // case sentence
  display: inline-block;
  
  &::first-letter { text-transform: uppercase; }
}

.tt-ce { text-transform: capitalize; }

.tt-ue { text-transform: uppercase; }

.tt-le { text-transform: lowercase; }

// white-space
.ws-np {
  white-space: nowrap;
  
  > *:not(.ws-np) {
    white-space: normal;
  }
}

.ws-nl { white-space: normal; }

.ws-bs { white-space: break-spaces; }

.ws-pe { white-space: pre; }

// text-align
.ta-lt { text-align: left; }

.ta-rt { text-align: right; }

.ta-cr { text-align: center; }

.ta-st { text-align: start; }

.ta-ed { text-align: end; }
