@use "../mixins";

body {
  // define --font-primary
  font-family: var(--font-primary), sans-serif;
  font-weight: var(--weight-regular, 400);
  color: var(--cr-body);
  background-color: var(--bc-body);
  margin: 0;
  width: 100%;
  height: 100%;
  --left-vertical-menu-width: 0px;
  --left-vertical-collapsed-menu-width: 0px;
  --top-horizontal-menu-height: 0px;
  --bottom-horizontal-menu-height: 0px;
  overflow: hidden;
  
  @include mixins.transition(background-color, color);
  @include mixins.font-size(m);
  
  #juki-app {
    overflow: hidden;
    width: 100vw;
    height: var(--100VH);
    
    &.loading-route {
      //pointer-events: none;
      
      .loading-route-overlay {
        opacity: 1;
      }
    }
  }
  
  *::-webkit-scrollbar {
    width: var(--size-scrollbar);
    height: var(--size-scrollbar);
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: var(--cr-ht);
  }
}

h1, h2, h3 {
  &:not([class*=" cr-"]):not([class^="cr-"]) {
    color: var(--cr-tx-ht);
  }
}

h1, h2, h3 {
  font-weight: var(--weight-bolder);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  line-height: var(--line-height-head);
}

h3 {
  font-size: var(--font-size-h3);
}

h2 {
  font-size: var(--font-size-h2);
}

h1 {
  font-size: var(--font-size-h1);
}

p {
  margin: unset;
}

ul {
  margin: unset;
}

pre {
  margin: unset;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: var(--cr-tx-ht-lt);
}

@media print {
  html, body {
    height: auto !important;
    overflow: visible !important;
    
    #juki-app {
      overflow: visible !important;
    }
  }
}

.sticky-top {
  position: sticky;
  top: 0;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
}
