@import "../abstracts/_index.scss";

body {
  font-family: "Inter", sans-serif;
  font-weight: var(--weight-regular, 400);
  color: var(--t-color-black-light);
  background-color: var(--t-color-white-dark);
  @include transition(background-color, color);
  @include font-size(medium);
  margin: 0;
  width: 100%;
  height: 100%;

  #juki-app {
    overflow: hidden;
    width: 100vw;
    height: var(--100VH);

    &.loading-route {
      pointer-events: none;

      .loading-route-overlay {
        opacity: 1;
      }
    }
  }

  *::-webkit-scrollbar {
    width: var(--size-scrollbar);
    height: var(--size-scrollbar);
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: var(--t-color-highlight);
  }
}

h1, h2, h3 {
  &:not([class*=" cr-"]):not([class^="cr-"]) {
    color: var(--t-color-primary-dark);
  }
}

h1, h2, h3 {
  &:first-letter {
    text-transform: capitalize;
  }

  font-weight: var(--weight-bold);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  line-height: 1.6;
}

h3 {
  font-size: calc(var(--base-text-size) + 10px);
  @include sm {
    font-size: 22px;
  }
}

h2 {
  font-size: calc(var(--base-text-size) + 14px);
  @include sm {
    font-size: 26px;
  }
}

h1 {
  font-size: calc(var(--base-text-size) + 18px);
  @include sm {
    font-size: 30px;
  }
}

p {
  @include font-size(medium);
  margin: unset;
}

ul {
  margin: unset;
}

pre {
  margin: unset;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: var(--t-color-primary-light);
}
