@use "../mixins";

/*
 FLEX
 */

span.jk-row, span.jk-col {
  display: inline-flex;
}

.jk-row, .jk-col, .jk-row-col {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  
  &.nowrap { flex-wrap: nowrap; }
  
  &.gap {
    gap: var(--gap);
  }
  
  &.block {
    > * {
      flex: 1;
    }
  }
  
  &.space-between { justify-content: space-between; }
  
  &.center { justify-content: center; }
  
  &.stretch { align-items: stretch; }
}

@mixin jk-row {
  &.extend { width: 100% !important; }
  
  &.left { justify-content: flex-start; }
  
  &.right { justify-content: flex-end; }
  
  &.top { align-items: start; }
  
  &.bottom { align-items: end; }
}

.jk-row {
  @include jk-row;
}

@mixin jk-col {
  flex-direction: column;
  
  &.extend { height: 100% !important; }
  
  &.top { justify-content: flex-start; }
  
  &.bottom { justify-content: flex-end; }
  
  &.left { align-content: start; }
  
  &.right { align-content: end; }
}

.jk-col {
  @include jk-col;
}

/*
 IMAGE PROFILE
 */
.jk-user-profile-img {
  outline: 1px solid var(--cr-we) !important;
  border-radius: 50%;
  // regular
  width: var(--tx-h-m);
  height: var(--tx-h-m);
  box-sizing: border-box;
  
  &.tiny {
    width: var(--tx-h-t);
    height: var(--tx-h-t);
  }
  
  &.small {
    width: var(--tx-h-s);
    height: var(--tx-h-s);
  }
  
  &.large {
    width: var(--tx-h-l);
    height: var(--tx-h-l);
    outline-width: 2px !important;
  }
  
  &.huge {
    width: var(--tx-h-h);
    height: var(--tx-h-h);
    outline-width: 2px !important;
  }
}

/*
 BORDER RADIUS
 */
.jk-br {
  border-radius: var(--border-radius); // responsive variable
}

.jk-br-ie {
  border-radius: var(--border-radius-inline); // responsive variable
}

*[class^="jk-pg"], *[class*=" jk-pg"] {
  box-sizing: border-box;
}

.jk-pg {
  
  padding: var(--pad-md);
  
  &-lg {
    padding: var(--pad-lg);
    
    &-t, &-tr, &-tb, &-tl, &-trb, &-trl, &-trbl, &-tbl { padding-top: var(--pad-lg); }
    
    &-r, &-tr, &-rb, &-rl, &-trb, &-trl, &-rbl, &-trbl { padding-right: var(--pad-lg); }
    
    &-b, &-tb, &-rb, &-bl, &-trb, &-rbl, &-trbl, &-tbl { padding-bottom: var(--pad-lg); }
    
    &-l, &-tl, &-rl, &-bl, &-trl, &-rbl, &-trbl, &-tbl { padding-left: var(--pad-lg); }
  }
  
  &-md {
    padding: var(--pad-md);
    
    &-t, &-tr, &-tb, &-tl, &-trb, &-trl, &-trbl, &-tbl { padding-top: var(--pad-md); }
    
    &-r, &-tr, &-rb, &-rl, &-trb, &-trl, &-rbl, &-trbl { padding-right: var(--pad-md); }
    
    &-b, &-tb, &-rb, &-bl, &-trb, &-rbl, &-trbl, &-tbl { padding-bottom: var(--pad-md); }
    
    &-l, &-tl, &-rl, &-bl, &-trl, &-rbl, &-trbl, &-tbl { padding-left: var(--pad-md); }
  }
  
  &-sm {
    padding: var(--pad-sm);
    
    &-t, &-tr, &-tb, &-tl, &-trb, &-trl, &-trbl, &-tbl { padding-top: var(--pad-sm); }
    
    &-r, &-tr, &-rb, &-rl, &-trb, &-trl, &-rbl, &-trbl { padding-right: var(--pad-sm); }
    
    &-b, &-tb, &-rb, &-bl, &-trb, &-rbl, &-trbl, &-tbl { padding-bottom: var(--pad-sm); }
    
    &-l, &-tl, &-rl, &-bl, &-trl, &-rbl, &-trbl, &-tbl { padding-left: var(--pad-sm); }
  }
  
  &-xsm {
    padding: calc(var(--pad-sm) / 2);
    
    &-t, &-tr, &-tb, &-tl, &-trb, &-trl, &-trbl, &-tbl { padding-top: calc(var(--pad-sm) / 2); }
    
    &-r, &-tr, &-rb, &-rl, &-trb, &-trl, &-rbl, &-trbl { padding-right: calc(var(--pad-sm) / 2); }
    
    &-b, &-tb, &-rb, &-bl, &-trb, &-rbl, &-trbl, &-tbl { padding-bottom: calc(var(--pad-sm) / 2); }
    
    &-l, &-tl, &-rl, &-bl, &-trl, &-rbl, &-trbl, &-tbl { padding-left: calc(var(--pad-sm) / 2); }
  }
  
  &-t, &-tr, &-tb, &-tl, &-trb, &-trl, &-trbl, &-tbl { padding-top: var(--pad-md); }
  
  &-r, &-tr, &-rb, &-rl, &-trb, &-trl, &-rbl, &-trbl { padding-right: var(--pad-md); }
  
  &-b, &-tb, &-rb, &-bl, &-trb, &-rbl, &-trbl, &-tbl { padding-bottom: var(--pad-md); }
  
  &-l, &-tl, &-rl, &-bl, &-trl, &-rbl, &-trbl, &-tbl { padding-left: var(--pad-md); }
}

/*
 SCROLL
 */
.jk-with-scroll {
  overflow: auto;
  
  &-outside {
    width: calc(100% + var(--pad-xt));
    padding-right: var(--pad-xt);
    overflow: auto;
  }
}

.jk-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: var(--zi-overlay);
}


.jk-overlay-backdrop {
  background-color: var(--cr-sw-lt);
  backdrop-filter: blur(4px);
}

.bf-4 {
  backdrop-filter: blur(4px);
}

.fr-4 {
  filter: blur(4px);
}

.jk-tag {
  padding: 2px calc(var(--pad-xt) / 2);
  display: inline-flex;
  border-radius: var(--border-radius-inline);
  
  &:not([class^="cr-"]):not([class*=" cr-"]):not([class^="bc-"]):not([class*=" bc-"]) {
    color: var(--cr-py-tx);
    background-color: var(--cr-py);
  }
}

.jk-text-stdout, .jk-text-stderr {
  overflow: auto;
  white-space: pre;
  font-family: monospace;
}

.jk-text-stdout {
  background: var(--cr-ht-lt) !important;
  padding: 3px 0;
}

.jk-table-inline-header, .jk-table-inline-row {
  > div {
    padding: 0 var(--pad-xt);
  }
}

.jk-table-inline-header {
  box-sizing: border-box;
  border: 1px solid var(--cr-gy-5);
  border-radius: var(--border-radius-inline) var(--border-radius-inline) 0 0;
  color: var(--cr-py);
  font-weight: var(--weight-bold);
}

.jk-table-inline-row {
  padding: var(--pad-xt) 0;
  box-sizing: border-box;
  
  // for buttons
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  
  &:not(button) {
    border-bottom: 1px solid var(--cr-gy-5);
    border-left: 1px solid var(--cr-gy-5);
    border-right: 1px solid var(--cr-gy-5);
  }
}

.jk-row-col {
  @include mixins.sm {
    @include jk-col;
    align-items: stretch !important;
    align-content: center !important;
    > * {
      width: 100% !important;
    }
  }
  
  @include mixins.md-hg {
    @include jk-row;
  }
}

.jk-full-screen-overlay {
  background: var(--cr-we-dk);
  position: fixed;
  top: var(--pad-sm);
  left: var(--pad-sm);
  z-index: var(--zi-popover);
  width: calc(100% - var(--pad-sm) * 2) !important;
  height: calc(100% - var(--pad-sm) * 2) !important;
  //padding: var(--pad-md);
}

.opacity-0 {
  opacity: 0;
}

.jk-table-grid {
  display: grid;
  gap: var(--gap);
  //grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.opacity-hover {
  opacity: 0.2;
  
  &:hover {
    opacity: 1;
  }
}

.opacity-hover-4 {
  opacity: 0.4;
  
  &:hover {
    opacity: 1;
  }
}

.ff-me {
  font-family: monospace;
}
