@use "../abstracts/mixins";

/*
 FLEX
 */

span.jk-row, span.jk-col {
  display: inline-flex;
}

@mixin jk-row-col {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  
  &.nowrap { flex-wrap: nowrap; }
  
  &.gap {
    gap: var(--gap);
  }
  
  &.block {
    > * {
      flex: 1;
    }
  }
  
  &.space-between { justify-content: space-between; }
  
  &.center { justify-content: center; }
  
  &.stretch { align-items: stretch; }
}

div.jk-row, section.jk-row, span.jk-row, a.jk-row, fieldset.jk-row, form.jk-row, label.jk-row,
div.jk-col, section.jk-col, span.jk-col, a.jk-col, fieldset.jk-col, form.jk-col, label.jk-col {
  @include jk-row-col;
}

@mixin jk-row {
  &.extend { width: 100% !important; }
  
  &.left { justify-content: flex-start; }
  
  &.right { justify-content: flex-end; }
  
  &.top { align-content: start; }
  
  &.bottom { align-content: end; }
}

div.jk-row, section.jk-row, span.jk-row, a.jk-row, fieldset.jk-row, form.jk-row, label.jk-row {
  @include jk-row;
}

@mixin jk-col {
  flex-direction: column;
  
  &.extend { height: 100% !important; }
  
  &.top { justify-content: flex-start; }
  
  &.bottom { justify-content: flex-end; }
  
  &.left { align-content: start; }
  
  &.right { align-content: end; }
}

div.jk-col, section.jk-col, span.jk-col, a.jk-col, fieldset.jk-col, form.jk-col, label.jk-col {
  @include jk-col;
}

/*
 IMAGE PROFILE
 */
.jk-user-profile-img {
  border: 1px solid var(--t-color-white) !important;
  border-radius: 50%;
  // regular
  width: var(--pad-m);
  height: var(--pad-m);
  box-sizing: border-box;
  
  &.small {
    width: var(--pad-t);
    height: var(--pad-t);
    border: 1px solid var(--t-color-white) !important;
  }
  
  &.large {
    width: var(--pad-h);
    height: var(--pad-h);
    border: 2px solid var(--t-color-white) !important;
  }
  
  &.huge {
    width: var(--pad-xL);
    height: var(--pad-xL);
    border: 2px solid var(--t-color-white) !important;
  }
}

/*
 BORDER RADIUS
 */
.jk-border-radius {
  border-radius: var(--border-radius); // responsive variable
}

.jk-br {
  border-radius: var(--border-radius); // responsive variable
}

.jk-border-radius-inline {
  border-radius: var(--border-radius-inline); // responsive variable
}

.jk-br-ie {
  border-radius: var(--border-radius-inline); // responsive variable
}

*[class^="jk-pg"], *[class*=" jk-pg"] {
  box-sizing: border-box;
}

.jk-pg {
  
  &-lg {
    padding: var(--pad-lg);
    
    &-t, &-tr, &-tb, &-tl, &-trb, &-trl, &-trbl { padding-top: var(--pad-lg); }
    
    &-r, &-tr, &-rb, &-rl, &-trb, &-trl, &-rbl, &-trbl { padding-right: var(--pad-lg); }
    
    &-b, &-tb, &-rb, &-bl, &-trb, &-rbl, &-trbl { padding-bottom: var(--pad-lg); }
    
    &-l, &-tl, &-rl, &-bl, &-trl, &-rbl, &-trbl { padding-left: var(--pad-lg); }
  }
  
  &-md {
    padding: var(--pad-md);
    
    &-t, &-tr, &-tb, &-tl, &-trb, &-trl, &-trbl { padding-top: var(--pad-md); }
    
    &-r, &-tr, &-rb, &-rl, &-trb, &-trl, &-rbl, &-trbl { padding-right: var(--pad-md); }
    
    &-b, &-tb, &-rb, &-bl, &-trb, &-rbl, &-trbl { padding-bottom: var(--pad-md); }
    
    &-l, &-tl, &-rl, &-bl, &-trl, &-rbl, &-trbl { padding-left: var(--pad-md); }
  }
  
  &-sm {
    padding: var(--pad-sm);
    
    &-t, &-tr, &-tb, &-tl, &-trb, &-trl, &-trbl { padding-top: var(--pad-sm); }
    
    &-r, &-tr, &-rb, &-rl, &-trb, &-trl, &-rbl, &-trbl { padding-right: var(--pad-sm); }
    
    &-b, &-tb, &-rb, &-bl, &-trb, &-rbl, &-trbl { padding-bottom: var(--pad-sm); }
    
    &-l, &-tl, &-rl, &-bl, &-trl, &-rbl, &-trbl { padding-left: var(--pad-sm); }
  }
  
  &-t, &-tr, &-tb, &-tl, &-trb, &-trl, &-trbl { padding-top: var(--pad-md); }
  
  &-r, &-tr, &-rb, &-rl, &-trb, &-trl, &-rbl, &-trbl { padding-right: var(--pad-md); }
  
  &-b, &-tb, &-rb, &-bl, &-trb, &-rbl, &-trbl { padding-bottom: var(--pad-md); }
  
  &-l, &-tl, &-rl, &-bl, &-trl, &-rbl, &-trbl { padding-left: var(--pad-md); }
  
  padding: var(--pad-md);
}

/*
 SCROLL
 */
.jk-with-scroll {
  overflow: auto;
  
  &-outside {
    width: calc(100% + var(--pad-xt));
    padding-right: var(--pad-xt);
    overflow: auto;
  }
}

.jk-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFFFFFAA;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.appearance-accent-dark { @include mixins.look(accent-dark); }

.appearance-accent { @include mixins.look(accent); }

.appearance-accent-light { @include mixins.look(accent-light); }

.appearance-success-dark { @include mixins.look(success-dark); }

.appearance-success { @include mixins.look(success); }

.appearance-success-light { @include mixins.look(success-light); }

.appearance-info-dark { @include mixins.look(info-dark); }

.appearance-info { @include mixins.look(info); }

.appearance-info-light { @include mixins.look(info-light); }

.appearance-warning-dark { @include mixins.look(warning-dark); }

.appearance-warning { @include mixins.look(warning); }

.appearance-warning-light { @include mixins.look(warning-light); }

.appearance-error-dark { @include mixins.look(error-dark); }

.appearance-error { @include mixins.look(error); }

.appearance-error-light { @include mixins.look(error-light); }

.appearance-primary-dark { @include mixins.look(primary-dark); }

.appearance-primary { @include mixins.look(primary); }

.appearance-primary-light { @include mixins.look(primary-light); }

.appearance-secondary-dark { @include mixins.look(secondary-dark); }

.appearance-secondary { @include mixins.look(secondary); }

.appearance-secondary-light { @include mixins.look(secondary-light); }

.appearance-gray-1 { @include mixins.look(gray-1); }

.appearance-gray-2 { @include mixins.look(gray-2); }

.appearance-gray-3 { @include mixins.look(gray-3); }

.appearance-gray-4 { @include mixins.look(gray-4); }

.appearance-gray-5 { @include mixins.look(gray-5); }

.appearance-gray-6 { @include mixins.look(gray-6); }

.jk-tag {
  @include mixins.look(primary);
  padding: 0 var(--pad-xt);
  border-radius: var(--border-radius-inline);
  display: inline-block;
  
  &.accent-dark { @include mixins.look(accent-dark); }
  
  &.accent { @include mixins.look(accent); }
  
  &.accent-light { @include mixins.look(accent-light); }
  
  &.success-dark { @include mixins.look(success-dark); }
  
  &.success { @include mixins.look(success); }
  
  &.success-light { @include mixins.look(success-light); }
  
  &.info-dark { @include mixins.look(info-dark); }
  
  &.info { @include mixins.look(info); }
  
  &.info-light { @include mixins.look(info-light); }
  
  &.warning-dark { @include mixins.look(warning-dark); }
  
  &.warning { @include mixins.look(warning); }
  
  &.warning-light { @include mixins.look(warning-light); }
  
  &.error-dark { @include mixins.look(error-dark); }
  
  &.error { @include mixins.look(error); }
  
  &.error-light { @include mixins.look(error-light); }
  
  &.primary-light { @include mixins.look(primary-light); }
  
  &.primary-dark { @include mixins.look(primary-dark); }
  
  &.secondary-dark { @include mixins.look(secondary-dark); }
  
  &.secondary { @include mixins.look(secondary); }
  
  &.secondary-light { @include mixins.look(secondary-light); }
  
  &.gray-1 { @include mixins.look(gray-1); }
  
  &.gray-2 { @include mixins.look(gray-2); }
  
  &.gray-3 { @include mixins.look(gray-3); }
  
  &.gray-4 { @include mixins.look(gray-4); }
  
  &.gray-5 { @include mixins.look(gray-5); }
  
  &.gray-6 { @include mixins.look(gray-6); }
  
  &.white { @include mixins.look(white); }
  
  &.bc-hl, &.bc-hd, &.bc-ht { color: inherit; }
}

.jk-text-stdout, .jk-text-stderr {
  overflow: auto;
  white-space: pre;
  font-family: monospace;
}

.jk-text-stdout {
  background: var(--t-color-highlight-light) !important;
  padding: 3px 0;
}

.jk-text-stderr {
  @include mixins.font-size(tiny);
  @include mixins.look(error);
  padding: 5px 0;
}

.jk-table-inline-header, .jk-table-inline-row {
  > div {
    padding: 0 var(--pad-xt);
  }
}

.jk-table-inline-header {
  box-sizing: border-box;
  border: 1px solid var(--t-color-gray-5);
  border-radius: var(--border-radius-inline) var(--border-radius-inline) 0 0;
  color: var(--t-color-primary);
  font-weight: var(--weight-bold);
}

.jk-table-inline-row {
  padding: var(--pad-xt) 0;
  box-sizing: border-box;
  
  &:not(button) {
    border-bottom: 1px solid var(--t-color-gray-5);
    border-left: 1px solid var(--t-color-gray-5);
    border-right: 1px solid var(--t-color-gray-5);
  }
  
  // for buttons
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.jk-row-col {
  @include jk-row-col;
  
  @include mixins.sm {
    @include jk-col;
    align-items: stretch !important;
    align-content: center !important;
    > * {
      width: 100% !important;
    }
  }
  
  @include mixins.md-hg {
    @include jk-row;
  }
}

.jk-full-screen-overlay {
  background: var(--t-color-white-dark);
  position: fixed;
  top: var(--pad-md);
  left: var(--pad-md);
  z-index: var(--z-index-popover);
  width: calc(100% - var(--pad-md) * 2);
  height: calc(100% - var(--pad-md) * 2);
  //padding: var(--pad-md);
}
