@import "../abstracts/index";

/* ********************************             COLORS             ******************************** */
.jk-theme-light {
  
  --base-black: black;
  --base-white: white;
  
  @include defineColor(--t-color-primary, #2874B9);
  @include defineColor(--t-color-primary-text, #FFFFFF);
  @include defineColor(--t-color-secondary, #EDB745);
  @include defineColor(--t-color-secondary-text, #FFFFFF);
  
  @include defineColor(--t-color-accent, #F0E04A);
  @include defineColor(--t-color-info, #2F86EB);
  @include defineColor(--t-color-success, #43D787);
  @include defineColor(--t-color-warning, #F2C94C);
  @include defineColor(--t-color-error, #EB5757);
  @include defineColor(--t-color-gray, #333333);
  
  @include defineColor(--t-color-black, #000000);
  @include defineColor(--t-color-white, #FFFFFF);
}

.jk-theme-dark {
  
  --base-black: white;
  --base-white: black;
  
  // https://maketintsandshades.com
  // https://colorffy.com/dark-theme-generator #2874B9 #121212 0.1
  
  @include defineColor(--t-color-primary, #7DA0D1);
  @include defineColor(--t-color-primary-text, #F1F1F1);
  @include defineColor(--t-color-secondary, #A5A5A5);
  @include defineColor(--t-color-secondary-text, #FFFFFF);
  
  @include defineColor(--t-color-accent, #44464C);
  @include defineColor(--t-color-info, #4492ED);
  @include defineColor(--t-color-success, #56DB93);
  @include defineColor(--t-color-warning, #F3CE5E);
  @include defineColor(--t-color-error, #ED6868);
  @include defineColor(--t-color-gray, #DBDBDB);
  
  @include defineColor(--t-color-black, #E3E3E3);
  @include defineColor(--t-color-white, #2D3036);
}

.jk-theme-light, .jk-theme-dark {
  --tone: 75%;
  --t-color-primary-dark: color-mix(in srgb, var(--t-color-primary) var(--tone), var(--base-black));
  --t-color-primary-light: color-mix(in srgb, var(--t-color-primary) var(--tone), var(--base-white));
  
  --t-color-secondary-dark: color-mix(in srgb, var(--t-color-secondary) var(--tone), var(--base-black));
  --t-color-secondary-light: color-mix(in srgb, var(--t-color-secondary) var(--tone), var(--base-white));
  
  --t-color-info-dark: color-mix(in srgb, var(--t-color-info) var(--tone), var(--base-black));
  --t-color-info-light: color-mix(in srgb, var(--t-color-info) var(--tone), var(--base-white));
  
  --t-color-success-dark: color-mix(in srgb, var(--t-color-success) var(--tone), var(--base-black));
  --t-color-success-light: color-mix(in srgb, var(--t-color-success) var(--tone), var(--base-white));
  
  --t-color-warning-dark: color-mix(in srgb, var(--t-color-warning) var(--tone), var(--base-black));
  --t-color-warning-light: color-mix(in srgb, var(--t-color-warning) var(--tone), var(--base-white));
  
  --t-color-error-dark: color-mix(in srgb, var(--t-color-error) var(--tone), var(--base-black));
  --t-color-error-light: color-mix(in srgb, var(--t-color-error) var(--tone), var(--base-white));
  
  --t-color-gray-1: color-mix(in srgb, var(--t-color-gray) 100%, var(--base-white));
  --t-color-gray-2: color-mix(in srgb, var(--t-color-gray) 84%, var(--base-white));
  --t-color-gray-3: color-mix(in srgb, var(--t-color-gray) 68%, var(--base-white));
  --t-color-gray-4: color-mix(in srgb, var(--t-color-gray) 52%, var(--base-white));
  --t-color-gray-5: color-mix(in srgb, var(--t-color-gray) 36%, var(--base-white));
  --t-color-gray-6: color-mix(in srgb, var(--t-color-gray) 20%, var(--base-white));
  
  --t-color-black-light: color-mix(in srgb, var(--t-color-black) 95%, var(--base-white));
  --t-color-white-dark: color-mix(in srgb, var(--t-color-white) 95%, var(--base-black));
}
