@use "../mixins";

// base primary color: #164066
// https://maketintsandshades.com
// https://colorffy.com/dark-theme-generator #2874B9 #121212 0.1
/* ********************************             COLORS             ******************************** */
.jk-theme-light {
  --cr-io: #2F86EB;
  --cr-ss: #43D787;
  --cr-wg: #F2C94C;
  --cr-er: #EB5757;
  
  --cr-we: #FAFBFC; // 50
  --cr-gy: #333333;
  --cr-bk: #000102;
  
  --cr-sw-: #454545; // 800
  --cr-gw: #FAFBFC40;
}

.jk-theme-dark {
  --cr-io: #4492ED;
  --cr-ss: #56DB93;
  --cr-wg: #F3CE5E;
  --cr-er: #ED6868;
  
  --cr-we: #202831; // 950, 12161A
  --cr-gy: #E1E2E3;
  --cr-bk: #FEFEFE;
  
  --cr-sw-: #444546; // 800
  --cr-gw: #FEFEFE40;
}

.jk-theme-light, .jk-theme-dark {
  --tone: 75%;
  --base-white: white;
  --base-black: black;
  
  --cr-io-dk: color-mix(in srgb, var(--cr-io) var(--tone), var(--cr-bk));
  --cr-io-lt: color-mix(in srgb, var(--cr-io) var(--tone), var(--cr-we));
  
  --cr-ss-dk: color-mix(in srgb, var(--cr-ss) var(--tone), var(--cr-bk));
  --cr-ss-lt: color-mix(in srgb, var(--cr-ss) var(--tone), var(--cr-we));
  
  --cr-wg-dk: color-mix(in srgb, var(--cr-wg) var(--tone), var(--cr-bk));
  --cr-wg-lt: color-mix(in srgb, var(--cr-wg) var(--tone), var(--cr-we));
  
  --cr-er-dk: color-mix(in srgb, var(--cr-er) var(--tone), var(--cr-bk));
  --cr-er-lt: color-mix(in srgb, var(--cr-er) var(--tone), var(--cr-we));
  
  --cr-gy-1: color-mix(in srgb, var(--cr-gy) 100%, var(--cr-we));
  --cr-gy-2: color-mix(in srgb, var(--cr-gy) 83%, var(--cr-we));
  --cr-gy-3: color-mix(in srgb, var(--cr-gy) 66%, var(--cr-we));
  --cr-gy-4: color-mix(in srgb, var(--cr-gy) 49%, var(--cr-we));
  --cr-gy-5: color-mix(in srgb, var(--cr-gy) 32%, var(--cr-we));
  --cr-gy-6: color-mix(in srgb, var(--cr-gy) 15%, var(--cr-we));
  
  --cr-ht-lt: color-mix(in srgb, var(--cr-bk) 10%, transparent); // 1A
  --cr-ht: color-mix(in srgb, var(--cr-bk) 25%, transparent); // 40
  --cr-ht-dk: color-mix(in srgb, var(--cr-bk) 40%, transparent); // 66
  
  --cr-sw-lt: color-mix(in srgb, var(--cr-sw-) 60%, transparent);
  --cr-sw: color-mix(in srgb, var(--cr-sw-) 75%, transparent);
  --cr-sw-dk: color-mix(in srgb, var(--cr-sw-) 90%, transparent);
  
  --cr-at-lt: color-mix(in srgb, var(--body-at-cr) var(--tone), var(--cr-we));
  --cr-at: var(--body-at-cr);
  --cr-at-dk: color-mix(in srgb, var(--body-at-cr) var(--tone), var(--cr-bk));
  --cr-at-it: var(--body-at-cr-it);
  
  --cr-tx-ht-lt: color-mix(in srgb, var(--body-tx-cr-ht) 100%, var(--cr-bk) 30%);
  --cr-tx-ht: var(--body-tx-cr-ht);
  --cr-tx-ht-dk: color-mix(in srgb, var(--body-tx-cr-ht) 80%, var(--cr-bk) 50%);
  --cr-tx-ht-it: var(--body-tx-cr-ht-it);
}

.jk-theme-light {
  --cr-bk-let: color-mix(in srgb, var(--cr-bk) 80%, var(--base-white));
  --cr-bk-lt: color-mix(in srgb, var(--cr-bk) 90%, var(--base-white));
  --cr-we-lt: color-mix(in srgb, var(--cr-we) 10%, var(--base-white));
  --cr-we-dk: color-mix(in srgb, var(--cr-we) 96%, var(--base-black));
  --cr-we-det: color-mix(in srgb, var(--cr-we) 92%, var(--base-black));
}

.jk-theme-dark {
  --cr-bk-let: color-mix(in srgb, var(--cr-bk) 86%, var(--base-white));
  --cr-bk-lt: color-mix(in srgb, var(--cr-bk) 96%, var(--base-white));
  --cr-we-lt: color-mix(in srgb, var(--cr-we) 90%, var(--base-white));
  --cr-we-dk: color-mix(in srgb, var(--cr-we) 80%, var(--base-black));
  --cr-we-det: color-mix(in srgb, var(--cr-we) 90%, var(--base-black));
}
