@use "../../../mixins";

.jk-icon {
  display: inline-block;
  overflow: hidden;
  --size: var(--size-icon, var(--tx-h-m));
  line-height: var(--size);
  
  @include mixins.box-size(var(--size));
  
  &.very-huge {
    --size: var(--size-icon, var(--tx-h-vh));
  }
  
  &.huge {
    --size: var(--size-icon, var(--tx-h-h));
  }
  
  &.large {
    --size: var(--size-icon, var(--tx-h-l));
  }
  
  &.regular {
    --size: var(--size-icon, var(--tx-h-m));
  }
  
  &.small {
    --size: var(--size-icon, var(--tx-h-s));
  }
  
  &.tiny {
    --size: var(--size-icon, var(--tx-h-t));
  }
  
  svg {
    width: 100%;
    height: 100%;
  }
}
