@use "../../../mixins";

.jk-icon {
  display: inline-block;
  overflow: hidden;
  --size-icon: var(--tx-h-m);
  line-height: var(--size-icon);
  
  @include mixins.box-size(var(--size-icon));
  
  &.very-huge {
    --size-icon: var(--tx-h-vh);
  }
  
  &.huge {
    --size-icon: var(--tx-h-h);
  }
  
  &.large {
    --size-icon: var(--tx-h-l);
  }
  
  &.regular {
    --size-icon: var(--tx-h-m);
  }
  
  &.small {
    --size-icon: var(--tx-h-s);
  }
  
  &.tiny {
    --size-icon: var(--tx-h-t);
  }
  
  svg {
    width: 100%;
    height: 100%;
  }
}
