@use "../../../mixins";

.jk-icon {
  display: inline-block;
  overflow: hidden;
  --size-icon: var(--size-regular-icon);
  
  //&.clickable {
  //
  //  &.very-huge { padding: 6px; }
  //
  //  // 60, total 72
  //
  //  &.huge { padding: 5px; }
  //
  //  // 48, total: 8
  //
  //  &.large { padding: 4px; }
  //
  //  // 36, total: 44
  //
  //  &.regular { padding: 3px; }
  //
  //  // 24, total: 30
  //
  //  &.small { padding: 2px; }
  //
  //  // 18, total: 22
  //
  //  &.tiny { padding: 1px; }
  //
  //  // 12, total: 14
  //}
  
  line-height: var(--size-icon);
  @include mixins.box-size(var(--size-icon));
  
  &.very-huge {
    --size-icon: var(--size-very-huge-icon);
  }
  
  &.huge {
    --size-icon: var(--size-huge-icon);
  }
  
  &.large {
    --size-icon: var(--size-large-icon);
  }
  
  &.regular {
    --size-icon: var(--size-regular-icon);
  }
  
  &.small {
    --size-icon: var(--size-small-icon);
  }
  
  &.tiny {
    --size-icon: var(--size-tiny-icon);
  }
  
  svg {
    width: 100%;
    height: 100%;
  }
}

.jk-svg-image {
  //display: block;
  width: 100%;
  height: 100%;
  
  svg {
    width: 100%;
    height: 100%;
  }
}

.jk-bg-image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  &.flag-en {
    background-image: url("assets/images/flag-en.png");
  }
  
  &.flag-es {
    background-image: url("assets/images/flag-es.png");
  }
}
